<div class="gt-float-100 gt-mt-20 gvu-top">
  <div class="container">
    <div class="gt-float-100">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 co-xs-12">
          <div class="gt-float-100 gt-center-between recom-offer">
            <div class="gt-float-left gt-vcenter recom-offer-primary">             
              <h2 class="gt-fs-16 gt-lightblack gt-text-medium reuse-title dcolor-primary">
                {{ viewConfig.title }}
              </h2>
            </div>

            <div class="gt-float-right recom-offer-secondary" *ngIf="viewConfig.items.length > 1">
              <button type="submit" class="
                  gt-btn-primary gt-center gt-wh-btn gt-text-lowercase reuse-showall
                  dark-shadow
                  bg-change-secondary
                " (click)="emitEvent()">
                {{ viewConfig.actionButton.label }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gt-float-100 gt-mt-20 gup-rp">
      <div class="row" *ngIf="viewConfig.items.length">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 co-xs-12" *ngFor="let item of viewConfig.items"> 
          <div class="gt-float-100 offer-auctions-all">
          <app-offer-auction-card [auction]="item" from="gridView" *ngIf="isAuction"></app-offer-auction-card>
          </div>
           
          <div class="gt-float-100 offer-view-all">
          <app-offer-card-default [offer]="item" from="gridView" *ngIf="!isAuction"></app-offer-card-default>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="viewConfig.items.length === 0">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3>No records found...</h3>
        </div>
      </div>
    </div>
  </div>
</div>