.store-card-address{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
}

.store-card-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 75%;
}