.gt-btn-shadow:disabled {
  cursor: not-allowed;
  // background-color: #acda77;
  // border-color: #acda77;

  background-color: #8bc63e;
  border: 1px solid #8bc63e;
  opacity: 0.5;
  transition: all 0.2s ease-in-out 0s;
}
