<div class="settings-user-bg gt-pt-20 gt-pb-100">
    <div class="container">

        <div class="gt-float-100">
        <div class="user-profile-wrapper">
        <div class="gt-float-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="gt-float-100">
                        <div class="gt-float-left gt-display-flex bredcum-title">
                            <div class="brdcum-icon" routerLink="/home" style="cursor:pointer;">
                                <img src="assets/images/breadcum-home-icon.svg" alt="icon" width="20" height="22"
                                    class="gt-img-responsive" />
                            </div>
                            <ul class="gt-display-flex bredcum-nav">
                                <li>
                                    <span class="material-icons">navigate_next</span>
                                    <div class="brelink">
                                        <a  routerLink="/settings">Settings</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

        <div class="gt-float-100 gt-mt-25">
            <div class="user-profile-wrapper">

                <div class="gt-float-100 gt-border-radius-12 setting-padding settings-wrapper bg-change">
                    <div class="gt-float-100">
                        <div class="row">
                             <div class="col-lg-12 col-md-12 col-sm-12">
                                  <div class="gt-float-100 gt-center gt-justify-content-between popular-offer">
                                       <div class="gt-float-left gt-center popular-offer-primary">
                                           <div class="recent-icon">
                                               <img src="assets/images/settings/st-security.svg" alt="icon" width="33" height="33" class="security-icon" />
                                           </div>
                                           <h2 class="gt-fs-21 pro-title-color gt-text-medium gt-ml-11 st-security dcolor-primary">Security and Privacy</h2>
                                       </div> 
                    
                                  </div>
                             </div>
                        </div>
                    </div>


                    <div class="gt-float-100 gt-mt-14" routerLink="/settings/authorization">
                        <div class="row">
                             <div class="col-lg-12 col-md-12 col-sm-12">
                                  <div class="gt-float-100 gt-center gt-justify-content-between gt-border-radius-12 gt-bg-white auth-pd gt-cursor-pointer auth-settings bg-change dark-shadow">
                                    <div class="gt-display-flex gt-align-items-center ">
                                        <div class="image-user-fd">
                                            <img src="assets/images/settings/st-unlock.svg" class="sting-image" alt="block-icons" width="21"
                                                height="21" />
                                        </div>

                                        <div class="gt-ml-17">
                                            <div class="user-stauth">
                                                <h1 class="gt-fs-17 gt-text-medium gt-lightgrayish stauth-primary dcolor-primary">Authorization</h1>
                                            </div>
                                            <div class="gt-mt-4">
                                                <h2 class="gt-fs-15 gt-text-medium ph-color dcolor-secondary">Phone, Email</h2>
                                            </div>
                                        </div>
                                    </div> 
                    
                                       <div class="gt-float-right stauth-secondary">
                                             <span class="material-icons gt-fs-21 arrow-color">arrow_forward</span>
                                       </div> 
                                  </div>
                             </div>
                        </div>
                    </div>


                    <div class="gt-float-100 gt-mt-16" routerLink="/settings/block-list">
                        <div class="row">
                             <div class="col-lg-12 col-md-12 col-sm-12">
                                  <div class="gt-float-100 gt-center gt-justify-content-between gt-border-radius-12 gt-bg-white auth-pd gt-cursor-pointer auth-settings bg-change dark-shadow">
                                    <div class="gt-display-flex gt-align-items-center ">
                                        <div class="image-user-fd">
                                            <img src="assets/images/settings/block.svg" class="sting-image" alt="block-icons" width="20"
                                                height="20" />
                                        </div>

                                        <div class="gt-ml-17">
                                            <div class="user-stauth">
                                                <h1 class="gt-fs-17 gt-text-medium gt-lightgrayish stauth-primary dcolor-primary">Block list</h1>
                                            </div>
                                            <div class="gt-mt-4">
                                                <h2 class="gt-fs-15 gt-text-medium ph-color dcolor-secondary">{{blockUserCount}} {{(blockUserCount > 1)? 'users' : 'user'}}</h2>
                                            </div>
                                        </div>
                                    </div> 
                    
                                       <div class="gt-float-right stauth-secondary">
                                             <span class="material-icons gt-fs-21 arrow-color">arrow_forward</span>
                                       </div> 
                                  </div>
                             </div>
                        </div>
                    </div>


                    <div class="gt-float-100 gt-mt-30">
                        <div class="row">
                             <div class="col-lg-12 col-md-12 col-sm-12">
                                  <div class="gt-float-100 gt-center gt-justify-content-between popular-offer">
                                       <div class="gt-float-left gt-center popular-offer-primary">
                                           <div class="recent-icon">
                                               <img src="assets/images/settings/st-notifications.svg" alt="icon" width="26" height="33" class="security-icon" />
                                           </div>
                                           <h2 class="gt-fs-21 pro-title-color gt-text-medium gt-ml-11 st-notis dcolor-primary">Notifications</h2>
                                       </div> 
                    
                                  </div>
                             </div>
                        </div>
                    </div>

                    <div class="gt-float-100 gt-mt-22" routerLink="/settings/trade-notification">
                        <div class="row">
                             <div class="col-lg-12 col-md-12 col-sm-12">
                                  <div class="gt-float-100 gt-center gt-justify-content-between gt-border-radius-12 gt-bg-white trad-pd gt-cursor-pointer auth-settings bg-change dark-shadow">
                                    <div class="gt-display-flex gt-align-items-center ">
                                        <div class="image-user-fd">
                                            <img src="assets/images/settings/st-trade.svg" class="sting-image" alt="block-icons" width="20"
                                                height="20" />
                                        </div>

                                        <div class="gt-ml-17">
                                            <div class="user-stauth">
                                                <h1 class="gt-fs-17 gt-text-medium gt-lightgrayish stauth-primary dcolor-primary">Trade Notifications</h1>
                                            </div>                                            
                                        </div>
                                    </div> 
                    
                                       <div class="gt-float-right stauth-secondary">
                                             <span class="material-icons gt-fs-21 arrow-color">arrow_forward</span>
                                       </div> 
                                  </div>
                             </div>
                        </div>
                    </div>

                    <div class="gt-float-100 gt-mt-16">
                        <div class="row">
                             <div class="col-lg-12 col-md-12 col-sm-12">
                                  <div class="gt-float-100 gt-center gt-justify-content-between gt-border-radius-12 gt-bg-white trad-pd gt-cursor-pointer auth-settings bg-change dark-shadow">
                                    <div class="gt-display-flex gt-align-items-center ">
                                        <div class="image-user-fd">
                                            <img src="assets/images/settings/st-watch.svg" class="sting-image" alt="block-icons" width="21"
                                                height="19" />
                                        </div>

                                        <div class="gt-ml-17">
                                            <div class="user-stauth">
                                                <h1 class="gt-fs-17 gt-text-medium gt-lightgrayish stauth-primary dcolor-primary">Watch Notifications</h1>
                                            </div>                                            
                                        </div>
                                    </div> 
                    
                                       <div class="gt-float-right stauth-secondary">
                                             <span class="material-icons gt-fs-21 arrow-color">arrow_forward</span>
                                       </div> 
                                  </div>
                             </div>
                        </div>
                    </div>

                    <div class="gt-float-100 gt-mt-16">
                        <div class="row">
                             <div class="col-lg-12 col-md-12 col-sm-12">
                                  <div class="gt-float-100 gt-center gt-justify-content-between gt-border-radius-12 gt-bg-white trad-pd gt-cursor-pointer auth-settings bg-change dark-shadow">
                                    <div class="gt-display-flex gt-align-items-center ">
                                        <div class="image-user-fd">
                                            <img src="assets/images/settings/st-game.svg" class="sting-image" alt="block-icons" width="24"
                                                height="15" />
                                        </div>

                                        <div class="gt-ml-17">
                                            <div class="user-stauth">
                                                <h1 class="gt-fs-17 gt-text-medium gt-lightgrayish stauth-primary dcolor-primary">Play Notifications</h1>
                                            </div>                                            
                                        </div>
                                    </div> 
                    
                                       <div class="gt-float-right stauth-secondary">
                                             <span class="material-icons gt-fs-21 arrow-color">arrow_forward</span>
                                       </div> 
                                  </div>
                             </div>
                        </div>
                    </div>
                   
                    <div class="gt-float-100 gt-mt-10">
                        <div class="row">
                             <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="gt-float-100 gt-mt-16">
                                <div class="gt-form-primary">
                                    <label for="inputState" class="gt-form-label offer-input-label dcolor-primary">Language</label>
                                    <select id="gt-select" class="gt-form-select offer-form-control">
                                        <option value="">Select Language</option>
                                        <option value="1">English</option>
                                        <option value="2">English</option>                                        
                                    </select>
                                </div>
                            </div>
                     </div>
                     </div>
                     </div>

                </div>
            </div>
        </div>

    </div>
</div>