<div class="gt-float-100 gt-pd-tb-48 footer-bg bg-change footer-new-changes">
  <div class="gt-float-100">
  <div class="container">
    <div class="gt-float-100">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="gt-float-100 ft-menu-primary">
            <div class="gt-float-left section-1">
                <h1 class="gt-float-100 gt-fs-16 gt-mb-15 gt-white dcolor-primary">About us</h1>
              <div class="gt-width-100 ft-menu-list">
                <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left gt-cursor-pointer fm-color" href="/pages/about" target="_blank">About gintaa</a></div>
                <!-- <div class="gt-float-100 gt-mb-10"><h2 class="gt-fs-13 gt-float-left fm-color"  >Press release</h2></div> -->
                <div class="gt-float-100 gt-mb-10"><h2 class="gt-fs-13 gt-float-left fm-color"  >
                  <a href="https://asconsoftech.com/index.html#career-section" target="_blank" class="fm-color">Career</a></h2>
                </div>
                <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left gt-cursor-pointer fm-color" href="/pages/press-release" target="_blank">Press release</a></div>
                <!-- <div class="gt-float-100 gt-mb-10"><h2 class="gt-fs-13 gt-float-left fm-color"  >Blog</h2></div>
                <div class="gt-float-100 gt-mb-10"><h2 class="gt-fs-13 gt-float-left fm-color"  >Sitemap</h2></div> -->
              </div>              
            </div>
            <div class="gt-float-left section-2">
              <!-- <h5 class="gt-float-100 gt-fs-16 gt-mb-15 gt-white dcolor-primary"  [routerLink]="['/legal/help']"> Need help? </h5> -->
              <h5 class="gt-float-100 gt-fs-16 gt-mb-15 gt-white dcolor-primary" > Need help? </h5>
              <ul class="gt-width-100 ft-menu-list">
                <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left fm-color" href="/pages/payments" target="_blank"> Payments </a></div>
                <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left fm-color" href="/pages/shipping-info" target="_blank">Shipping</a></div>
                <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left fm-color" href="/pages/how-gintaa-work" target="_blank">How it works</a></div>
                 <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left gt-cursor-pointer fm-color" href="/pages/faq" target="_blank">FAQ</a></div>
                <!-- <div class="gt-float-100 gt-mb-10"><h2 class="gt-fs-13 gt-float-left fm-color">Support</h2></div> -->
              </ul>
            </div>
            
            <div class="gt-float-left section-3">
              <!-- <h6 class="gt-float-100 gt-fs-16 gt-mb-15 gt-white dcolor-primary" [routerLink]="['/legal/listing']">Policy info</h6> -->
              <h6 class="gt-float-100 gt-fs-16 gt-mb-15 gt-white dcolor-primary">Legal</h6>
              <ul class="gt-width-100 ft-menu-list">
                <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left gt-cursor-pointer fm-color" href="/legal/privacy" target="_blank">Privacy policy</a></div>
                <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left gt-cursor-pointer fm-color" href="/legal/terms" target="_blank">Terms & conditions</a></div>
                <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left gt-cursor-pointer fm-color" href="/legal/cookie" target="_blank">Cookie policy</a></div>
                <!-- <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left gt-cursor-pointer fm-color" href="/legal/protection" target="_blank">Personal data protection policy</a></div> -->
                <div class="gt-float-100 gt-mb-10"><a class="gt-fs-13 gt-float-left gt-cursor-pointer fm-color" href="/legal/refund" target="_blank">Refund policy</a></div>
              </ul>
            </div>
            
            <div class="gt-float-left section-6">
              <h6 class="gt-float-100 gt-fs-16 gt-mb-5 gt-white dcolor-primary">Grievance cell officer</h6>
              <div class="gt-float-100 gt-vcenter gt-mt-10 hs-support">
                <span class="icon-user-tie gt-fs-20 gt-mr-10"></span>
                <h2 class="gt-fs-13 vh-color"> Subrata Chaudhuri</h2>
           </div>
              <div class="gt-float-100 gt-vcenter gt-mt-10 hs-support">
                   <span class="icon-support_agent gt-fs-22 gt-mr-10"></span>
                   <h2 class="gt-fs-13 vh-color"> <a href="tel:8069188100">+91 8069188100</a></h2>
              </div>
              <div class="gt-float-100 gt-vcenter gt-mt-10 hs-support">
                <span class="icon-mail_outline gt-fs-22 gt-mr-10"></span>
                <!-- <span class="icon-voicemail gt-fs-30 gt-mr-10"></span> -->
                <h2 class="gt-fs-13 vh-color">  <a href="mailto:customer@gintaa.com">customer@gintaa.com</a></h2>
           </div>
             
            </div>


            <div class="gt-float-left section-4">
              <!-- <h6 class="gt-float-100 gt-fs-16 gt-mb-5 gt-white dcolor-primary">Registered office address</h6> -->
              <h6 class="gt-float-100 gt-fs-16 gt-mb-5 gt-white dcolor-primary">Business address</h6>
              <div class="gt-float-100 gt-display-flex gt-mt-10 add-section">
                   <span class="icon-popular-loc gt-fs-18 gt-mr-12"></span>
                   <div class="gt-float-left">
                        <h4 class="gt-fs-13 fadd-color">gintaa Tower<br>

                          New Town, <br>Opposite Gate No.5 of DLF 1<br>West Bengal, India</h4>
                   </div>
              </div>
              <div class="gt-float-100 gt-vcenter gt-mt-10 hs-support">
                   <span class="icon-support_agent gt-fs-22 gt-mr-10"></span>
                   <h2 class="gt-fs-13 vh-color"> <a href="tel:8069188100">+91 8069188100</a></h2>
              </div>
              <div class="gt-float-100 gt-vcenter gt-mt-10 hs-support">
                <span class="icon-mail_outline gt-fs-22 gt-mr-10"></span>
                <!-- <span class="icon-voicemail gt-fs-30 gt-mr-10"></span> -->
                <h2 class="gt-fs-13 vh-color">  <a href="mailto:customer@gintaa.com">customer@gintaa.com</a></h2>
           </div>
              <div class="gt-float-100 gt-mt-10">
                <h2 class="gt-fs-13 vh-color">CIN : U74999WB2020PTC235913</h2>
           </div>
            </div>

            <div class="gt-float-left section-5 position-relative">
              <h6 class="gt-float-100 gt-fs-16 gt-mb-5 gt-white dcolor-primary">Important link</h6>
              <!-- <div class="live-oct-footer">
                <img src="assets/images/live_icon-footer.png" class="img-fluid"/>
             </div> -->
              <!-- <p class="live-on-oct">Live on 1st October</p> -->
               <div class="gt-float-100 gt-mt-10 gt-vcenter">  
                 <a href="https://academy.gintaa.com/"   target="_blank">          
                  <img src="assets/images/logo-green-bg.svg" width="39" height="38" alt="gintaa" class="flogo"></a>
                  <h2 class="gt-ml-10 vhh-color gt-fs-20"> <a href="http://academy.gintaa.com/"   target="_blank" style="color:#fff;"> academy</a></h2>
                 <!-- <a href="https://gintaa-academy-lfymodtgnq-as.a.run.app/" target="_blank" class="gt-vcenter">
                  <img src="assets/images/logo-green-bg.svg" width="39" height="38" alt="Gintaa" class="flogo">
                  <h2 class="gt-fs-20 gt-ml-10 vh-color">academy</h2> 
                </a> -->
                
               </div>
               <div class="gt-float-100 gt-mt-19 position-relative">
                    <h3 class="gt-fs-16 vh-color">Download our app</h3>
                    <!-- <div class="live-oct-footer">
                      <img src="assets/images/live_icon-footer_new.png" class="img-fluid"/>
                   </div> -->
                    <!-- <p class="live-on-oct">Live on 1st October</p> -->
               </div>
               <div class="gt-display-flex gt-float-100 gt-mt-10 app-link">
                  <div class="app-store">
                    <a href="https://play.google.com/store/apps/details?id=com.asconsoft.gintaa.prod" target="_blank"><img src="assets/images/google-store.png" alt="app" width="144" height="42" class="gt-img-responsive" /></a></div>
                  <div class="gt-ml-16 google-play">
                    <a href="https://apps.apple.com/in/app/gintaa/id1583773926" target="_blank"><img src="assets/images/app store.png" alt="app" width="144" height="42" class="gt-img-responsive" /></a></div>
                </div>
            </div>
          
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

 <div class="gt-float-100 gt-mt-45 gt-pt-40 fbottom copy_right_section">
  <div class="container">
    <div class="gt-float-100">
      <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12">
          <div class="gt-vcenter gt-width-100 gt-line-height-39 copy-right">
            <div class="gt-cursor-pointer gt-position-relative ft-logo" [routerLink]="['/home']">
              <img src="assets/images/logo.png" alt="logo" width="159" height="40" class="footer-logo" />
              <div class="trade-mark">
                <h6>R</h6>
              </div>
            </div>
            <div class="gt-fs-14 gt-white gt-font-poppins gt-text-regular gt-ml-24 gt-line-height-40
                copy-right-text theme-fcolor dcolor-secondary">
              © 2021 gintaa. All rights reserved. Powered by
              <a href="https://asconsoftech.com/" target="_blank"
                class="gt-cursor-pointer gt-sky dcolor-secondary">Ascon softech</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="gt-width-100 ft-social-icon">
            <ul class="gt-vcenter gt-float-right gt-social-ft  social-network-section">
              <li>
                <a href="https://www.facebook.com/OnlyGintaa" class="fb" target="_blank">
                  <img src="assets/images/facebook-white.png" alt="Facebook" />
                </a>
                <!-- <img src="assets/images/facebook-footer.png" alt="facebook" width="40" height="40" class="social-img" /> -->
              </li>
              <li>
                <a href="https://twitter.com/OnlyGintaa" class="tw" target="_blank">
                  <img src="assets/images/twitter-white.png" alt="Twitter" />
                </a>
                <!-- <img src="assets/images/Twitter.png" alt="twitter" width="40" height="40" class="social-img" /> -->
              </li>
              <li>
                <a href="https://www.linkedin.com/in/onlygintaa/" class="lin" target="_blank">
                  <img src="assets/images/linkedin-white.png" alt="Linkedin" />
                </a>
                <!-- <img src="assets/images/instagram.png" alt="instagram" width="40" height="40" class="social-img" /> -->
              </li>
              <li>
                <a href="https://www.instagram.com/onlygintaa/" class="ins" target="_blank">
                  <img src="assets/images/insta-white.png" alt="instagram" />
                </a>
                <!-- <img src="assets/images/instagram.png" alt="instagram" width="40" height="40" class="social-img" /> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 
</div>
<app-chat-bottom-sheet *ngIf="isAuthenticated() && isChatWindowOpen"></app-chat-bottom-sheet>

<div ngxScrollTop class="gt-center scroll-top dark-shadow bg-change">
  <span class="gt-white  dcolor-primary">
    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 11.0834L6.5 5.58337L12 11.0834" stroke="#8CAEC5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M1 6.5L6.5 1L12 6.5" stroke="#8CAEC5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      
      
  </span>
</div>