

<div class="settings-user-bg gt-pt-20 gt-pb-150">
    <app-loading-spinner
    loaderType="drops-fading"
    fullPage="false"
    loader="true"
    *ngIf="isLoading"
    addBackDrop="true"
    backDropColor="#000000"
  ></app-loading-spinner>
  
    <div class="container">

        <div class="gt-float-100">
            <div class="user-profile-wrapper">
                <div class="gt-float-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100">
                                <div class="gt-float-left gt-display-flex bredcum-title">
                                    <div class="brdcum-icon" routerLink="/home" style="cursor:pointer;">
                                        <img src="assets/images/breadcum-home-icon.svg" alt="icon" width="20"
                                            height="22" class="gt-img-responsive" />
                                    </div>
                                    <ul class="gt-display-flex bredcum-nav">
                                        <li>
                                            <span class="material-icons">navigate_next</span>
                                            <div class="brelink">
                                                <a routerLink="/settings">Settings</a>
                                            </div>
                                            <span class="material-icons">navigate_next</span>
                                            <div class="brelink">
                                                <a routerLink="/settings/authorization">Authorization</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-float-100 gt-mt-25">
            <div class="user-profile-wrapper">

                <div class="gt-float-100 gt-border-radius-12 setting-padding gt-pt-24 settings-wrapper setting-rppd bg-change">
                    <div class="gt-float-100">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="gt-float-100 gt-center gt-justify-content-between popular-offer">
                                    <div class="gt-float-left gt-center popular-offer-primary">
                                        <h2 class="gt-fs-21 gt-lightblack gt-text-medium dcolor-primary">Credentials</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="gt-float-100 gt-mt-40"  *ngIf="phoneNo">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="gt-float-100 gt-pd-9">
                                    <div class="gt-center gt-justify-content-between user-cred">
                                        <div class="gt-float-left gt-center">
                                            <div class="recent-icon">
                                                <img src="assets/images/settings/st-phone.svg" class="sting-image"
                                                    alt="block-icons" width="16" height="22" />
                                            </div>
                                            <!-- <h2 class="gt-fs-18 gt-ml-13 gt-lightblack gt-opacity-9 ">+38 (093) 754 23 43 (old)</h2> -->
                                            <h2 class="gt-fs-18 gt-ml-13 gt-lightblack dcolor-primary">{{phoneNo}}</h2>
                                        </div>

                                        <div class="recent-icon">
                                            <img src="assets/images/settings/st-pocket.svg" class="sting-image"
                                                alt="block-icons" width="24" height="24" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="gt-float-100 gt-mt-15">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="gt-float-100 gt-pd-9">
                                    <div class="gt-width-327 gt-center gt-justify-content-between user-cred">
                                        <div class="gt-float-left gt-center">                                            
                                            <h2 class="gt-fs-18 gt-ml-29 ph-color gt-opacity-9 ">+38 (063) 944 66 51 (new)</h2>
                                        </div>

                                        <div class="recent-icon">
                                            <img src="assets/images/settings/st-pocket-un.svg" class="sting-image"
                                                alt="block-icons" width="24" height="24" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                        <div class="gt-float-100 gt-mt-41" *ngIf="userEmail">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="gt-float-100 gt-pd-9">
                                        <div class="gt-center gt-justify-content-between user-cred">
                                            <div class="gt-float-left gt-center ">
                                                <div class="recent-icon">
                                                    <img src="assets/images/settings/st-email.svg" class="sting-image"
                                                        alt="block-icons" width="22" height="18" />
                                                </div>
                                                <h2 class="gt-fs-18 gt-ml-13 gt-lightblack gt-width-270 dcolor-primary">
                                                    <!-- kizhstudio@gmail.com  -->
                                                    {{userEmail}}
                                                </h2>
                                            </div>

                                            <div class="recent-icon">
                                                <img src="assets/images/settings/st-pocket.svg" class="sting-image"
                                                    alt="block-icons" width="24" height="24" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="gt-float-100 gt-mt-8">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 co-xs-12">
                                    <div class="gt-float-100 choose-offer">
                                         <h3 class="gt-fs-18 gt-text-medium gt-primary gt-ml-44">Resend activation link</h3>
                                    </div> 
                                </div>
        
                            </div>
                        </div> -->

                        <div class="gt-float-100 gt-mt-51">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div
                                        class="gt-float-100 gt-center gt-justify-content-between gt-border-radius-12 gt-bg-white trad-pd auth-settings bg-change dark-shadow">
                                        <div class="gt-display-flex gt-align-items-center ">
                                            <div class="image-user-fd">
                                                <img src="assets/images/settings/st-phone.svg" class="sting-image"
                                                    alt="block-icons" width="16" height="22" />
                                            </div>

                                            <div class="gt-ml-20">
                                                <div class="user-stauth">
                                                    <h1 
                                                        class="gt-fs-21 gt-text-medium gt-lightgrayish gt-cursor-pointer stauth-primary dcolor-primary"
                                                        (click)="openChangeDialog('change_phone')"
                                                    >
                                                        {{phoneNo ? 'Change' : 'Add'}} phone number</h1>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="gt-float-right stauth-secondary">
                                             <span class="material-icons gt-fs-22 arrow-color">arrow_forward</span>
                                       </div>  -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="gt-float-100 gt-mt-16">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div
                                        class="gt-float-100 gt-center gt-justify-content-between gt-border-radius-12 gt-bg-white trad-pd auth-settings bg-change dark-shadow">
                                        <div class="gt-display-flex gt-align-items-center ">
                                            <div class="image-user-fd">
                                                <img src="assets/images/settings/password-change.svg"
                                                    class="sting-image" alt="block-icons" width="24" height="7" />
                                            </div>

                                            <div class="gt-ml-15">
                                                <div class="user-stauth">
                                                    <h1 class="gt-fs-21 gt-text-medium gt-lightgrayish gt-cursor-pointer stauth-primary dcolor-primary" (click)="openChangeDialog('change_password')">
                                                        Change password</h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="gt-float-100 gt-mt-16">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="gt-float-100 gt-center gt-justify-content-between gt-border-radius-12 gt-bg-white trad-pd auth-settings bg-change dark-shadow">
                                        <div class="gt-display-flex gt-align-items-center ">
                                            <div class="image-user-fd">
                                                <img src="assets/images/settings/st-email.svg" class="sting-image"
                                                    alt="block-icons" width="22" height="18" />
                                            </div>

                                            <div class="gt-ml-20">
                                                <div class="user-stauth">
                                                    <h1 class="gt-fs-21 gt-text-medium gt-lightgrayish gt-cursor-pointer stauth-primary dcolor-primary" (click)="openChangeDialog('change_email')">
                                                        {{userEmail ? 'Change' : 'Add'}} email</h1>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="gt-float-right stauth-secondary">
                                             <span class="material-icons gt-fs-22 arrow-color">arrow_forward</span>
                                       </div>  -->
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>