<div class="footer-page-bg gt-pt-20">
    <div class="container">

        <div class="gt-float-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="gt-float-100">
            
            <app-bread-crumb [breadcrumbs]="breadcrumb"> </app-bread-crumb>
            
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-float-100 gt-mt-25">
            <div class="gt-float-100 gt-border-radius-12 gt-pd-lr-32 gt-pt-44 gt-pb-40 settings-wrapper bg-change">


                <section class="blog_articles_section">

                    <div class="gt-float-100">

                        <div class="row">
                            <div class="col-md-12">

                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <h4>REFUND POLICY</h4>
                                    <p>The following is the Refund Policy for gintaa. You are requested to read the
                                        Refund Policy thoroughly and carefully and make yourself conversant with the
                                        same.</p>
                                    <p>Please note gintaa shall not be liable in any manner whatsoever, for any loss
                                        suffered by you if any transaction is undertaken by you through gintaa portal
                                        without understanding this Refund Policy.</p>
                                </div>

                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <h4>General Terms:</h4>
                                    <ul>
                                        <li>gintaa uses third party service provider called Online Payment Mechanism
                                            ("OPM"), which are controlled by the concerned third party on which gintaa
                                            does not have any control on these OPM.</li>
                                        <li>These OPM have their own respective refund policies. In case of any conflict
                                            between the gintaa Refund Policy and the OPM service provider’s Refund
                                            Policy, the later shall prevail.</li>
                                        <li>gintaa reserves the right to amend this policy at any point of time. You are
                                            requested to keep yourself updated about the policy generally and
                                            specifically at the time of concluding a sale.</li>
                                        <li>This Policy was last updated on 17/08/2021</li>
                                    </ul>

                                </div>

                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <h3>Specific Terms</h3>
                                </div>

                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <h3>A. Refund of Courier Charges</h3>
                                </div>

                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <p>Whenever, you are using any courier facility arranged by gintaa, you shall have
                                        to make certain payment towards the courier unless categorically exempted.</p>
                                    <p>While, courier charges once paid shall not be refundable, there may be some
                                        exceptional situation where any part or whole of the courier charges paid by you
                                        is entitled for refund. In such a situation, the Refund shall be initiated as
                                        under:-</p>
                                </div>

                                <div class="gt-float-100">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Payment Mode</th>
                                                <th scope="col">Refund to</th>
                                                <th scope="col">Timeline</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Credit Card / Debit Card</td>
                                                <td>The Credit Card / Debit Card Account from where it was paid</td>
                                                <td>5-7 business days</td>
                                            </tr>
                                            <tr>
                                                <td>Net Banking Account</td>
                                                <td>Credited to Bank Account from where it was paid.</td>
                                                <td>5-7 business days</td>
                                            </tr>

                                            <tr>
                                                <td>UPI Linked Bank Account</td>
                                                <td>Credited to Bank Account from where it was paid.</td>
                                                <td>5-7 business days</td>
                                            </tr>

                                            <tr>
                                                <td>Payment Wallet</td>
                                                <td>Credited to the e-Wallet from where it was paid.</td>
                                                <td>1-2 business days</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>





                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <h3>B. Refund of Insurance Premium</h3>
                                </div>

                                <div class="gt-float-100 gintaa-privacy-policy">
                                     <p>Whenever, you are using any insurance of your product arranged by gintaa, you shall have to make certain payment towards the insurance company as premium, unless categorically exempted.</p>
                                     <p>While, premium once paid shall not be refundable, there may be some exceptional situation where any part or whole of the insurance premium paid by you is entitled for refund. In such a situation, the Refund shall be initiated as under:-</p>
                                </div>

                                <div class="gt-float-100">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Payment Mode</th>
                                                <th scope="col">Refund to</th>
                                                <th scope="col">Timeline</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Credit Card / Debit Card</td>
                                                <td>The Credit Card / Debit Card Account from where it was paid</td>
                                                <td>5-7 business days</td>
                                            </tr>
                                            <tr>
                                                <td>Net Banking Account</td>
                                                <td>Credited to Bank Account from where it was paid.</td>
                                                <td>5-7 business days</td>
                                            </tr>

                                            <tr>
                                                <td>UPI Linked Bank Account</td>
                                                <td>Credited to Bank Account from where it was paid.</td>
                                                <td>5-7 business days</td>
                                            </tr>

                                            <tr>
                                                <td>Payment Wallet</td>
                                                <td>Credited to the e-Wallet from where it was paid.</td>
                                                <td>1-2 business days</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>






                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <h3>C. Refund of Money Paid for Returned Items</h3>
                                </div>

                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <h3>I. For Exchange of Used Items:</h3>
                                    <p>As the payment made by you will be credited directly to the account of the seller, please read the exchange or refund rules proposed by your seller and trade accordingly. gintaa shall not be responsible for any transaction under this category except to the extent that of providing a platform.</p>
                                </div>


                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <h3>II. For Sale of New Items by gintaa registered sellers:</h3>
                                    <p>While concluding a sale please read and understand the return and refund policy of the specific item or category. While majority items shall be returnable and thus entitled for a refund, some of them might not be returnable, like perishable items, innerwear, medical equipment etc. and thus not entitled to refund.</p>
                                    <p>For products, which are returnable and thus entitled to refund shall be subject to the following refund policy. </p>
                                    <p>You shall generally have 15 days’ time to refund unless specifically modified by the seller at the time of sale.</p>
                                    <p>You shall have to initiate the return within those 15 days for being picked up by our authorised representative.</p>
                                    <p>Soon after we receive the product you return or the seller confirms gintaa about the receipt of return, as the case may be, a refund is issued to the original payment method or to your bank account or b way of cheque despatched to your registered addressed, as per the following timeline:-</p>
                                 </div>




                                 <div class="gt-float-100">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Payment Mode</th>
                                                <th scope="col">Refund to</th>
                                                <th scope="col">Timeline</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Credit Card / Debit Card</td>
                                                <td>The Credit Card / Debit Card Account from where it was paid</td>
                                                <td>5-7 business days</td>
                                            </tr>
                                            <tr>
                                                <td>Net Banking Account</td>
                                                <td>Credited to Bank Account from where it was paid.</td>
                                                <td>5-7 business days</td>
                                            </tr>

                                            <tr>
                                                <td>UPI Linked Bank Account</td>
                                                <td>Credited to Bank Account from where it was paid.</td>
                                                <td>5-7 business days</td>
                                            </tr>

                                            <tr>
                                                <td>Payment Wallet</td>
                                                <td>Credited to the e-Wallet from where it was paid.</td>
                                                <td>3-5 business days</td>
                                            </tr>

                                            <tr>
                                                <td>Cash on Delivery</td>
                                                <td>Credited to your Bank account from where it was paid.
                                                    Under exceptional circumstances, paper cheque will be issued encashable as per as most of the city.
                                                    </td>
                                                <td>3-5 business days</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>


                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <h3>Other Terms of Refund under this head:</h3>
                                    <p>1. No cash refund is allowed</p>
                                    <p>2. In case your account with the Financial Institution (Bank / Credit Card) from where you paid is no longer in existence, you may request to the customer care for issuance of a demand draft which shall be issued for the refund amount after deducting therefrom the bank charges if any and shall be sent by post to your registered address. gintaa shall not be responsible for any misplaced Demand Draft at any point of time.</p>
                                </div>


















                            </div>
                        </div>

                    </div>

                </section>


















            </div>

        </div>

    </div>
</div>