<div
  class="gt-display-flex osc-secondary"
  
  *ngIf="offerDetails"
>
  <div class="osc-image">
    <img
      [src]="
        offerDetails.images.length > 0
          ? offerDetails.images[0].url
          : defaultImage
      "
      class="image-width-48 border-radius-100"
      alt="image"
    />
  </div>

  <div class="gt-ml-12 noti-box">
    <div class="noti-title">
      <h1 class="gt-fs-16 gt-text-medium gt-lightblack dcolor-primary">
        Bids For
        <span class="gt-primary">23 August</span>
      </h1>
    </div>
    <!-- <div class="gt-width-100 gt-mt-4 gt-vcenter noti-deal">
                <div class="gt-vcenter noti-left">
                    <img src="assets/pro/31.jpg" class="image-width-24 gt-border-radius-4 gt-mr-4" alt="image" />
                    <img src="assets/pro/39.jpg" class="image-width-24 gt-border-radius-4 gt-mr-4" alt="image" />
                    
                </div>
                <div class="gt-vcenter gt-pd-lr-11 noti-middle">
                    <img src="assets/images/chat/arrow-dchat.svg" class="dchat-arrow" alt="image" width="10" height="10"/>
                </div>
                <div class="gt-vcenter noti-right">
                    <img src="assets/pro/31.jpg" class="image-width-24 gt-border-radius-4 gt-mr-4" alt="image" />
                    <img src="assets/pro/39.jpg" class="image-width-24 gt-border-radius-4 gt-mr-4" alt="image" />
                   
                </div>
            </div> -->
    <div class="gt-mt-8 noti-text">
      <h2 class="gt-fs-14 gt-lightblack dcolor-primary">
        You offer {{ offerDetails.name }} had 3 bids
      </h2>
    </div>
    <div class="gt-mt-8 noti-date">
      <h3 class="gt-fs-14 gt-lightgrayish dcolor-primary">
        {{ data.notifyOn }}
      </h3>
    </div>
  </div>
</div>
