<div class="gt-float-100 gt-mb-15 gt-center-between sort-bys">

  <div class="currency-group gt-border-none offer-search">
    <div class="currency-input-group gt-border-none gt-border-radius-2 gt-height-42">
      <input type="text" class="currency-form-control" placeholder="Search" #searchText
        (keyup.enter)="sendFilterData(searchText.value)" (keyup)="sendFilterData(searchText.value)"/>
      <div class="currency-input-group-append gt-bg-sky">
        <div class="gt-cursor-pointer currency-input-group-text" (click)="sendFilterData(searchText.value)">
          <img src="assets/images/create-offer/search-btnw.svg" width="20" height="20" alt="icon" class="ser-icons">
          <h2 class="gt-fs-14 gt-white gt-ml-20">Search</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="gt-float-right gt-center-end">
    <h2 class="gt-fs-14 gt-text-medium gt-lightgrayish"> {{finalResult.length}} bids found</h2>

  </div>

</div>




<div class="gt-float-100 gt-mt-15 myoffers-lidting">
  <div class="gt-float-100 published-offers">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 co-xs-12" *ngFor="let auction of finalResult" (click)="navigateToOffer(auction)">
        <div class="single-arrivals-products gt-cursor-pointer gt-pd-zero gt-pd-tb-6 auc-shadow">
          <div class="arrivals-products-image gt-pd-lr-6">
            <div class="pr-image max-height-img-200"><img [src]="auction.addtionalInfo?auction.addtionalInfo[0]?auction.addtionalInfo[0].auction?auction.addtionalInfo[0].auction.cover?auction.addtionalInfo[0].auction.cover:defaultCoverImage:defaultCoverImage:defaultCoverImage:defaultCoverImage" class="gt-img-responsive" alt="image">
              <div class="color-overlay"></div>
              <div class="auction-timing">
                <div class="gt-center timing-bar">
                  <div class="time-1">
                    <h2 class="gt-width-100 gt-center time-color gt-fs-14">{{auction.cdDays}}</h2>
                    <h3 class="gt-width-100 gt-center gt-black gt-mt-2 gt-fs-11">Days</h3>
                  </div>
                  <div class="time-1">
                    <h2 class="gt-width-100 gt-center time-color gt-fs-14">{{auction.cdHours}}</h2>
                    <h3 class="gt-width-100 gt-center gt-black gt-mt-2 gt-fs-11">Hours</h3>
                  </div>
                  <div class="time-1">
                    <h2 class="gt-width-100 gt-center time-color gt-fs-14">{{auction.cdMins}}</h2>
                    <h3 class="gt-width-100 gt-center gt-black gt-mt-2 gt-fs-11">Minutes
                    </h3>
                  </div>
                  <div class="time-1 gt-borderne">
                    <h2 class="gt-width-100 gt-center time-color gt-fs-14">{{auction.cdSecs}}</h2>
                    <h3 class="gt-width-100 gt-center gt-black gt-mt-2 gt-fs-11">Seconds
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="arrivals-products-content product-content-pd auctions-title">
            <div class="offer-name-primary gt-text-center gt-ellipsis prod-title">{{auction.addtionalInfo?auction.addtionalInfo[0]?auction.addtionalInfo[0].auction?auction.addtionalInfo[0].auction.name:"":"":""}} </div>
          </div>
          <div class="gt-float-100 gt-pd-lr-12 gt-pt-15 aubid-ewrappe">
            <div class="gt-vcenter auc-group">
              <div class="gt-vcenter gt-width-50 current-bidp"><img src="assets/images/create-offer/auction-od.svg"
                  width="30" height="26" alt="image" class="gt-mr-10 avftg">
                <div class="aucprcie">
                  <h2 class="gt-fs-14 gt-black au-opacity">Current Bid</h2>
                  <div class="gt-vcenter gt-mt-4"><img src="assets/images/create-offer/auc-price.svg" width="10"
                      height="18" alt="image" class="gt-mr-4 avftg">
                    <h3 class="gt-fs-14 gt-black">{{auction.addtionalInfo?auction.addtionalInfo[0]?auction.addtionalInfo[0].bidPrice:"":""}}</h3>
                  </div>
                </div>
              </div>
              <div class="gt-vcenter gt-width-50 gt-pl-25 buyout-bid"><img
                  src="assets/images/create-offer/auc-money.svg" width="40" height="40" alt="image"
                  class="gt-mr-3 avftg">
                <div class="aucprcie">
                  <h2 class="gt-fs-14 gt-black au-opacity">Buyout</h2>
                  <div class="gt-vcenter gt-mt-4"><img src="assets/images/create-offer/auc-price.svg" width="10"
                      height="18" alt="image" class="gt-mr-4 avftg">
                    <h3 class="gt-fs-14 gt-black">{{auction.buyOutPrice}}</h3>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>



      

      
    </div>
  </div>
</div>