	
	.pre_next{
		position: absolute;
		right: 0;
		top: 23px;
		width: 100%;
	}
	
	.owl-theme .owl-nav {  
	  display: none;
	}
	a.arrow_left {
	  position: absolute;
	  top: 0;
	  z-index: 9;
	  opacity: 1;
	  left: -21px;
	  width: 30px;
	  height: 40px;
	  background: #FFFFFF;
	  box-shadow: 4px 12px 16px rgba(224, 232, 239, 0.8), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
	  -webkit-box-shadow: 4px 12px 16px rgba(224, 232, 239, 0.8), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
	  -moz-box-shadow: 4px 12px 16px rgba(224, 232, 239, 0.8), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
	  //border-radius: 12px;
	  //-webkit-border-radius: 12px;
	  //-moz-border-radius: 12px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
	a.arrow_right {
		position: absolute;
		top: 0;
		z-index: 9;
		opacity: 1;
		right: -21px;
		width: 30px;
		height: 40px;
		background: #FFFFFF;
		box-shadow: 4px 12px 16px rgba(224, 232, 239, 0.8), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
		-webkit-box-shadow: 4px 12px 16px rgba(224, 232, 239, 0.8), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
		-moz-box-shadow: 4px 12px 16px rgba(224, 232, 239, 0.8), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
		//border-radius: 12px;
		//-webkit-border-radius: 12px;
		//-moz-border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// a.arrow_left,
	// a.arrow_right{
	// background: #fff;
	// }
	a.arrow_left span {
		font-size: 25px;		
		color: #121212;
	  }
	  a.arrow_right span{
		font-size: 25px;		
		color: #121212;
	  }
	  
  
.name-ec {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
}  
a.arrow_left.disabled ,
a.arrow_right.disabled {
	background: #f5f8fc;
    box-shadow: none;
	display: none;
}
a.arrow_left.disabled, a.arrow_right.disabled span{
	color: #a0a0a0;
}