<div class="gt-float-100 gt-border-radius-4 gt-pb-20 gt-mt-20 upload-noffer-right">
    <div class="gt-float-100 gt-pt-10 gt-pb-15 gt-pd-lr-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="gt-float-100 gt-vcenter secure-vh">
                     <span class="icon-gt-security gt-fs-25"></span>
                    <h2 class="gt-fs-17 gt-ml-10 gt-black-90">100% safe & secure</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="gt-float-100 gt-pd-lr-12">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">                
                    <div class="gt-float-100">                       
                        <div class="tips-list">
                            <h3 class="gt-fs-13 gt-black-60">100% payment protection. return or replacement is applicable for 7 days after delivery</h3>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>