<div class="gt-float-100 gt-bg-white gt-pt-20 today-offer-wrapper od-border-top"
  *ngIf="(totalPotentialOfferLength$ | async) as totalLength">
  <div class="container">
    <div class="gt-float-100">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="gt-float-100 gt-center-between item-offer">
            <div class="gt-float-left gt-vcenter item-offer-primary">
              <h2 class="gt-fs-16 gt-black dcolor-secondary">Potential matches with this listing</h2>
            </div>
            <div class="gt-float-right item-offer-secondary" *ngIf="totalLength > 4">
              <button type="submit" class="gt-btn-primary gt-center gt-wh-btn dark-shadow bg-change-secondary"> view all
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gt-float-100 auctions-slide">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="gt-float-100 auth-math-slider">
            <div class="carousel-pnext pre_next gt-vcenter auctions-prenext">
              <a *ngIf="isShowPrev" class="arrow_left" (click)="owlCar.prev()"><span
                  class="material-icons gt-center dark-shadow-import bg-change-secondary-import">keyboard_arrow_left</span></a>
              <a *ngIf="isShowNext && totalLength > 4" class="arrow_right" (click)="owlCar.next()"><span
                  class="material-icons gt-center dark-shadow-import bg-change-secondary-import">keyboard_arrow_right</span></a>
            </div>
            <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event, totalLength)" #owlCar>
              <ng-template ngFor let-i="index" let-c="count" let-products [ngForOf]="potentialMatchOffers$ | async">
                <ng-template carouselSlide>
                  <div class="single-arrivals-products gt-cursor-pointer" [routerLink]="['/offer/', products.sourceAsMap?.oid]">
                    <div class="arrivals-products-image">
                      <div class="pr-image max-height-img-180">
                        <img [src]="products.sourceAsMap?.image.url" class="gt-img-responsive" alt="image">
                      </div>
                      <div class="arrivals-action">
                        <div class="offer-location">{{products?.sourceAsMap | offerLocation}}</div>
                        <span class="material-icons fav-btn">favorite_border</span>
                      </div>
                    </div>

                    <div class="arrivals-products-content product-content-pd">
                      <div class="offer-name-primary gt-ellipsis" ellipsis>{{products?.sourceAsMap?.name | trimTextToCertainNumberCharector: 18}}</div>
                      <div class="pr-desire">
                        <img src="assets/images/home/desire-icon.svg" class="desire-img" alt="image">
                        <h5>{{products?.sourceAsMap | offerDesire}}</h5>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ng-template>

              
              <ng-template carouselSlide *ngFor="let item of staticBanners;">
                <a href="javascript:;" >
                  <img  src="{{item.image}}" class="last-view-image" alt="image">
                </a>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>