<div class="press-release_banner position-relative">
    <!-- <div   class="carousel slide carousel-fade"     id="banner-carousel"     data-ride="carousel"   data-interval="4000"
    data-pause="false"
  >
  <div class="carousel-inner">
    <div   class="carousel-item active" >
  <img src="assets/images/press_release/press_release2.jpg" class="img-fluid" />
 </div>
 <div   class="carousel-item " >
    <img src="assets/images/press_release/press_release3.jpg" class="img-fluid" />
   </div>
   <div   class="carousel-item " >
    <img src="assets/images/press_release/press_release4.jpg" class="img-fluid" />
   </div>

      </div>
      <ol class="carousel-indicators">
        <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#banner-carousel" data-slide-to="1" class="active"></li>
        <li data-target="#banner-carousel" data-slide-to="2" class="active"></li>
      </ol>
  </div> -->
  <div   class="" >
    <img src="assets/images/press_release/press_release2.jpg" class="img-fluid" />
   </div>

    <div class="overlay_press"></div>

    <div class="press_release_banner_text position-absolute w-100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-9">
                            <div class="black-bg">
                                <div class="date">October 1, 2021 <span class="d-block">Bengaluru</span></div>
                                <div class="press_head">
                                    “gintaa”- India’s first complete patented e-Commerce plus launched
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
    </div>

</div>

<div class="footer-page-bg pt-5 pb-5 bg-white">
    <div class="container">
      
        <div class="row justify-content-center">
            <div class="col-md-10">
                    <div class="press_description text-left pt-5 mt-4">
                        <p><span class="font-bold">gintaa</span> a brand of Ascon Softech India Pvt Ltd, a start-up aiming big on the online retailing sector set to change the dynamics of e-Commerce business was launched on 1st October 2021 at Bengaluru. The new Kolkata headquartered start-up is all set to change the dynamics of the e Commerce business.</p>

                        <p>At the launch Chairman & MD Laxman Jaiswal said, “<span class="font-bold">gintaa</span> is based on the pristine Indian value of GIVE & TAKE, gintaa, the social e Commerce platform with B2B, B2C, C2B, C2Cselling, buying,  and exchange shall cover almost every conceivable aspect of e-Commerce and beyond.”</p>
                        <p><span class="font-bold">gintaa</span> is aimed at cashing in on the growing e Commerce business in India with a steady growth of 50-60% over the years.</p>
                        <p>According to the Director  & CEO Soham Jaiswal, “gintaa shall offer an in-built mechanism which shall have a unique rating system for its sellers, service providers, buyers as well as end users, thereby negating any possibility of fraudulent usage of the platform. gintaa is backed by a retinue of features such as a logistics partner in India Post thereby ensuring reach to the farthest corners of the land, insured deliveries thereby providing a guarantee of safety for its users, constant system upgradation to minimise possibilities of technical glitches, and a dedicated team providing a complete 24×7 SWOT (Strengths, Weaknesses, Opportunities and Threats) analysis thereby giving it a platinum edge.” He emphasised on the <span class="font-bold">JOIN. ACT. GROW</span> philosophy of the company.</p>
                    </div>
            </div>
        </div>
  
     
    </div>
  </div>
  