<div class="footer-page-bg gt-pt-20">
    <div class="container">

        <div class="gt-float-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="gt-float-100">
           
            <app-bread-crumb [breadcrumbs]="breadcrumb"> </app-bread-crumb>
            
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-float-100 gt-mt-25">
            <div class="gt-float-100 gt-border-radius-12 gt-pd-lr-32 gt-pt-44 gt-pb-40 settings-wrapper bg-change">


                <section class="blog_articles_section">

                    <div class="gt-float-100">
                
                        <div class="row">
                            <div class="col-md-12">
                                
                                        
                                       

                                        <div class="gt-float-100 gintaa-privacy-policy">
                                            <h4>COOKIE POLICY</h4>
                <p> We at <a href="www.gintaa.com">www.gintaa.com</a> in the course of providing our service through our website use cookies. </p>
                <p>A cookie is a small file placed by us on the hard drive of your computer which helps us to learn about your usage pattern, the type of browser you use, your interests. Cookies also helps in analysing and measuring traffic and frequency of browsing, define services and offers personalized user experience <a href="www.gintaa.com">www.gintaa.com</a>. In effect you will have an ease of operation on our website from your second visit if you allow Cookies to remain on your computer.</p>
                <p>Your Personal Data or Sensitive Personal Data are not stored in cookies and cookies do not harm your device. </p>
                <p>By continuing to use <a href="www.gintaa.com">www.gintaa.com</a>, you agree to our use of Cookie Policy.</p>
                                        </div> 
                                        
                                       



























                
                            </div>
                        </div>
                
                    </div>
                
                </section>


               


               



                



                




            </div>

        </div>

    </div>
</div>