<div class="gt-float-100 gt-mt-25 gt-pb-40">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="profile-edit gt-center">
        <ngx-skeleton-loader
          count="1"
          appearance="circle"
          animation="progress-dark"
          [theme]="{
            width: '26px',
            height: '26px',
            'background-color': '#343a40',
            'border-radius': '50%'
          }"
        ></ngx-skeleton-loader>
      </div>

      <div class="gt-center gt-mt-25 user-profile-img">
        <div class="users-boxs user-box-border profile-img-primary">
          <ngx-skeleton-loader
            count="1"
            appearance="circle"
            animation="progress-dark"
            [theme]="{
              width: '120px',
              height: '120px',
              'background-color': '#343a40',
              'border-radius': '50%'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>

  <div class="gt-float-100">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="gt-float-100 gt-mt-12 gt-center">
          <ngx-skeleton-loader
            count="1"
            appearance="circle"
            animation="progress-dark"
            [theme]="{
              width: '200px',
              height: '10px',
              'background-color': '#343a40',
              'border-radius': '10px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>

  <div class="gt-float-100">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="gt-float-100 gt-center user-name-pro">
          <ngx-skeleton-loader
            count="1"
            appearance="circle"
            animation="progress-dark"
            [theme]="{
              width: '250px',
              height: '20px',
              'background-color': '#343a40',
              'border-radius': '10px'
            }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ngx-skeleton-loader
        count="1"
        appearance="circle"
        animation="progress-dark"
        [theme]="{
          width: '100%',
          height: '260px',
          'background-color': '#343a40',
          'border-radius': '10px'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ngx-skeleton-loader
        count="2"
        animation="progress-dark"
        [theme]="{
          'background-color': '#343a40'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>
