<div class="gt-pd-12 hide-offerh-wrapper bg-change">
    <div class="popup-closed close-pop" (click)="dialogClose()">
        <span class="material-icons">close</span>
    </div>

    <div class="gt-float-100">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="gt-float-100 gt-display-flex">
                    <h1 class="gt-fs-15 gt-text-medium gt-lightblack dcolor-primary">Delete listing</h1>
                </div>

            </div>
        </div>
    </div>

   
        

        <div class="gt-float-100 gt-mt-15 dop-rp">
        <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="gt-center">
                        <div class="feed-image">
                            <img [src]="offer.images | coverImage" alt="images" class="gt-border-radius-circle fed-image" width="135" height="135" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-float-100 gt-mt-15 gt-pl-20 gt-pr-20 dos-rp">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="gt-float-100 gt-center gt-text-center ">
                        <h2 class="gt-fs-14 gt-lightblack gt-text-medium dcolor-primary">{{offer.name}}</h2>
                    </div>
                </div>
            </div>
        </div>
        

         

        <div class="gt-float-100 gt-mt-10 ido-rp">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="gt-center">
                        <div class="feed-image">
                            <img src="assets/images/profile/profile-photo-delete.svg" alt="images" class="offer-del" width="20" height="22" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-float-100 gt-mt-10  wd-rp dop-rp">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="gt-float-100 gt-center gt-text-center">
                        <h2 class="gt-fs-13 gt-lightblack gt-text-medium dcolor-primary">Do you want to delete this listing <span class="gt-danger d-block">permanently?</span></h2>
                    </div>
                </div>
            </div>
        </div>


          <div class="gt-float-100 gt-mt-40 csb-rp">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
                  <div class="gt-center-between">     
                  <div class="gt-float-100 gt-pr-12">
                        <button type="button" (click)="dialogClose()" class="gt-btn-primary gt-width-100 gt-center gt-bg-transparent gt-border-radius-2 gt-fs-15 gt-text-medium gt-height-48 gt-info-important db-cancel">cancel</button>
                    </div>   

                    <div class="gt-float-100 gt-pl-12">
                        <button type="button" (click)="deleteOffer()" class="gt-btn-primary gt-width-100 gt-center gt-border-radius-2 gt-fs-15 gt-text-medium gt-height-48 gt-border-none bg-dsubmit">delete</button>
                    </div>

                    </div>
                </div>
            </div>
        </div>


    










</div>