<div class="gt-bg-white gt-border-radius-2 gt-float-left gt-position-relative create-business-bank">
     <div class="gt-float-100 cb-bank-wrapper">
          <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 gt-pr-zero">
                    <div class="gt-float-100 gt-position-relative cbb-left">
                         <app-grow-business></app-grow-business> 
                    </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 gt-pl-zero">
                    <div class="gt-float-100 gt-position-relative cbb-right">
                          <!-- <app-register-business-account></app-register-business-account>  -->
                          <!-- <app-register-bank-account></app-register-bank-account>    -->
                          <app-register-under-review></app-register-under-review>
                    </div>
            </div>
          </div> 
     </div>
</div>    
