<div class="add-member-wrapper">
  <div class="gt-float-100 sub-member-wrapper bg-change dark-shadow">
    <div class="gt-float-100 gt-bg-sky gt-vcenter gt-pd-tb-9 gt-pd-lr-16">
      <span
        class="material-icons gt-white gt-mr-12"
        (click)="onDialogClose()"
        style="cursor: pointer"
        >arrow_back</span
      >
      <img
        [src]="userNoImage"
        alt="image"
        width="40"
        height="40"
        class="image-width"
      />
      <h1 class="gt-fs-18 gt-text-medium gt-white gt-ml-12">Invited member</h1>
    </div>
    <form [formGroup]="businessMemberForm" (ngSubmit)="resendInvitation()">
      <div class="gt-float-100">
        <div class="gt-float-100 gt-mt-40 gt-pl-71 gt-pr-73">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="gt-float-100">
                <div class="gt-display-flex">
                  <div class="gt-display-flex">
                    <div class="image-user-fd">
                      <img
                        [src]="
                          member.memberDetails.image
                            ? member.image
                            : 'assets/images/user-default-img/chatu-noimg.svg'
                        "
                        class="com-res"
                        [alt]="member.name"
                        width="64"
                        height="64"
                      />
                    </div>

                    <div class="gt-ml-14">
                      <div class="user-name-fd">
                        <h1
                          class="
                            gt-fs-21 gt-text-medium gt-lightblack
                            dcolor-primary
                          "
                        >
                          {{ member.memberDetails.name }}
                        </h1>
                      </div>
                      <div class="gt-mt-8 user-name-fd">
                        <h2 class="gt-fs-16 gt-lightgrayish dcolor-secondary">
                          {{ member.memberDetails.email }}
                        </h2>
                      </div>
                      <div class="gt-mt-4 user-name-fd">
                        <h2 class="gt-fs-16 gt-lightgrayish dcolor-secondary">
                          {{ member.memberDetails.mobile }}
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="gt-float-100 gt-pl-83 gt-pr-73 gt-mt-12">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="gt-float-100">
                <h1 class="gt-fs-16 dc-outgoing dcolor-primary">
                  Invitation sent on:
                  {{ member.requestedOn | date: "d/M/yyyy" }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="gt-float-100 gt-pl-83 gt-pr-73 gt-mt-4">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="gt-float-100">
                <h1 class="gt-fs-16 gt-opacity-9 not-acccolor">
                  {{ !member.accepted ? "Not Accepted" : "Accepted" }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="gt-float-100 gt-pl-71 gt-pr-73 gt-mt-24">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="gt-float-100">
                <h1
                  class="gt-fs-18 gt-text-medium gt-lightgrayish dcolor-primary"
                >
                  Role
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="gt-float-100 gt-pl-71 gt-pr-73 gt-mt-8">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="gt-float-left gt-vcenter">
               
                <div
                  class="
                    gt-border-radius-8
                    gt-center
                    gt-pd-lr-16
                    gt-height-48
                    gt-mr-20
                    member-tag
                  "
                >
                  {{ selectedRole }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="gt-float-100 gt-pl-71 gt-pr-76 gt-mt-24">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="gt-float-100 secondary_group gt-mb-zero">
                <div class="secondary-wrap validate-input gt-border-none">
                  <span
                    class="
                      secondary-label
                      gt-mb-8
                      offer-input-label
                      dcolor-primary
                    "
                    >Message</span
                  >
                  <textarea
                    id="invitationMessage"
                    type="textarea"
                    class="secondary-input secondary-bg"
                    rows="2"
                    placeholder="Your invitation message"
                    formControlName="invitationMessage"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div
                class="gt-text-danger"
                *ngIf="
                  invitationMessage.invalid &&
                  (invitationMessage.dirty || invitationMessage.touched)
                "
                @fadeIn
              >
                <span
                  *ngIf="invitationMessage.errors.required"
                  class="error error-next"
                >
                  Message is required.
                </span>
                <span
                  *ngIf="invitationMessage.errors.minlength"
                  class="error error-next"
                >
                  Message must be at least 5 characters long.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="gt-float-100 gt-mt-40 gt-pl-71 gt-pr-76">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="gt-vcenter">
              <div
                (click)="openDeleteMemberPopup()"
                style="cursor: pointer"
                class="
                  gt-border-radius-8 gt-center gt-bg-white gt-cursor-pointer
                  image-width-56
                  btpro-btn
                  bg-change-secondary
                  dark-shadow
                  border-none
                "
              >
                <img
                  src="assets/images/profile/profile-photo-delete.svg"
                  alt="image"
                  width="28"
                  height="30"
                  class="del-atta"
                />
              </div>
              <button
                type="submit"
                [disabled]="!businessMemberForm.valid"
                class="
                  gt-btn-primary
                  gt-center
                  gt-border-radius-12
                  gt-fs-21
                  gt-text-medium
                  gt-ml-23
                  btn-invitation
                  width-373
                  bg-change-secondary-import
                  dark-shadow
                  border-none
                "
              >
                resend invitation
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="gt-float-100 gt-pl-100 gt-pr-73 gt-mt-20 gt-mb-9">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="gt-border-radius-5 member-line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
