<div class="gt-float-100">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="gt-float-100 gt-display-flex">
        <h1 class="gt-fs-18 gt-text-medium gt-lightblack dcolor-primary">
          Password Reset
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="gt-float-100 gt-mt-32">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="gt-float-100">
        <h2
          class="
            gt-fs-21 gt-lightgrayish gt-text-center
            opt-text-st
            dcolor-primary
          "
        >
          The OTP  for password reset was sent to your phone
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="gt-float-100 gt-mt-12">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="gt-float-100">
        <h1
          class="
            gt-fs-21 gt-lightblack gt-text-medium gt-center gt-text-center
            opt-text-st
            dcolor-primary
          "
        >
          {{ phoneNo }}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="gt-float-100 gt-mt-24">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="user-otpp-wrapper">
        <div class="enter-otp-title gt-float-100 gt-pb-15">
          <h2 class="gt-fs-16 gt-lightgrayish gt-text-medium dcolor-primary">
            Put OTP here
          </h2>
        </div>

        <div class="gt-float-100 userh-otp-wrapper">
        <div class="otp_box">
          <ng-otp-input
            #ngOtpInput
            (onInputChange)="onOtpChange($event)"
            [config]="config"
            (paste)="onPasteOtp($event)"
          >
          </ng-otp-input>
        </div>
      </div>


        <div
          class="
            gt-float-100 gt-pt-20 gt-center gt-justify-content-start
            got-sms
          "
        >
          <h3 class="gt-float-left gt-fs-18 gt-lightgrayish dcolor-primary">
            Haven’t  received OTP?
          </h3>
          <h3
            class="gt-fs-18 gt-light gt-text-medium gt-float-right opacity-50"
          >
            <span *ngIf="showTimer && counter !== 0">{{
              countDown | async | formatTimer
            }}</span>
            <button
              *ngIf="counter === 0"
              type="submit"
              class="
                gt-bg-transparent gt-fs-18 gt-text-medium gt-primary gt-ml-6
                st-resend-otp
              "
              (click)="resendOtp()"
            >
              Resend
            </button>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gt-float-100 gt-mt-40">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="gt-float-100 gt-center back-finish">
        <button
          class="
            gt-btn-primary
            gt-width-100
            gt-center
            gt-height-56
            gt-fs-21
            gt-text-medium
            gt-border-radius-12
            bg-change-secondary
            dark-shadow
            border-none
          "
          (click)="redirectToResetPassword()"
        >
          <span>verify</span>
        </button>
      </div>
    </div>
  </div>
</div>
