<div class="item-offer-bg gt-pt-104 gt-pb-100">
    <div class="container">
      <div class="user-profile-wrapper">

           <div class="gt-float-100 offer-create-wrapper">
               

               <form  class="gt-mt-40 gt-float-100 offer-form-start">     

                <div class="gt-float-100 gt-pd-lr-32">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-form-primary">
                              <label for="inputAddress" class="gt-form-label offer-input-label">Title
                                  <span class="input-star">*</span></label>
                              <input type="text" class="gt-form-control offer-form-control"  placeholder="Enter offer title">
                            </div>
                           
                          </div>
                    </div>
                  </div>
    
                  <div class="gt-float-100 gt-pd-lr-32">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100 secondary_group gt-mb-zero gt-mt-24">
                                <div class="secondary-wrap validate-input gt-border-none">
                                  <span class="secondary-label gt-mb-8 offer-input-label">Description</span>
                                  <span class="input-star gt-ml-zero">*</span>
                                  <textarea type="textarea" class="secondary-input secondary-bg" rows="3" placeholder="Enter offer description describing advantages"></textarea>
                                </div>
                              </div>
                           
                          </div>                        
                    </div>
                  </div>
    
                  
    
                  <div class="gt-float-100 gt-mt-24 gt-pd-lr-32">
                    <div class="row">                      
    
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 gt-pr-zero pu-zero-rp">
                            <div class="money-custom">
                                <div class="currency-group">
                                  <label class="currency-sr-only offer-input-label">Value <span class="input-star">*</span></label>
                                  <div class="currency-input-group hash-input">
                                    <div class="currency-input-group-prepend">
                                      <div class="currency-input-group-text tag-group-money">
                                        <img src="assets/images/create-offer/money.svg" alt="image" class="money-tag" width="40"
                                          height="40" />
                                      </div>
                                    </div>
                                    <input type="text" class="currency-form-control hash-control gt-pl-3" placeholder="Per item" />
                                  </div>                                 
                                 
                                </div>
                              </div>                           
                          </div>
    
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="money-hash">
                                <div class="currency-group">
                                  <label class="currency-sr-only offer-input-label">Quantity</label>
                                  <div class="currency-input-group hash-input">
                                    <div class="currency-input-group-prepend">
                                      <div class="currency-input-group-text hash-group-text">
                                        <img src="assets/images/create-offer/hash.svg" alt="image" class="has-tag" width="18"
                                          height="20" />
                                      </div>
                                    </div>
                                    <input type="text" class="currency-form-control hash-control" placeholder="1" />
                                  </div>
                                 
                                 
                                </div>
                              </div>
                           
                          </div>
    
                    </div>
                  </div>
                  
                  <div class="gt-float-100 gt-mt-24 gt-pd-lr-32">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-form-primary">
                            <label for="inputState" class="gt-form-label offer-input-label">Location 
                                <span class="input-star">*</span></label>
                            <select id="gt-select" class="gt-form-select offer-form-control">
                              <option value="">Home: Palam Vihar, H Block Market, Nr..</option>
                              <option value="1">west bengal</option>
                              <option value="2">west bengal</option>
                              <option value="3">west bengal</option>
                              <option value="4">west bengal</option>
                              <option value="5">west bengal</option>
                            </select>
                          </div>
                          </div>
                    </div>
                  </div>

                  <div class="gt-float-100 gt-mt-37 gt-pd-lr-32 gt-pt-24 gt-pb-32 tag-list-bg">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <div class="gt-float-100">
                                   <h1 class="gt-fs-21 gt-lightblack gt-text-medium tag-title">Tags</h1>
                              </div>
                              <div class="gt-float-100 gt-mt-16">
                                <h2 class="gt-fs-16 gt-text-semi-bold tag-sub-color tag-seltitle">Selected</h2>
                             </div>
                             

                             <div class="gt-float-100 gt-mt-27">
                                <h3 class="gt-fs-16 gt-text-semi-bold tag-sub-color tag-seltitle">Suggested</h3>
                             </div>

                            

                          </div>
                    </div>
                  </div>

                  <div class="gt-float-100 gt-mt-32 gt-pd-lr-32">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <div class="att-file">
                                  <h4 class="gt-fs-21 gt-lightblack gt-text-medium">Attachments</h4>
                             </div>
                          </div>
                    </div>
                  </div>

                  <div class="gt-float-100  gt-mt-24 gt-pd-lr-32">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-display-flex offer-attach"> 
                                <div class="gt-display-flex gt-align-items-center gt-mr-16 certificate-quality">
                                    <img src="assets/images/certificate-quality.svg" alt="icon" width="18" height="22"
                                    class="cert-check" />
                                     <h2 class="gt-fs-14 gt-ml-11">Certificate of quality</h2>  
                                     <button type="submit" class="gt-btn-primary gt-btn-clear gt-ml-30">
                                        <img src="assets/images/profile/profile-photo-delete.svg" alt="image" class="del-atta" width="20"
                                          height="22" />
                                    </button>  
                                </div>                 
                                <div class="gt-display-flex gt-align-items-center certificate-guarantee">
                                    <img src="assets/images/guarantee-check.svg" alt="icon" width="20" height="20"
                                    class="guar-check" />
                                     <h3 class="gt-fs-14 gt-ml-11">Guarantee Check</h3>   
                                     <button type="submit" class="gt-btn-primary gt-btn-clear gt-ml-30">
                                        <img src="assets/images/profile/profile-photo-delete.svg" alt="image" class="del-atta" width="20"
                                          height="22" />
                                    </button>  
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gt-float-100 gt-mt-36 gt-pd-lr-32">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100 btn-upload-custom">
                                <button type="submit" class="gt-btn-primary gt-btn-outline gt-center gt-width-100 upload-btn">
                                    <span class="material-icons gt-fs-20">add</span>  upload a file
                                </button>
                            </div>
                          </div>
                    </div>
                  </div> 
               
                  <div class="gt-float-100 gt-mt-16 gt-pd-lr-32">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100 upload-formal">
                                 <h6 class="gt-fs-14 format-color">Formats: .pdf, .doc, docx, .odt, .txt, .jpg, .png</h6>
                            </div>
                          </div>
                    </div>
                  </div>

                  <div class="gt-float-100 gt-mt-40 gt-pd-lr-32">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <div class="conditions-offer">
                                  <h1 class="gt-fs-21 gt-lightblack gt-text-medium">Condition</h1>
                             </div>
                          </div>
                    </div>
                  </div>

                  <div class="gt-float-100 gt-mt-24 gt-pd-lr-32">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="gt-btn-primary gt-btn-outline gt-center gt-float-left condition-btn-primary">
                                <div class="icon-area">
                                      <img src="assets/images/create-offer/usable.svg" alt="images" class="upload-icon" width="21" height="17" />
                                 </div>
                                <span>Usable</span> 
                            </button>
                            <button type="submit" class="gt-btn-primary gt-btn-outline gt-center gt-float-left gt-ml-12 condition-btn-primary condition-active">
                                <div class="icon-area"> 
                                     <img src="assets/images/create-offer/good.svg" alt="images" class="upload-icon" width="21" height="17" />
                                </div>
                                <span>Good</span>
                            </button>
                            <button type="submit" class="gt-btn-primary gt-btn-outline gt-center gt-float-left gt-ml-12 condition-btn-primary">
                               <div class="icon-area"> 
                                <img src="assets/images/create-offer/excellent.svg" alt="images" class="upload-icon" width="21" height="17" />
                               </div> 
                                <span>Excellent</span>
                            </button>
                            <button type="submit" class="gt-btn-primary gt-btn-outline gt-center gt-float-left gt-ml-12 condition-btn-primary">
                               <div class="icon-area"> 
                                <img src="assets/images/create-offer/new.svg" alt="images" class="upload-icon" width="21" height="17" />
                               </div> 
                                <span>New</span>
                            </button>
                          </div>
                    </div>
                  </div>
    
                  <div class="gt-float-100 gt-mt-37 gt-pd-lr-32">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button class="gt-btn-primary gt-btn-shadow gt-float-right gt-pd-next ">next</button>
                        </div>
                    </div>
                  </div>
    
                 </form>
           </div>
          
          



</div>
</div>
</div>

        
