<div class="footer-page-bg gt-pt-20 gt-pb-100">

   
    
        <div class="container">
            
    <app-bread-crumb [breadcrumbs]="breadcrumb"> </app-bread-crumb>
    
    <div>
             <div class="row how-gintaa-works-sec">
                <div class="col-md-12">
                   <h3 class="text-center mb-4 mt-3 gintaa-works">How gintaa works</h3>
                </div>
                <div class="col-md-12">
                    <div class="gintaa_description mb-4">
                    <p class="text-center ">gintaa brings you a one-stop platform for <span class="font-bold">BUY/SELL & BARTER  </span> <br>Connect and grow your social circle as a consumer or business. Start trading in easy simple steps:</p>
                </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                      <div class="step-content-home step-home-1">
                         <h2 class="mb-4">Create Account</h2>
    
                         <div class="step-content-description mb-4">
                            <p>Connect with gintaa, either with your phone number or email address & complete your profile.</p>
                         </div>
    
                         <div class="step-img">
                            <img src="assets/images/home/step-1.png"/>
                         </div>
    
                      </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                      <div class="step-content-home step-home-2">
                         <h2 class="mb-4">Browse, Buy or List</h2>
                         <!-- <div class="live-oct">
                            <img src="assets/images/home/buy_new.png" class="img-fluid"/>
                         </div> -->
    
                         <div class="step-content-description mb-4">
                            <p>Browse and buy brand-new products.
                               Sell or barter. Start by creating your listing.</p>
                         </div>
    
                         <div class="step-img">
                            <img src="assets/images/home/step-2.png" class="img-fluid"/>
                         </div>
    
                      </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                      <div class="step-content-home step-home-3">
                         <!-- <div class="live-oct">
                            <img src="assets/images/live_icon_new.png" class="img-fluid"/>
                         </div> -->
                         <h2 class="mb-4">Suggest Offer</h2>
    
                         <div class="step-content-description mb-4">
                            <p>Want to negotiate/sell/barter your services/products? Do it all, but first, suggest an offer.</p>
                         </div>
    
                         <div class="step-img">
                            <img src="assets/images/home/step-3.png" class="img-fluid"/>
                         </div>
    
                      </div>
                   </div>
                   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center">
                      <div class="step-content-home step-home-4">
                         <!-- <div class="live-oct">
                            <img src="assets/images/live_icon_new.png" class="img-fluid"/>
                         </div> -->
                         <h2 class="mb-4">Close Offer</h2>
    
                         <div class="step-content-description mb-4">
                            <p>Close offer with buyer/seller & rate your experience to help us make gintaa a better experience.</p>
                         </div>
    
                         <div class="step-img">
                            <img src="assets/images/home/step-4.png" class="img-fluid"/>
                         </div>
    
                      </div>
                   </div>
                   
                         <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf = !isAuthenticated()>
                            <div class="gt-center mt-4 text-center">
                               <button (click)="navigateToLoginPage()" type="button" class="gt-btn-primary gt-center gt-height-56 gt-pl-60 gt-pr-60 gt-fs-20 gt-border-radius-2 regi-nowh"> register now </button>
                            </div>
                         </div>
                     
             </div>
    </div>
           
     
     
        </div>
     
    

    </div>
