<div class="gt-float-100 search-left gt-pl-zero gt-pr-zero slmin-height">
    <div class="gt-float-100 gt-center-between gt-pb-20 gt-pd-lr-16 filter-clears">
        <h2 class="gt-fs-16 gt-text-medium gt-lightblack">Filters</h2>
        <h3 class="gt-fs-14 gt-text-medium gt-cursor-pointer gt-sky">clear all</h3>
    </div>  

    <div class="gt-float-100 gt-mt-20 gt-pb-20 gt-pd-lr-16 filter-clears check-type">
        <div class="gt-floa-100 gt-mb-10 gt-center-between check-pos">
            <h1 class="gt-fs-16 gt-lightblack gt-text-medium">Bids status</h1>
            <h3 class="gt-fs-14 gt-text-medium gt-cursor-pointer gt-sky">clear</h3>
        </div>
        <div class="gt-float-100">
            <div class="gt-float-100 my-loction filter-check-size">
                <mat-checkbox class="gt-float-100 filter-check">
                    <h2 class="check-text">  Published </h2>
                </mat-checkbox>
                <mat-checkbox class="gt-float-100 filter-check">
                    <h2 class="check-text"> Under review </h2>
                </mat-checkbox>
                <mat-checkbox class="gt-float-100 filter-check">
                    <h2 class="check-text"> Draft </h2>
                </mat-checkbox>
                <mat-checkbox class="gt-float-100 filter-check">
                    <h2 class="check-text"> Rejected </h2>
                </mat-checkbox>
                <mat-checkbox class="gt-float-100 filter-check">
                    <h2 class="check-text"> Hidden </h2>
                </mat-checkbox>


            </div>
        </div>


    </div>

    <div class="gt-float-100 gt-mt-20 gt-pd-lr-16 gt-pb-20 filter-clears check-type">
        <div class="gt-floa-100 gt-mb-10 gt-center-between check-pos">
            <h1 class="gt-fs-16 gt-lightblack gt-text-medium">Condition</h1>
            <h3 class="gt-fs-14 gt-text-medium gt-cursor-pointer gt-sky">clear</h3>
        </div>
        <div class="gt-float-100">
            <div class="gt-float-100 my-loction filter-check-size">
                <mat-checkbox class="gt-float-100 filter-check">
                    <h2 class="check-text">New</h2>
                </mat-checkbox>
                <mat-checkbox class="gt-float-100 filter-check">
                    <h2 class="check-text">Antique</h2>
                </mat-checkbox>
                <mat-checkbox class="gt-float-100 filter-check">
                    <h2 class="check-text">Used</h2>
                </mat-checkbox>
                <mat-checkbox class="gt-float-100 filter-check">
                    <h2 class="check-text">Refurbished</h2>
                </mat-checkbox>                
            </div>
        </div>
    </div>

    <div class="gt-float-100 gt-mt-20 gt-pd-lr-16 check-type">
        <div class="gt-floa-100 gt-mb-10 gt-center-between check-pos">
            <h1 class="gt-fs-16 gt-lightblack gt-text-medium">Time filter</h1>
            <h3 class="gt-fs-14 gt-text-medium gt-cursor-pointer gt-sky">clear</h3>
        </div>
        <div class="gt-float-100">
            <div class="gt-float-100 gt-mb-7 timef-ter">
                <h2 class="gt-fs-13 gt-lightblack">
                    Last 7 days </h2>
            </div>
            <div class="gt-float-100 gt-mb-7 timef-ter">
                <h2 class="gt-fs-13 gt-lightblack">
                    Last 15 days </h2>
            </div>
            <div class="gt-float-100 gt-mb-7 timef-ter">
                <h2 class="gt-fs-13 gt-lightblack">
                    Last 1 month </h2>
            </div>
            <div class="gt-float-100 gt-mb-7 timef-ter">
                <h2 class="gt-fs-13 gt-lightblack">
                    Last 3 months </h2>
            </div>
            <div class="gt-float-100 gt-mb-7 timef-ter">
                <h2 class="gt-fs-13 gt-lightblack">
                    Last 6 months </h2>
            </div>
        </div>
    </div>
</div>