
    <div class="gt-float-100 gt-mb-15">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="gt-float-100 gt-center gt-mt-30 close-cancel-top">                     
                     <app-waiting-for-partner-animation></app-waiting-for-partner-animation>
                </div>

                <div class="gt-float-100 gt-center gt-mt-38 gt-pl-20 gt-pr-20 closeauction-primary">
                    <h1 class="gt-fs-16 gt-text-medium gt-lightblack gt-text-center dcolor-primary">You are about to 
                        close this auction</h1>       
               </div>

               <div class="gt-float-100 gt-center gt-mt-14 gt-pl-130 gt-pr-130 closeauction-secondary">
                <h2 class="gt-fs-14 gt-text-medium gt-lightgrayish gt-text-center dcolor-secondary">are you sure you want to proceed 
                    by awarding the highest bidder ?</h2>       
                </div>

                <div class="gt-pd-lr-24 gt-mt-33 gt-float-100 gt-center">
                    <button type="button" class="gt-btn-primary gt-center gt-height-48 gt-border-radius-2 gt-fs-16 gt-text-medium proceed-btn bg-change-secondary dark-shadow border-none" (click)="openBuyModel()">proceed</button>
                </div>  
            </div>
        </div>
    </div> 
