<div class="footer-page-bg gt-pt-20 gt-pb-100">
    <div class="container">
      <div class="gt-float-100">
        <div class="user-profile-wrapper">
          <div class="gt-float-100">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="gt-float-100">
  
              
              <app-bread-crumb [breadcrumbs]="breadcrumb"> </app-bread-crumb>
             
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="gt-float-100 gt-mt-25">
        <div class="user-profile-wrapper">
          <div
            class="
              gt-float-100 gt-border-radius-12 gt-pd-lr-32  gt-pb-40
              settings-wrapper
              bg-change
            "
          >
           
  
            <div class="gt-float-100 gt-mt-32">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="gt-float-100">
                    <h1
                      class="gt-fs-21 gt-lightblack gt-text-medium dcolor-primary"
                    >
                      Shipping
                    </h1>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="gt-float-100 gt-mt-16">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  
                  <div class="gintaa_description">
                    <p>gintaa is offering you hassle-free doorstep delivery along with insurance. That means, you no longer have to worry about the well-being of your products while they are being transported from one location to another by the delivery agent. However, the delivery insurance is an optional feature that you can select as per requirements.</p>
                    <div class="payment-row">
                        
                        <h3 class="payment-heading">What are the gintaa delivery charges?</h3>
                        <p>Delivery charges completely depend on the location and product specifications as provided by the seller. However, in case you opt for gintaa insurance, you might have to pay additional charges for the same. You can check the order summary before proceeding with the payments for placing your order on gintaa.</p>

                    </div>
                    <div class="payment-row">
                        
                        <h3 class="payment-heading">How many days do I need to wait for my delivery?</h3>
                        <p>Well, the delivery schedule will depend on multiple factors like location, weather, holidays present between your order placed and date of delivery, etc. However, you can find an estimated date of delivery which will be available both in “My transactions'' as well as in your email. Track your orders right from the gintaa application or website without any hassles. </p>

                    </div>
                    <div class="payment-row">
                        
                        <h3 class="payment-heading">Do I need to pay any hidden charges for doorstep delivery?</h3>
                        <p>gintaa will only ask for shipping charges and insurance (only if chosen by the user) depending on the product specifications and the locations. So, you can be assured about the price as only the right calculated shipping charges will be shown on your order page before you proceed with the payment.  </p>

                    </div>
                    <div class="payment-row">
                        
                        <h3 class="payment-heading">On what factors does the estimated delivery time depend?</h3>
                        <p>Some of the factors that govern the fluctuations of the delivery time are” </p>

                        <ul class="points mb-3">
                            <li>Seller’s location</li>
                            <li>Availability of product with the seller</li>
                            <li>Your delivery destination</li>
                            <li>Holidays, if any</li>
                            <li>Weather conditions</li>

                        </ul>

                    </div>
                    <div class="payment-row">
                        
                        <h3 class="payment-heading">How to arrange a quick pick-up if I need to return a product?</h3>
                        <p>You need to call our customer support team and let them know about your requirement. If your purchased product is a returnable one, then the support team will be checking the current status of the product before issuing the return pick-up of the product. </p>

                    </div>
                    <div class="payment-row">
                        
                        <h3 class="payment-heading">Does gintaa deliver to international locations?</h3>
                        <p>No, as of now, gintaa only delivers to selected pin codes within the country. However, we will be going global soon. </p>

                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
  
           
          </div>
        </div>
      </div>
    </div>
  </div>
  