<div class="gt-border-radius-12 gt-pd-16 gt-mt-160 unlock-user-wrapper bg-change">
    <div class="popup-closed close-pop" (click)="closePopup()"><span class="material-icons">close</span></div>
    


    <div class="gt-float-100 gt-mb-20">
        <div class="gt-vcenter usb-primary">
            <div class="gt-float-100 gt-vcenter usb-dsecondary">
                <div class="gt-center image-width-56 border-radius-100 user-unlock-box">
                    <img src="assets/images/settings/st-unlock.svg" class="st-unlocks" alt="image" width="24" height="24"/>
                </div>

                <div class="gt-ml-11 ">
                    <h2 class="gt-width-100 gt-fs-18 gt-text-medium gt-lightblack usn-bname dcolor-primary">Do you want to unblock  </h2>
                    <h3 class="gt-width-100 gt-fs-18 gt-text-medium gt-mt-3 gt-lightgrayish usn-bname dcolor-secondary">Dianne Russell? </h3>
                </div>
                
            </div>
          </div>
    </div>



    <div class="gt-float-100 gt-mb-8">
            <button type="submit" (click)="confirmDelete()" class="gt-btn-primary gt-width-100 gt-center gt-border-radius-12 gt-bg-transparent yes-unlock-btn" >        
                Yes, unblock
            </button>
    </div>


</div>
