<div id="strength" class="mt-2" #strength>
  <small class="gt-text-regular gt-fs-14 gt-dark dcolor-secondary">
    {{ barLabel ? barLabel : barLabelDefault }}
  </small>

  <ul id="strengthBar">
    <li class="point" [style.background-color]="bar0"></li>
    <li class="point" [style.background-color]="bar1"></li>
    <li class="point" [style.background-color]="bar2"></li>
    <li class="point" [style.background-color]="bar3"></li>
    <li class="point" [style.background-color]="bar4"></li>
  </ul>
</div>
