<div class="add-member-wrapper mem-switch">
  <div class="gt-float-100 gt-border-radius-12 gt-pd-lr-16 sub-member-wrapper">

    <div class="gt-float-100 gt-mt-20">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="gt-float-100 gt-center-between">

            <div class="success-title">
              <h1 class="gt-fs-16 gt-lightblack">Switch profiles</h1>
            </div>
            <div class="vclose">
              <span class="material-icons color-partner gt-mt-4 gt-cursor-pointer">close</span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="gt-float-100 gt-mt-34">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="gt-float-100">

            <div class="gt-float-100 gt-center success-title">
              <h2 class="gt-fs-20 lightblack-secondary">Switching to</h2>
            </div>
            <div class="gt-float-100 gt-center success-title">
              <h3 class="gt-fs-18 lightblack-secondary">ABCCompany!</h3>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="gt-float-100 gt-mt-24">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="gt-float-100 gt-center">
            <img src="assets/images/business/switching.svg" alt="image" width="240" height="194" class="bs-success">
          </div>
        </div>
      </div>
    </div>

    <div class="gt-float-100 gt-mt-42">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="gt-float-100 gt-center gt-text-center gt-pl-35 gt-pr-35">
            <h4 class="gt-fs-14 gt-lightblack">You are about to switch business accounts. Are you sure you want to
              continue ? </h4>
          </div>
        </div>
      </div>
    </div>


    <div class="gt-float-100 gt-mt-44 gt-mb-16">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="gt-vcenter gt-pl-54 gt-pr-54">
            <button type="submit" class="gt-btn-primary gt-center gt-height-48 gt-width-100 gt-fs-16 gt-text-medium">
              continue
            </button>
          </div>
        </div>
      </div>
    </div>







  </div>

</div>