<div class="social-wrapper bg-change">
    <button type="submit" class="gt-btn-primary gt-btn-clear social-closes" (click)="close()">
         <span class="material-icons gt-fs-20"> close </span> </button>

    <div class="gt-float-100 gt-vcenter social-btn-box">

        <button type="submit" class="gt-mr-10 btn-social" (click)="shareOnSocialNetwork('pinterest')">
            <!-- <i class="fa fa-pinterest-p"></i>  -->
            <img src="assets/images/social/pint.png" alt="pinterest"  class="image-width-48 border-radius-100" />
        </button>

        <button type="submit" class="gt-mr-10 btn-social" (click)="shareOnSocialNetwork('twitter')">
            <img src="assets/images/Twitter.png" alt="twitter"  class="image-width-48 border-radius-100" />
        </button>

        <button type="submit" class="gt-mr-10 btn-social" (click)="shareOnSocialNetwork('facebook')">
            <img src="assets/images/facebook-footer.png" alt="facebook" class="image-width-48 border-radius-100" />
        </button>

        <button type="submit" class="gt-mr-10 btn-social" (click)="shareOnSocialNetwork('Whatsapp')">
            <!-- <i class="fa fa-whatsapp"></i> -->
            <img src="assets/images/social/whatup.png" alt="Whatsapp"  class="image-width-48 border-radius-100" />
        </button>

        <button type="submit" class="image-width-48 border-radius-100 btn-social-mail" (click)="shareOnSocialNetwork('Email')">
            <img src="assets/images/social/mail.png" alt="Email"  class="image-width-48 border-radius-100" />         
        </button>
    </div>


</div>