
.pre_next {
	position: absolute;
    right: 14px;
    top: -70px;
}
.owl-theme .owl-nav {    
    display: none;
}
a.arrow_left {	
	z-index: 9;
	opacity: 1;	
	span {
		font-size: 30px;		
	}
}
a.arrow_right {	
	z-index: 9;
	opacity: 1;	
	span {			
		margin-left: 12px;	
	}
}


a.arrow_left span, a.arrow_right span{
         font-size: 25px;
		background: #FFFFFF;
		box-shadow: 4px 12px 16px rgba(224, 232, 239, 0.8), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
		-webkit-box-shadow: 4px 12px 16px rgba(224, 232, 239, 0.8), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
		-moz-box-shadow: 4px 12px 16px rgba(224, 232, 239, 0.8), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
		//border-radius: 12px;    
		//-webkit-border-radius: 12px;  
        //-moz-border-radius: 12px;  
		margin-left: 12px;    
		padding: 13px;
		width: 30px;
		height: 35px;
}


.max-height-144{
    height: 144px;
    img{
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
    }
}

.service-offer-image{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.obh-rp{
	top: -57px;
}