<div class="footer-page-bg gt-pt-20">
    <div class="container">

        <div class="gt-float-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="gt-float-100">
           
            <app-bread-crumb [breadcrumbs]="breadcrumb"> </app-bread-crumb>
           
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-float-100 gt-mt-25">
            <div class="gt-float-100 gt-border-radius-12 gt-pd-lr-32 gt-pt-44 gt-pb-40 settings-wrapper bg-change">


                <div class="gt-float-100 gt-mb-45">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100">
                                <h1 class="gt-fs-21 gt-lightblack gt-text-medium dcolor-primary">Listing Policy</h1>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="gt-float-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100">
                                <h1 class="gt-fs-18 gt-lightgrayish gt-text-medium dcolor-primary">I. OVERVIEW</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gt-float-100 gt-mt-22">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">We strictly restrict members from posting and/or listing any product, services and/or information connected thereto, which fall within the ambit of goods and/or services banned hereunder. As a general principle, members must have attained 18 years of age to list products or services for sale and/or barter on our e-Platform. The list enumerating banned products and services which cannot be listed and/or posted on our e-platform may not be restricted or prohibited by law but are nonetheless, in our discretion, contrary to the morals and ethics of Indian Society.</h2>
                            </div>
                            <div class="gt-float-100">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Below, we have listed some categories of prohibited and/or restricted items/services. This list is however not exhaustive. You, as the user, are responsible for ensuring that you are not posting any product and/or services that is prohibited by law or falls within the description of banned products and services in our list of such products. You will accordingly also not provide any link, directly or indirectly to include any such products or services.
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="gt-float-100 gt-mt-30 gt-mb-30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100">
                                <h1 class="gt-fs-18 gt-lightgrayish gt-text-medium dcolor-primary">II. LIST OF PROHIBITED ITEMS</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gt-float-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Alcoholic beverages, tobacco and other nicotine based products, drugs, intoxicants of any description, psychoactive substances such as narcotics, cannabis or such similar substances prohibited by or under the relevant laws;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Weapons such as firearms or its components including magazines, ammunition, pellet guns, martial arts weapons or components or related equipment that temporarily incapacitate or cause injury to the body of others and/or even their replicas;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Stocks and other securities including but not limited to shares, debentures, cryptocurrencies etc.;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Counterfeit, pirated and stolen goods of any description;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Goods which infringe any patent, trade mark, copyright or other property rights;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Living, dead person and/or the whole or any part of any human body including but not limited to blood, bodily fluids and/ or body parts;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Food products prohibited under the provisions of the Food Safety and Standards Act, 2006 and Rules framed thereunder;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Knives except for kitchen utensils and cutlery;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Illegal and unauthorized wildlife products that are restricted and/or prohibited by law;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Any component of or relating to biochemical, chemical, nuclear or similar weapons or other weapons of mass destruction, including any pictorial representation thereof;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Flammable, explosive and radioactive substances, fireworks, igniters and accessories etc.;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Government issued Identity Cards, Badges, Uniforms and Licenses meant for government functionaries including but not limited to police and military officials;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Restricted government supplies meant for Police and/or Military purposes such as handcuffs, shackles, riot shields, riot helmets, and riot suits etc.;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Currency coins, banknotes, stamp papers, stocks, bonds, money orders, credit and debit cards, investment interest as well as the equipment and materials used to produce such items;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Barter of gold, silver and/or other precious metals that are prohibited except in the form of jewellery bearing proper authentication as required under law; </h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Books, audio and video products that incites public feelings, endangers national unity, undermines the sovereignty and territorial integrity of India and/or undermines the social stability and poses threat to law and order situation, and/or are prohibited from being published under the relevant laws;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Any listing which is motivated by terror/radical groups and poses a threat to the national security of India;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Any product that include pornographic content in any manner including but not limited to nude photos, videos, articles, or erotic products etc.;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Software and devices that are meant to intercept and steal private and/or confidential information concerning any person and/or entity;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Used inner wear should not be listed and/or barter on this site, nevertheless other used garments may be listed, so long as such clothing has been properly cleaned;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Hazardous chemicals as stipulated under the Hazardous Chemicals Act, 1985;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Identity Documents, Personal Financial Records, and Personal Information in any form whatsoever including mailing lists;</h1>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h1 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Products prohibited by any law, regulation or sanction in force during the relevant time; </h1>
                            </div>
                           
                        </div>
                    </div>
                </div>


                <div class="gt-float-100 gt-mt-30 gt-mb-30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100">
                                <h1 class="gt-fs-18 gt-lightgrayish gt-text-medium dcolor-primary">III. LIST OF PROHIBITED SERVICES</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gt-float-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Prostitution, escort and/or any other services connected therewith that purports to violate the provisions of applicable laws as well as runs contrary to the contemporary standards of morality and decency in our society;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Body Massage Services and/or connected advertisements;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Listings claiming to provide services like providing government-issued identification documents, such as AADHAR cards, birth certificates, driving licenses, passports etc.;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Listings that offers financial services, including money transfers, issuing bank guarantees and letters of credit, loans, fundraising etc.;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Listings that offer medical or healthcare services, including services for medical treatment, rehabilitation, vaccination, health checks, psychological counselling, dietetics, plastic surgery etc.;</h2>
                            </div>
                            <div class="gt-float-100 gt-mt-10 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">In relation to listing of any products or services or otherwise, the following information may not be shared or uploaded by any member/user/seller/purchaser, which:</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">belongs to another person and to which the user does not have any right;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">is harmful, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic, libellous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">harms minors in any way;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">infringes any patent, trademark, copyright or other proprietary rights;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">violates any law for the time being in force;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">impersonates another person;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order, or causes incitement to the commission of any cognisable offence or prevents investigation of any offence or is insulting to any other nation;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">threatens public health or safety; promotion of cigarettes or any other tobacco products or consumption of intoxicants including alcohol and Electronic Nicotine Delivery System (ENDS) & like products that enable nicotine delivery except for the purpose & in the manner and to the extent, as may be approved under the Drugs and Cosmetics Act, 1940 and Rules made thereunder;</h2>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h2 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">threatens critical information infrastructure.</h2>
                            </div>
                           
                        </div>
                    </div>
                </div>


                
                <div class="gt-float-100 gt-mt-30 gt-mb-30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100">
                                <h1 class="gt-fs-18 gt-lightgrayish gt-text-medium dcolor-primary">IV. CONSEQUENCES OF BREACH</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gt-float-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100 gt-mb-10">
                                <h3 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">We hereby reserve our right, in our sole discretion, to take necessary steps including but not limited to immediate deletion of information or listing published/posted/uploaded in violation of our Listing and Information Policy and/or immediate termination of access to or use of the GINTAA platform against users violating our Listing and Information Policy. Users who violate the prohibited items policy and or the restricted items policy may be subject to the following actions;</h3>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h3 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Deletion of information or listing/listings published/posted/uploaded in violation of our Listing and Information Policy</h3>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h3 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Immediate suspension or termination of access to and use of the GINTAA platform</h3>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h3 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Reporting of violations of the Listing and Information policy to the concerned law enforcement authorities, in appropriate cases.</h3>
                            </div>
                            
                        </div>
                    </div>
                </div>



                <div class="gt-float-100 gt-mt-30 gt-mb-30">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100">
                                <h1 class="gt-fs-18 gt-lightgrayish gt-text-medium dcolor-primary">V. DISCLAIMER</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gt-float-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100 gt-mb-10">
                                <h4 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">We, GINTAA, will be the final authority on any steps taken against users acting in violation of the Listing and Information policy;</h4>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h4 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">We, in our sole and absolute discretion, reserve the right to impose additional restrictions and prohibitions as and when required; </h4>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h4 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">Users are responsible for ensuring compliance with all applicable laws relating to the items listed for sale, barter or purchase and relating to the sale, barter or purchase of such items;</h4>
                            </div>
                            <div class="gt-float-100 gt-mb-10">
                                <h4 class="gt-fs-16 gt-text-medium gt-lightgrayish dcolor-secondary">The forgoing list shall be updated on a regular basis for providing further clarity to our valued members, nevertheless if you have any concern about the aptness and suitability of your product vis-a-vis our listing policy, you may contact our customer support team for seeking any clarification or help in such regard. </h4>
                            </div>                          
                            
                        </div>
                    </div>
                </div>



               


               



                



                




            </div>

        </div>

    </div>
</div>