<div class="gt-float-100">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="login-with gt-center gt-mb-14 ">
                 <h3 class="bg-change dcolor-primary">or <span>login</span> with</h3>
                 <div class="gt-hr"></div>
            </div>
        </div>
    </div>
  </div>

  <div class="gt-float-100">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="user-social gt-float-100 gt-position-relative">
            <div class="gt-float-100">  
                
             <ul class="social-login">
                 <li class="gt-center gt-mr-15 dshadow-noneh" style="margin-left:43px;"> 
                     <div class="g-mail gt-center"><img src="assets/images/google.png" alt="image" class="gt-img-responsive" width="21" height="21" (click)="socialLoginHeadsUp('Google')"/></div>
                 </li>
               
             </ul>
             
            </div>
            
            </div>
        </div>
    </div>
  </div>