<div class="wallet-bg gt-pt-20 gt-pb-100">
    <div class="container">

        <div class="gt-float-100">
            <div class="user-profile-wrapper">
                <div class="gt-float-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100">
                                <div class="gt-float-left gt-display-flex bredcum-title">
                                    <div class="brdcum-icon" routerLink="/wallet">
                                        <img src="assets/images/breadcum-home-icon.svg" alt="icon" width="20"
                                            height="22" class="gt-img-responsive" />
                                    </div>
                                    <ul class="gt-display-flex bredcum-nav">
                                        <li>
                                            <span class="material-icons">navigate_next</span>
                                            <div class="brelink">
                                                <a routerLink="/">share reward</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-float-100 gt-mt-25">
            <div class="user-profile-wrapper">

                <div class="gt-float-100 gt-border-radius-12 gt-pb-3 settings-wrapper">

                    <div class="gt-float-100 share-reward-wrapper">
                        <div class="gt-float-100">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="refers-box">
                                        <div class="gt-float-100 gt-bg-white gt-border-radius-12 gt-mt-36 refer-center">

                                            <div class="gt-float-100 gt-mt-24 gt-pd-lr-24">
                                                <h3 class="gt-fs-18 gt-text-medium gt-lightblack">Invite a friend and get 100 coins
                                                </h3>
                                            </div>
                                            <div class="gt-float-100 gt-mt-12 gt-pd-lr-24">
                                                <h5 class="gt-fs-14 gt-line-height-20 coin-color">When your friends join <span>GINTAA</span> 
                                                    with your referral code you get 
                                                    <span class="gt-middle">
                                                         <span class="gt-mr-3">100</span>
                                                         <img src="assets/images/wallet/coins-wallet.svg" class="memsh" alt="image" width="12"
                                                         height="12" />
                                                    </span>
                                                      and they get
                                                      <span class="gt-middle">
                                                        <span class="gt-mr-3">200</span>
                                                        <img src="assets/images/wallet/coins-wallet.svg" class="memsh" alt="image" width="12"
                                                        height="12" />
                                                      </span>
                                                     </h5>
                                            </div>

                                            <div class="gt-float-100 gt-mt-24 gt-pd-lr-24 money-hash">
                                                <div class="currency-group">
                                                    <label class="currency-sr-only offer-input-label">Share your referal invitation link </label>
                                                    <div class="currency-input-group gt-border-radius-12 share-earn-group">                                                        
                                                        <input type="text" class="currency-form-control gt-border-radius-12 share-earn-control"
                                                            placeholder="NILANJANGINTAA007" #referrelLink/>
                            
                                                            <div class="currency-input-group-append">
                                                                <div class="currency-input-group-text visib-cursor">
                                                                  <div class="gps-fixed gt-cursor-pointer">                                        
                                                                    <img src="assets/images/wallet/earn-copy.svg" class="copy-earn" alt="icons"
                                                                    width="22" height="22" />
                                                                  </div>
                                                                </div>
                                                              </div>    
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="gt-float-100 gt-mt-44 gt-pd-lr-24 gt-mb-24">
                                                <button type="submit"
                                                    class="gt-btn-primary gt-center gt-width-100 gt-border-radius-12 ">
                                                    share and earn rewards
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="gt-float-100 gt-mt-31 gt-pd-lr-24">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="gt-float-100">
                                    <h6 class="gt-fs-18 gt-text-medium gt-lightblack">You won 5 new rewards </h6>
                                </div>
                            </div>
                        </div>
                    </div> 
                   <div class="gt-float-100 gt-pd-lr-24">
                        <app-new-rewards></app-new-rewards>
                   </div>

                   <div class="gt-float-100 gt-mt-3 gt-pd-lr-24">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="gt-float-100">
                                <h6 class="gt-fs-18 gt-text-medium gt-lightblack">My Rewards </h6>
                            </div>
                        </div>
                    </div>
                </div>
                 
                   <div class="gt-float-100 gt-pd-lr-24">
                        <app-my-rewards></app-my-rewards>
                   </div>



                  


                </div>
            </div>
        </div>

    </div>
</div>