<div class="gt-float-100 gt-mt-17 catemat-card" *ngIf="isLoggedIn else guestMatchOffer">

  <div class="gt-float-100 gt-vcenter gt-mt-10 gt-pl-20" *ngIf="allMatchesOffer && allMatchesOffer.length">
    <h2 class="gt-fs-16 gt-vcenter gt-white">Your matches</h2>
  </div>

  <div class="gt-float-100 gt-position-relative match-gbox" *ngIf="allMatchesOffer && allMatchesOffer.length">
    <div class="carousel-pnext pre_next gt-vcenter matchk-prenext" *ngIf="allMatchesOffer && allMatchesOffer.length > 1">
      <a class="arrow_left cusl-arrow" (click)="owlCar.prev()">
          <span class="icon-cheveron-left"></span>
        </a>
      <a class="arrow_right cusr-arrow" (click)="owlCar.next()">
        <span class="icon-cheveron-right"></span>
        </a>
    </div>
    <owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)" #owlCar>
      <ng-template ngFor let-i="index" let-c="count" let-offer [ngForOf]="allMatchesOffer">
        <ng-template carouselSlide>
          <div class="gt-float-100 gt-vcenter">
            <div class="prim-mbox">
              <div class="mimg-height" (click)="navigateToOffer(offer['offerResponseInfo']['offerId'])">
                <img [src]="offer['offerResponseInfo']['images'] | coverImage" class="user-oimgs" alt="image"
                  (error)="errorImageHandler($event)">
              </div>
              <div class="gt-float-100 gt-mt-10 pr-ofnam gt-ellipsis" ellipsis>
                <h2 class="gt-fs-14 gt-white">{{offer['offerResponseInfo']['name']}}</h2>
              </div>
            </div>

            <div class="gt-position-relative second-mbox">
              <!-- <div class=" triangle"></div> -->
              <img src="assets/images/addv-img/gbox-2.png" alt="image" class="gt-img-responsive gbox-size">
               <h2 class="gt-float-100 gt-white neons">Matche{{offer['response']['matchCount'] |
                multiItemItems}}</h2>
              <h3 class="gt-fs-16 gt-float-100 gt-white gt-mt-15 gt-text-center awesome">{{ offer['response']['matchCount'] }}</h3> 
              
            </div>

            <div class="third-mbox">
              <div class="user-caros-sliders">
                <div class="carousel slide carousel-fade"
                  [id]="'banner-carousels' + offer['offerResponseInfo']['offerId']" data-ride="carousel"
                  data-interval="6000" data-pause="true">
                  <div class="carousel-inner" [id]="'banner-inner' + offer['offerResponseInfo']['offerId']">
                    <ng-template ngFor let-j="index" let-c2="count" let-matchOffer
                      [ngForOf]="offer['response']['hits']">
                      <div class="carousel-item" [ngClass]="{'active':!j}">
                        <img [src]="getOfferImage(matchOffer['sourceAsMap']['image'])" class="main-banner-imgs"
                          alt="image" (error)="errorImageHandler($event)"
                          (click)="navigateToOffer(matchOffer['sourceAsMap']['oid'])">
                        <div class="gt-float-100 gt-mt-5 offer-named">
                           
                         
                            <div class="gt-ellipsis gt-hels gt-float-100 offe-names" ellipsis>
                                <h2 class="gt-fs-13 gt-white">{{matchOffer['sourceAsMap']['name']}}</h2>
                            </div>

                            <div class="gt-float-100 gt-center-between">
                                 <div class="owner-offer"><h2 class="gt-fs-12 gt-white">owner : {{matchOffer['sourceAsMap']['user']['name']}}</h2></div>
                              <div class="gt-vcenter">
                                <span class="material-icons gt-white gt-fs-16 gt-mr-2">star_border</span>
                                <h3 class="gt-fs-12 gt-white">4.1</h3>
                              </div>        
                            </div>
                         
                          <div class="gt-vcenter gt-mt-2 gt-float-100 user-locmah">
                              <span class="material-icons gt-fs-16 gt-mr-4 gt-white">location_on</span>                            
                              <h2 class="gt-fs-12 gt-white sh-loc gt-mr-4 dcolor-primary"> {{getOfferLocation(matchOffer['sourceAsMap'], 'area')}} ,</h2>
                              <h3 class="gt-fs-11 gt-white loc-code">{{getOfferLocation(matchOffer['sourceAsMap'], 'zip')}}</h3>
                            </div>
                          </div>

                        
                      </div>
                    </ng-template>
                  </div>

                  <ol class="carousel-indicators">
                    <ng-template ngFor let-k="index" let-c2="count" let-matchOffer
                      [ngForOf]="offer['response']['hits']">
                      <li [attr.data-target]="'#banner-carousels' + offer['offerResponseInfo']['offerId']"
                        [attr.data-slide-to]="k" [ngClass]="{'active':!k}"> </li>
                    </ng-template>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="gt-float-100 gt-pd-tb-6 gt-center-end" *ngIf="allMatchesOffer && allMatchesOffer.length">
    <div class="gt-center gt-cursor-pointer sug-qdeal" *ngIf="allMatchesOffer && allMatchesOffer.length">
      <h3 class="gt-fs-12 gt-white gt-cursor-pointer" (click)="suggestDeal()">suggest a quick offers</h3>
    </div>
    <div class="gt-pr-10 see-all">
      <h3 class="gt-fs-12 gt-white gt-cursor-pointer" (click)="goToMatches()">see your all matches</h3>
    </div>
  </div>
  <ng-container *ngIf="matchboxLoaded && allMatchesOffer && allMatchesOffer.length < 1">
    <div class="gt-float-100 gt-position-relative hno-match" (click)="goToMatches()">
      <img src="assets/images/new-home-banners/pre-login-banner.jpg" alt="image" class="match-heimg" >
    </div>    
  </ng-container>
</div>

<ng-template #guestMatchOffer>  
    <div class="gt-float-100 gt-mt-20 gt-position-relative match-gbox" (click)="goToMatches()">
      <img src="assets/images/new-home-banners/pre-login-banner.jpg" alt="image" class="hr-omg" >
    </div> 
</ng-template>