.second-popup{
    width: 450px;
    padding: 50px;
}
.gt-btn-shadow:disabled {
    cursor: not-allowed;
    background-color: #8bc63e;
    border: 1px solid #8bc63e;
    opacity: 0.5;
    transition: all 0.2s ease-in-out 0s;
}