<div class="gt-float-100">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="money">
        <div class="currency-group">
          <div class="currency-input-group input-icon-map gt-border-white map-input-shadow">
            <div class="currency-input-group-prepend">
              <div class="currency-input-group-text map-group-padding">
                <img src="assets/images/location-on.png" alt="image" class="gt-img-responsive" width="17" height="24" />
              </div>
            </div>
            <input type="text" class="currency-form-control map-control-padding input-icon-map"
              placeholder="Type in your address here" #search (keyup)="onSearch(search.value)" />

            <div class="currency-input-group-append">
              <div class="currency-input-group-text visib-cursor">
                <div class="gps-fixed gt-pr-8" (click)="fetchCurrentLocation()">
                  <span class="material-icons gt-fs-22"> gps_fixed </span>
                </div>
              </div>
            </div>
            
          </div>
          <ul class="loc_list gt-pd-10 gt-mr-16">
            <li *ngFor="let prediction of googlePlacesResults"
              class="place-suggestion gt-float-left gt-mb-10 gt-display-flex gt-cursor-pointer"
              (click)="suggestionSelected(prediction)">
              <span class="material-icons gt-float-left gt-fs-20 gt-mr-5">search</span>
              <h6 class="gt-float-left gt-fs-13">
                {{ prediction.description }}
              </h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gt-float-100">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gt-mb-30">
      <div class="loc-map">
        <agm-map [latitude]="getMapLat()" [longitude]="getMapLng()" (mapClick)="mapClicked($event)" [zoom]="getZoom()">
          <ng-container *ngIf="currentLocation.available">
            <agm-marker [latitude]="getMapMarkerLat()" [longitude]="getMapMarkerLng()" label="H" title="Home Location"
              [markerDraggable]="false">
            </agm-marker>
          </ng-container>
        </agm-map>
      </div>
    </div>
  </div>
</div>