<div class="footer-page-bg gt-pt-20 gt-pb-100 faq-accordian">
    <div class="container">

        <div class="gt-float-100">
        <div class="user-profile-wrapper">
        <div class="gt-float-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="gt-float-100">
           
            <app-bread-crumb [breadcrumbs]="breadcrumb"> </app-bread-crumb>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

        <div class="gt-float-100 gt-mt-25">
            <div class="user-profile-wrapper">

                <div class="gt-float-100 gt-border-radius-12  gt-pt-24 gt-pb-40 settings-wrapper">

                  



                    <div class="gt-float-100 gt-mt-24 gt-pd-lr-32">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="gt-float-100">
                                  <h1 class="gt-fs-21 gt-lightblack gt-text-medium">Frequently Asked Questions </h1>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="main">

                      <div class="gt-float-100 accordion" id="faq">
                                          <div class="card">
                                              <div class="card-header" id="faqhead1">
                                                  <a href="#" class="btn btn-header-link" data-toggle="collapse" data-target="#faq1"
                                                  aria-expanded="true" aria-controls="faq1">How to sign up with gintaa?</a>
                                              </div>

                                              <div id="faq1" class="collapse show" aria-labelledby="faqhead1" data-parent="#faq">
                                                  <div class="card-body">
                                                    <h5>Step 1</h5>
                                                    <div class="mb-3">Click on <b>Sign Up link</b> at top menu bar</div>

                                                    <h5>Step 2</h5>
                                                    <div class="mb-3">Provide a <b>valid email address or phone number</b>, click next</div>

                                                    <h5>Step 3</h5>
                                                    <div class="mb-3">You will receive a <b>magic link</b> (in case of email address) or <b>OTP</b> (in case of a phone number)</div>

                                                    <h5>Step 4</h5>
                                                    <div class="mb-3"><b>Click magic link</b> (in case of email address) or <b>Provide OTP</b> (in case of a phone number)</div>

                                                    <h5>Step 5</h5>
                                                    <div class="mb-3">Sign up process <b>completed</b> successfully</div>

                                                    You can also join gintaa using your social media profiles like Google & Facebook.

                                                      
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead2">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq2"
                                                  aria-expanded="true" aria-controls="faq2">What is a magic link?</a>
                                              </div>

                                              <div id="faq2" class="collapse" aria-labelledby="faqhead2" data-parent="#faq">
                                                  <div class="card-body">
                                                    We <b>aim to simplify</b> the gintaa signup/sign-in process for you. Therefore, you no longer have to worry about creating a unique password for using gintaa with your email address. Each time you enter your email address, a magic <b>link will be sent to the same email ID</b>. You can click on the link to enter the platform directly.

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead3">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq3"
                                                  aria-expanded="true" aria-controls="faq3">How can I update my email address?</a>
                                              </div>

                                              <div id="faq3" class="collapse" aria-labelledby="faqhead3" data-parent="#faq">
                                                  <div class="card-body">

                                                    <h5>Step 1</h5>
                                                    <div class="mb-3">Click on <b>profile icon</b> at top menu bar</div>

                                                    <h5>Step 2</h5>
                                                    <div class="mb-3">Click on <b>My Account</b></div>

                                                    <h5>Step 3</h5>
                                                    <div class="mb-3">Click on <b>edit icon</b> &nbsp;<span>[<img src="assets/images/profile/profile-photo-edit.svg" alt="image" width="15" height="15" class="edit-pro">]</span>  right next to your primary email address</div>

                                                    <h5>Step 4</h5>
                                                    <div class="mb-3">Provide your <b>new email address</b></div>

                                                    <h5>Step 5</h5>
                                                    <div class="mb-3"><b>Click Verify</b></div>

                                                    <h5>Step 5</h5>
                                                    <div class="mb-3">You will receive a <b>verification OTP</b> from gintaa in the given email ID</div>


                                                    <h5>Step 6</h5>
                                                    <div class="mb-3"><b>Enter OTP</b> and click <b>Verify OTP</b></div>

                                                    <h5>Step 7</h5>
                                                    <div class="mb-3">New email address will be <b>added successfully</b></div>




                                                   

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead4">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq4"
                                                  aria-expanded="true" aria-controls="faq4">Do I need to set a password to use gintaa?
</a>
                                              </div>

                                              <div id="faq4" class="collapse" aria-labelledby="faqhead4" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>No</b>, you can choose to sign in using our password-less feature by providing the email address and using a magic link.

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead5">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq5"
                                                  aria-expanded="true" aria-controls="faq5">Do I need to enter OTP every time I sign in with a phone number?
</a>
                                              </div>

                                              <div id="faq5" class="collapse" aria-labelledby="faqhead5" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>Yes</b>, every time you sign in with your phone number, you will receive an OTP from gintaa for security reasons.


                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead6">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq6"
                                                  aria-expanded="true" aria-controls="faq6">Can a user have multiple gintaa profiles?

</a>
                                              </div>

                                              <div id="faq6" class="collapse" aria-labelledby="faqhead6" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>Yes</b>, One user can have multiple gintaa profiles, provided that each of them is created with a valid and different set of email addresses or phone numbers.
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead7">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq7"
                                                  aria-expanded="true" aria-controls="faq7">Can I use the platform without registration?</a>
                                              </div>

                                              <div id="faq7" class="collapse" aria-labelledby="faqhead7" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>Of course</b>, you can browse gintaa without any registration. However, if you aim to use the platform and its detailed features, it is mandatory to register with us.

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead8">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq8"
                                                  aria-expanded="true" aria-controls="faq8">How to add multiple addresses?</a>
                                              </div>

                                              <div id="faq8" class="collapse" aria-labelledby="faqhead8" data-parent="#faq">
                                                  <div class="card-body">
                                                    <h5>Step 1</h5>
                                                    <div class="mb-3">Click on <b>profile icon</b> at top menu bar</div>

                                                    <h5>Step 2</h5>
                                                    <div class="mb-3">Click on <b>My Account</b></div>

                                                    <h5>Step 3</h5>
                                                    <div class="mb-3">On My account page click on <b>add new address</b></div>

                                                    <h5>Step 4</h5>
                                                    <div class="mb-3">Select <b>location from map</b></div>

                                                    <h5>Step 5</h5>
                                                    <div class="mb-3">Click on <b>next</b></div>

                                                    <h5>Step 6</h5>
                                                    <div class="mb-3"><b>Enter address details</b> as available</div>

                                                    <h4>Step 7</h4>
                                                    <div class="mb-1"><b>Click Save</b></div>

                                                    You can add multiple addresses and rename them as per convenience like home, work, others, etc.

                                                    

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead9">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq9"
                                                  aria-expanded="true" aria-controls="faq9">How to change my DOB?
</a>
                                              </div>

                                              <div id="faq9" class="collapse" aria-labelledby="faqhead9" data-parent="#faq">
                                                  <div class="card-body">

                                                    <h5>Step 1</h5>
                                                    <div class="mb-3">Click on <b>profile icon</b> at top menu bar</div>

                                                    <h5>Step 2</h5>
                                                    <div class="mb-3">Click on <b>My Account</b></div>

                                                    <h5>Step 3</h5>
                                                    <div class="mb-3">Click on <b>edit icon</b> &nbsp;<span>[<img src="assets/images/profile/profile-photo-edit.svg" alt="image" width="15" height="15" class="edit-pro">]</span> right next to your personal information</div>

                                                    <h5>Step 4</h5>
                                                    <div class="mb-3">Select <b>date of birth</b></div>

                                                    <h5>Step 5</h5>
                                                    <div class="mb-3">Select <b>date</b> from calendar</div>

                                                    <h5>Step 6</h5>
                                                    <div class="mb-3">Click <b>Save</b></div>




                                                    


                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead10">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq10"
                                                  aria-expanded="true" aria-controls="faq10">How to change my profile picture on gintaa?

</a>
                                              </div>

                                              <div id="faq10" class="collapse" aria-labelledby="faqhead10" data-parent="#faq">
                                                  <div class="card-body">

                                                    <h5>Step 1</h5>
                                                    <div class="mb-3">Click on <b>profile icon</b> at top menu bar</div>

                                                    <h5>Step 2</h5>
                                                    <div class="mb-3">Click on <b>My Account</b></div>

                                                    <h5>Step 3</h5>
                                                    <div class="mb-3">Click on <b>edit icon</b> &nbsp;<span>[<img src="assets/images/profile/profile-photo-edit.svg" alt="image" width="15" height="15" class="edit-pro">]</span> right next to your profile picture</div>

                                                    <h5>Step 4</h5>
                                                    <div class="mb-3">Click <b>Save</b></div>

                                                   



                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead11">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq11"
                                                  aria-expanded="true" aria-controls="faq11">Can I post my listing without completing my user profile?


</a>
                                              </div>

                                              <div id="faq11" class="collapse" aria-labelledby="faqhead11" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>Yes</b>, you can post your listing on gintaa without completing your user profile. However, we always encourage the users to complete the user profile for credibility.

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead12">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq12"
                                                  aria-expanded="true" aria-controls="faq12">Will gintaa get access to all my personal information if I sign in/signup <br> through any social media profiles?

</a>
                                              </div>

                                              <div id="faq12" class="collapse" aria-labelledby="faqhead12" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>No</b>, gintaa is very selective about getting access to your personal information as provided by any social media, chosen by you for registration purposes. However, you can rely on us as we are very strict about your safety and security. For more information, check out our privacy policy.

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead13">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq13"
                                                  aria-expanded="true" aria-controls="faq13">Is there any strict age limit for registering with gintaa?

</a>
                                              </div>

                                              <div id="faq13" class="collapse" aria-labelledby="faqhead13" data-parent="#faq">
                                                  <div class="card-body">
                                                    To register with gintaa, you need to be <b>at least 18 years or more.</b>

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead14">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq14"
                                                  aria-expanded="true" aria-controls="faq14">Why do I need to provide location access to gintaa?

</a>
                                              </div>

                                              <div id="faq14" class="collapse" aria-labelledby="faqhead14" data-parent="#faq">
                                                  <div class="card-body">
                                                    gintaa aims to show all the <b>trending and recent offers available around you</b>. To do so, gintaa requires access to your location. However, be assured that your personal information is always secured with gintaa.

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead15">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq15"
                                                  aria-expanded="true" aria-controls="faq15">Who can sign up with gintaa?


</a>
                                              </div>
                                              <div id="faq15" class="collapse" aria-labelledby="faqhead15" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>gintaa is for everyone.</b> Whether you are an entrepreneur or a housewife or a student, anyone can join this platform. It is the perfect platform to connect with business companies as well as general users.


                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead16">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq16"
                                                  aria-expanded="true" aria-controls="faq16">Can I use gintaa for free?
</a>
                                              </div>
                                              <div id="faq16" class="collapse" aria-labelledby="faqhead16" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>Yes</b>, you can use this application for free. We charge no commission or registration fees.



                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead17">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq17"
                                                  aria-expanded="true" aria-controls="faq17">How does gintaa work?

</a>
                                              </div>
                                              <div id="faq17" class="collapse" aria-labelledby="faqhead17" data-parent="#faq">
                                                  <div class="card-body">
                                                    gintaa aims to redefine the concept of an e-commerce platform. You can use the platform through four easy, simple, and secure steps.
                                                    <br>
                                                    <h5>Step 1</h5>
                                                    <div class="mb-3"><b>Create profile</b></div>

                                                    <h5>Step 2</h5>
                                                    <div class="mb-3"><b>Browse, buy or list</b></div>

                                                    <h5>Step 3</h5>
                                                    <div class="mb-3"><b>Suggest offer</b></div>

                                                    <h5>Step 4</h5>
                                                    <div class="mb-3"><b>Close offer</b></div>



For more info, find [how does gintaa work in academy]

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead18">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq18"
                                                  aria-expanded="true" aria-controls="faq18">Why is gintaa a unique concept?


</a>
                                              </div>
                                              <div id="faq18" class="collapse" aria-labelledby="faqhead18" data-parent="#faq">
                                                  <div class="card-body">
                                                    gintaa might look like any other e-commerce platform to you. But if you look closely, it brings multiple features at one stop. It is the first platform where you can <b>trade your old/new products</b> as well as services for almost everything.
You can <b>buy, perform barter  your products and get the maximum rewards without any investments!</b>. And all these features are available with utmost safety and security.<br>
For more information, please visit gintaa academy.


                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead19">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq19"
                                                  aria-expanded="true" aria-controls="faq19">Can I communicate with other users?


</a>
                                              </div>
                                              <div id="faq19" class="collapse" aria-labelledby="faqhead19" data-parent="#faq">
                                                  <div class="card-body">
                                                    You can directly <b>chat, call, or even send messages</b> to other users regarding their listings and suggest offers as per your choice. We support both <b>online and offline messages along with audio and video calls</b>.



                                                  </div>
                                              </div>
                                          </div>

                                          <!-- <div class="card">
                                              <div class="card-header" id="faqhead20">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq20"
                                                  aria-expanded="true" aria-controls="faq20">What is the gintaa auction?


</a>
                                              </div>
                                              <div id="faq20" class="collapse" aria-labelledby="faqhead20" data-parent="#faq">
                                                  <div class="card-body">
                                                    You are quite familiar with the concept of auction. However, the gintaa auction aims to make the concept slightly easier for you. Here, you can <b>auction any products and find the highest value for them.</b><br>
  For more information, please visit gintaa academy.




                                                  </div>
                                              </div>
                                          </div> -->
                                          <!-- <div class="card">
                                              <div class="card-header" id="faqhead21">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq21"
                                                  aria-expanded="true" aria-controls="faq21">Can I put any products for auction here?


</a>
                                              </div>
                                              <div id="faq21" class="collapse" aria-labelledby="faqhead21" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>Yes</b>, if you want to get the maximum value for your product, you can use the gintaa auction. However, you still need to create an auction listing to make the product eligible for bidding.
For more information, please visit gintaa academy.




                                                  </div>
                                              </div>
                                          </div> -->

                                          <!-- <div class="card">
                                              <div class="card-header" id="faqhead22">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq22"
                                                  aria-expanded="true" aria-controls="faq22">Can I track the bids on my latest auction here?


</a>
                                              </div>
                                              <div id="faq22" class="collapse" aria-labelledby="faqhead22" data-parent="#faq">
                                                  <div class="card-body">
                                                    Yes, gintaa allows every user to see all the bids that are placed on the auction.

                                                    <h5>Step 1</h5>
                                                    <div class="mb-3"><b>Click on your name</b> on the top menu bar</div>

                                                    <h5>Step 2</h5>
                                                    <div class="mb-3">select <b>My transactions</b> to find more about your bids.</div>

                                                   
                                                    For more information, please visit gintaa academy.
                                                  </div>
                                              </div>
                                          </div> -->

                                          <div class="card">
                                              <div class="card-header" id="faqhead23">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq23"
                                                  aria-expanded="true" aria-controls="faq23">Do I need to create a new account for my business profile?



</a>
                                              </div>
                                              <div id="faq23" class="collapse" aria-labelledby="faqhead23" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>No</b>, if you are already registered with gintaa, you can use the same account to create a business profile. However, in case you are a new user, you will be asked to create a user account before accepting/rejecting any business invitation.

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead24">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq24"
                                                  aria-expanded="true" aria-controls="faq24">What is the vital information required for creating a business profile on gintaa?




</a>
                                              </div>
                                              <div id="faq24" class="collapse" aria-labelledby="faqhead24" data-parent="#faq">
                                                  <div class="card-body">
                                                    You need to provide your:
                                                    <ol>
                                                      <li><b>1. business name</b></li>
                                                      <li><b>2. business PAN number</b></li>
                                                      <li><b>3. GST number</b></li>
                                                      <li><b>4. CIN number (optional)</b></li>
                                                    </ol>

      After submitting the information, gintaa activate the business profile only after successful verification.

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead25">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq25"
                                                  aria-expanded="true" aria-controls="faq25">What are the roles available for my business profile?





</a>
                                              </div>
                                              <div id="faq25" class="collapse" aria-labelledby="faqhead25" data-parent="#faq">
                                                  <div class="card-body">
                                                    A gintaa business profile mainly has three roles: <b>owner, admin, and members</b>. Each role comes with a specific set of responsibilities and the owner is solely responsible for managing the entire business profile and other members' roles as and when required.

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead26">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq26"
                                                  aria-expanded="true" aria-controls="faq26">How can I invite members?

</a>
                                              </div>
                                              <div id="faq26" class="collapse" aria-labelledby="faqhead26" data-parent="#faq">
                                                  <div class="card-body">
                                                  <b>The business owner or admin can send invites to other users</b> to join their business profile on gintaa using a valid phone number or email address. In case the user isn&apos;t registered with the application, he needs to complete the registration for accepting/rejecting the invitation.

                                                  </div>
                                              </div>
                                          </div>
                                          <div class="card">
                                              <div class="card-header" id="faqhead27">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq27"
                                                  aria-expanded="true" aria-controls="faq27">What are the different delivery methods available?

</a>
                                              </div>
                                              <div id="faq27" class="collapse" aria-labelledby="faqhead27" data-parent="#faq">
                                                  <div class="card-body">
                                                  Three different delivery methods are available: <br>
                                                  <b>Personal meeting</b><br> <b>gintaa junction</b> <br> <b>Third-party delivery services</b>.

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead28">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq28"
                                                  aria-expanded="true" aria-controls="faq28">What is the difference between gintaa junction and personal meeting?


</a>
                                              </div>
                                              <div id="faq28" class="collapse" aria-labelledby="faqhead28" data-parent="#faq">
                                                  <div class="card-body">
                                                    Although the basic concept of both of these seems similar, the <b>gintaa junction</b> offers you a <b>secure place</b> to conduct transactions. In the case of a <b>personal meeting</b>, both the parties involved are <b>responsible for choosing their deal destination</b>.


                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead29">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq29"
                                                  aria-expanded="true" aria-controls="faq29">Why should I choose gintaa junction instead of the personal meeting?



</a>
                                              </div>
                                              <div id="faq29" class="collapse" aria-labelledby="faqhead29" data-parent="#faq">
                                                  <div class="card-body">
                                                    If you are concerned about your safety while you close your deal, then you can choose gintaa junction. gintaa junction refers to the selectively handpicked secured locations which work in close association with us to provide you with a trustworthy site for all your deals. Because to us, your satisfaction is the priority.

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead30">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq30"
                                                  aria-expanded="true" aria-controls="faq30">Will you offer any assurance for doorstep delivery services?



</a>
                                              </div>
                                              <div id="faq30" class="collapse" aria-labelledby="faqhead30" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>Yes</b>, you can choose affordable insurance for doorstep delivery services. We have top-rated insurance vendors offering you such services at pocket-friendly prices.

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead31">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq31"
                                                  aria-expanded="true" aria-controls="faq31">How can I pay for the doorstep delivery services?




</a>
                                              </div>
                                              <div id="faq31" class="collapse" aria-labelledby="faqhead31" data-parent="#faq">
                                                  <div class="card-body">
                                                    You can pay for the doorstep delivery services through <b>secured payment gateways</b> using debit or credit cards, internet banking, UPI, or instant payment options.


                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead32">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq32"
                                                  aria-expanded="true" aria-controls="faq32">When should I choose India Post for doorstep delivery?




</a>
                                              </div>
                                              <div id="faq32" class="collapse" aria-labelledby="faqhead32" data-parent="#faq">
                                                  <div class="card-body">
                                                    You can choose India Post option for doorstep delivery, in case the <b>third-party delivery services available on gintaa aren&apos;t delivering to any selected destination</b>. Please note that you need to personally coordinate with India Post for initiating and tracking the shipment.



                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead33">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq33"
                                                  aria-expanded="true" aria-controls="faq33">What is a gintaa listing?




</a>
                                              </div>
                                              <div id="faq33" class="collapse" aria-labelledby="faqhead33" data-parent="#faq">
                                                  <div class="card-body">
                                                    gintaa has a unique feature named listing, where any user can list their products and/or services for trading purposes. You can list <b>products and services for money,  barter and free</b>.<br>
To know more about listing, please visit gintaa academy

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead34">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq34"
                                                  aria-expanded="true" aria-controls="faq34">How to create a listing?




</a>
                                              </div>
                                              <div id="faq34" class="collapse" aria-labelledby="faqhead34" data-parent="#faq">
                                                  <div class="card-body">
                                                    You can find the &quot;create listing&quot; button available on both website as well as on mobile application. There are <b>three forms available for listing your products, and services  respectively</b>. Please select them accordingly as per your requirements.<br>
To know more about creating a listing on gintaa, please visit gintaa academy.


                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead35">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq35"
                                                  aria-expanded="true" aria-controls="faq35">How can I know if anyone is interested in my listing?




</a>
                                              </div>
                                              <div id="faq35" class="collapse" aria-labelledby="faqhead35" data-parent="#faq">
                                                  <div class="card-body">
                                                    You will <b>get notifications</b> appropriately from gintaa whenever a person marks the listing as his favourite or post a query/comment related to the same listing. You can directly communicate with the user and close your offer as per your preference.


                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead36">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq36"
                                                  aria-expanded="true" aria-controls="faq36">What happens when someone marks my listing as favourite?





</a>
                                              </div>
                                              <div id="faq36" class="collapse" aria-labelledby="faqhead36" data-parent="#faq">
                                                  <div class="card-body">
                                                    Any user can mark your listing favourite for future references. However, every time a user does so, you will be <b>notified accordingly</b>.

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead37">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq37"
                                                  aria-expanded="true" aria-controls="faq37">Can I share my listing on other platforms?






</a>
                                              </div>
                                              <div id="faq37" class="collapse" aria-labelledby="faqhead37" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>Yes</b>, we want every user to gain maximum visibility through this platform. Therefore, you can share your listings on different social media platforms at any time.


                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead38">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq38"
                                                  aria-expanded="true" aria-controls="faq38">Can a user post multiple listings at once?

</a>
                                              </div>
                                              <div id="faq38" class="collapse" aria-labelledby="faqhead38" data-parent="#faq">
                                                  <div class="card-body">
                                                    <b>Yes</b>, any user can post multiple listings at any time.

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead39">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq39"
                                                  aria-expanded="true" aria-controls="faq39">What is an offer?


</a>
                                              </div>
                                              <div id="faq39" class="collapse" aria-labelledby="faqhead39" data-parent="#faq">
                                                  <div class="card-body">
                                                    When you post a listing on gintaa, every registered, as well as an unregistered user, <b>can view the listing details</b> without any restriction. However, if another user is interested in your offer, he can suggest an offer for the same, provided that he is a registered gintaa user.

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead40">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq40"
                                                  aria-expanded="true" aria-controls="faq40">What is a revised offer?



</a>
                                              </div>
                                              <div id="faq40" class="collapse" aria-labelledby="faqhead40" data-parent="#faq">
                                                  <div class="card-body">
                                                    You can <b>modify the key details of any ongoing offer as per your preference</b>. And the same applies to the other user as well. In both of the cases, the offer would be revised when any of the users changes the details of the offer as per convenience. Once the offer revision is done successfully, you need to accept the offer to proceed.

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="card">
                                              <div class="card-header" id="faqhead41">
                                                  <a href="#" class="btn btn-header-link collapsed" data-toggle="collapse" data-target="#faq41"
                                                  aria-expanded="true" aria-controls="faq41">What is a matchbox?



</a>
                                              </div>
                                              <div id="faq41" class="collapse" aria-labelledby="faqhead41" data-parent="#faq">
                                                  <div class="card-body">
                                                    A matchbox is a <b>unique feature of gintaa</b> that uses a <b>revolutionary algorithm</b> (patent applied) to find <b>relevant matches</b> depending on the listing specifications as posted by the user for barter purposes.
                                                  </div>
                                              </div>
                                          </div>



                                      </div>

                        </div>












                </div>
            </div>
        </div>

    </div>
</div>
