<div class="wallet-bg gt-pt-20 gt-pb-100">
    <div class="container">
        <div class="gt-float-100">
            <div class="user-profile-wrapper">
                <div class="gt-float-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="gt-float-100">
                                <div class="gt-float-left gt-display-flex bredcum-title">
                                    <div class="brdcum-icon" routerLink="/wallet">
                                        <img src="assets/images/breadcum-home-icon.svg" alt="icon" width="20"
                                            height="22" class="gt-img-responsive" />
                                    </div>
                                    <ul class="gt-display-flex bredcum-nav">
                                        <li>
                                            <span class="material-icons">navigate_next</span>
                                            <div class="brelink">
                                                <a [routerLink]="['redeem']">redeem</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-float-100 gt-mt-25">
            <div class="user-profile-wrapper">
                <div class="gt-float-100 gt-border-radius-12 gt-pt-32 settings-wrapper">
                    <div class="gt-float-100 gt-pd-lr-32">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="gt-float-100">
                                    <h1 class="gt-fs-18 gt-text-medium gt-lightblack">Order Gintaa Merch</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gt-float-100 gt-pd-lr-32 gt-mt-24">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 co-xs-12"
                                *ngFor="let offer of redeemOffers$ | async; let i=index;">
                                <div class="single-arrivals-products gt-cursor-pointer gt-mb-32">
                                    <div class="arrivals-products-image">
                                        <div class="pr-image max-height-img-197">
                                            <img [src]="offer.images[0].url || 'assets/pro/31.jpg'" class="gt-img-responsive" alt="image">
                                            <div class="color-overlay"></div>
                                        </div>
                                    </div>

                                    <div class="arrivals-products-content redeem-content-pd redeem-box">
                                        <h4 class="gt-float-100">{{offer.name}}</h4>
                                        <div class="offer-redeem">
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/coins-wallet.svg" class="gems-icon"
                                                        width="18" height="18" alt="image">
                                                </div>
                                                <span class="count-num">{{offer.coins}}</span>
                                            </div>
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/wallet-cash.svg" class="gems-icon"
                                                        width="25" height="22" alt="image">
                                                </div>
                                                <span class="count-num">{{offer.cash}}</span>
                                            </div>
                                            <div class="fav-btn-count gt-mr">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/gems.svg" class="gems-icon"
                                                        width="24" height="16" alt="image">
                                                </div>
                                                <span class="count-num">{{offer.gems}}</span>
                                            </div>
                                        </div>
                                        <div class="gt-float-100 gt-mt-23">
                                            <button type="button" *ngIf="offer.showAddToOrder else hideAddToOrder"
                                                class="gt-btn-primary gt-center gt-border-radius-8 add-cart-btn"
                                                (click)="addToOrderDetails(offer, i)">
                                                add to order </button>
                                            <ng-template #hideAddToOrder>
                                                <div class="gt-center add-offer">
                                                    <button type="button" class="gt-center gt-border-radius-8 image-width-40 removecon-btn" (click)="clickUpdate($event, offer, 'minus')">
                                                        <span class="material-icons">remove</span>
                                                    </button>
                                                    <div class="gt-center count-number">
                                                        <span>{{offer.selectedQuantity}}</span>
                                                    </div>
                                                    <button type="button" class="gt-center gt-border-radius-8 image-width-40 addcon-btn" (click)="clickUpdate($event, offer, 'add')">
                                                        <span class="material-icons">add</span>
                                                    </button>    
                                                </div> 
                                            </ng-template>                                    
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 co-xs-12">
                                <div class="single-arrivals-products gt-cursor-pointer gt-mb-32">
                                    <div class="arrivals-products-image">
                                        <div class="pr-image max-height-img-197">
                                            <img src="assets/pro/31.jpg" class="gt-img-responsive" alt="image"> 
                                            <div class="color-overlay"></div>                                        
                                        </div>                                        
                                    </div>
                    
                                    <div class="arrivals-products-content redeem-content-pd redeem-box">
                                        <h4 class="gt-float-100">Gintaa Cap</h4>                                        
                                        <div class="offer-redeem">
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/coins-wallet.svg" class="gems-icon"
                                                width="18" height="18" alt="image">
                                                </div>     
                                                <span class="count-num">555</span>
                                            </div>
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/wallet-cash.svg" class="gems-icon" width="25"
                                                height="22" alt="image">
                                                </div>     
                                                <span class="count-num">555</span>
                                            </div>
                                            <div class="fav-btn-count gt-mr">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/gems.svg" class="gems-icon" width="24"
                                                    height="16" alt="image">
                                                </div>
                                                <span class="count-num">5</span>
                                            </div>
                                        </div>
                                        <div class="gt-float-100 gt-mt-23">
                                             <button type="submit" class="gt-btn-primary gt-center gt-border-radius-8 add-cart-btn">
                                                add to order </button>   
                                             <div class="gt-center add-offer">
                                                    <button type="submit" class="gt-center gt-border-radius-8 image-width-40 removecon-btn">
                                                        <span class="material-icons">remove</span> </button>
                                                    <div class="gt-center count-number"><span>2</span></div>
                                                    <button type="submit" class="gt-center gt-border-radius-8 image-width-40 addcon-btn">
                                                        <span class="material-icons">add</span> </button>    
                                                </div>                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 co-xs-12">
                                <div class="single-arrivals-products gt-cursor-pointer gt-mb-32">
                                    <div class="arrivals-products-image">
                                        <div class="pr-image max-height-img-197">
                                            <img src="assets/pro/31.jpg" class="gt-img-responsive" alt="image">
                                            <div class="color-overlay"></div>                                         
                                        </div>                                        
                                    </div>
                    
                                    <div class="arrivals-products-content redeem-content-pd redeem-box">
                                        <h4 class="gt-float-100">Gintaa Cap</h4>                                        
                                        <div class="offer-redeem">
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/coins-wallet.svg" class="gems-icon"
                                                width="18" height="18" alt="image">
                                                </div>     
                                                <span class="count-num">555</span>
                                            </div>
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/wallet-cash.svg" class="gems-icon" width="25"
                                                height="22" alt="image">
                                                </div>     
                                                <span class="count-num">555</span>
                                            </div>
                                            <div class="fav-btn-count gt-mr">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/gems.svg" class="gems-icon" width="24"
                                                    height="16" alt="image">
                                                </div>
                                                <span class="count-num">5</span>
                                            </div>
                                        </div>
                                        <div class="gt-float-100 gt-mt-23">
                                             <button type="submit" class="gt-btn-primary gt-center gt-border-radius-8 add-cart-btn">
                                                add to order </button>    
                                               <div class="gt-center add-offer">
                                                    <button type="submit" class="gt-center gt-border-radius-8 image-width-40 removecon-btn">
                                                        <span class="material-icons">remove</span> </button>
                                                    <div class="gt-center count-number"><span>2</span></div>
                                                    <button type="submit" class="gt-center gt-border-radius-8 image-width-40 addcon-btn">
                                                        <span class="material-icons">add</span> </button>    
                                                </div>                                   
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 co-xs-12">
                                <div class="single-arrivals-products gt-cursor-pointer gt-mb-32">
                                    <div class="arrivals-products-image">
                                        <div class="pr-image max-height-img-197">
                                            <img src="assets/pro/31.jpg" class="gt-img-responsive" alt="image"> 
                                            <div class="color-overlay"></div>                                        
                                        </div>                                        
                                    </div>
                    
                                    <div class="arrivals-products-content redeem-content-pd redeem-box">
                                        <h4 class="gt-float-100">Gintaa Cap</h4>                                        
                                        <div class="offer-redeem">
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/coins-wallet.svg" class="gems-icon"
                                                width="18" height="18" alt="image">
                                                </div>     
                                                <span class="count-num">555</span>
                                            </div>
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/wallet-cash.svg" class="gems-icon" width="25"
                                                height="22" alt="image">
                                                </div>     
                                                <span class="count-num">555</span>
                                            </div>
                                            <div class="fav-btn-count gt-mr">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/gems.svg" class="gems-icon" width="24"
                                                    height="16" alt="image">
                                                </div>
                                                <span class="count-num">5</span>
                                            </div>
                                        </div>
                                        <div class="gt-float-100 gt-mt-23">
                                             <button type="submit" class="gt-btn-primary gt-center gt-border-radius-8 add-cart-btn">
                                                add to order </button>    
                                                <div class="gt-center add-offer">
                                                    <button type="submit" class="gt-center gt-border-radius-8 image-width-40 removecon-btn">
                                                        <span class="material-icons">remove</span> </button>
                                                    <div class="gt-center count-number"><span>2</span></div>
                                                    <button type="submit" class="gt-center gt-border-radius-8 image-width-40 addcon-btn">
                                                        <span class="material-icons">add</span> </button>    
                                                </div>                                   
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 co-xs-12">
                                <div class="single-arrivals-products gt-cursor-pointer gt-mb-32">
                                    <div class="arrivals-products-image">
                                        <div class="pr-image max-height-img-197">
                                            <img src="assets/pro/31.jpg" class="gt-img-responsive" alt="image"> 
                                            <div class="color-overlay"></div>                                        
                                        </div>                                        
                                    </div>
                    
                                    <div class="arrivals-products-content redeem-content-pd redeem-box">
                                        <h4 class="gt-float-100">Gintaa Cap</h4>                                        
                                        <div class="offer-redeem">
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/coins-wallet.svg" class="gems-icon"
                                                width="18" height="18" alt="image">
                                                </div>     
                                                <span class="count-num">555</span>
                                            </div>
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/wallet-cash.svg" class="gems-icon" width="25"
                                                height="22" alt="image">
                                                </div>     
                                                <span class="count-num">555</span>
                                            </div>
                                            <div class="fav-btn-count gt-mr">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/gems.svg" class="gems-icon" width="24"
                                                    height="16" alt="image">
                                                </div>
                                                <span class="count-num">5</span>
                                            </div>
                                        </div>
                                        <div class="gt-float-100 gt-mt-23">
                                            <button type="submit" class="gt-btn-primary gt-center gt-border-radius-8 add-cart-btn">
                                                add to order </button>    
                                                 <div class="gt-center add-offer">
                                                    <button type="submit" class="gt-center gt-border-radius-8 image-width-40 removecon-btn">
                                                        <span class="material-icons">remove</span> </button>
                                                    <div class="gt-center count-number"><span>2</span></div>
                                                    <button type="submit" class="gt-center gt-border-radius-8 image-width-40 addcon-btn">
                                                        <span class="material-icons">add</span> </button>    
                                                </div>                                    
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 co-xs-12">
                                <div class="single-arrivals-products gt-cursor-pointer gt-mb-32">
                                    <div class="arrivals-products-image">
                                        <div class="pr-image max-height-img-197">
                                            <img src="assets/pro/31.jpg" class="gt-img-responsive" alt="image"> 
                                            <div class="color-overlay"></div>                                        
                                        </div>                                        
                                    </div>
                    
                                    <div class="arrivals-products-content redeem-content-pd redeem-box">
                                        <h4 class="gt-float-100">Gintaa Cap</h4>                                        
                                        <div class="offer-redeem">
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/coins-wallet.svg" class="gems-icon"
                                                width="18" height="18" alt="image">
                                                </div>     
                                                <span class="count-num">555</span>
                                            </div>
                                            <div class="fav-btn-count">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/wallet-cash.svg" class="gems-icon" width="25"
                                                height="22" alt="image">
                                                </div>     
                                                <span class="count-num">555</span>
                                            </div>
                                            <div class="fav-btn-count gt-mr">
                                                <div class="chat-bubble-box">
                                                    <img src="assets/images/wallet/gems.svg" class="gems-icon" width="24"
                                                    height="16" alt="image">
                                                </div>
                                                <span class="count-num">5</span>
                                            </div>
                                        </div>
                                        <div class="gt-float-100 gt-mt-23">
                                            <button type="submit" class="gt-btn-primary gt-center gt-border-radius-8 add-cart-btn">
                                                add to order </button>    
                                                 <div class="gt-center add-offer">
                                                    <button type="submit" class="gt-center gt-border-radius-8 image-width-40 removecon-btn">
                                                        <span class="material-icons">remove</span> </button>
                                                    <div class="gt-center count-number"><span>2</span></div>
                                                    <button type="submit" class="gt-center gt-border-radius-8 image-width-40 addcon-btn">
                                                        <span class="material-icons">add</span> </button>    
                                                </div>                                    
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="gt-float-100 gt-mt-40 gt-pd-lr-32">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="gt-center gt-pd-16 deal-accepts preview-deal">
                                    <button type="submit" class="gt-btn-primary gt-center deal-accept-btn gt-width-100"
                                        (click)="redeemOfferDialog()">
                                         {{totalQuantity > 0 ? 'order ' + totalQuantity + ' items' :  'order items'}} 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>