<div class="footer-page-bg gt-pt-20 gt-pb-100">
  <div class="container">
    <div class="gt-float-100">
      <div class="user-profile-wrapper">
        <div class="gt-float-100">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="gt-float-100">

            
            <app-bread-crumb [breadcrumbs]="breadcrumb"> </app-bread-crumb>
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="gt-float-100 gt-mt-25">
      <div class="user-profile-wrapper">
        <div
          class="
            gt-float-100 gt-border-radius-12 gt-pd-lr-32  gt-pb-40
            settings-wrapper
            bg-change
          "
        >
          

          <div class="gt-float-100 gt-mt-32">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="gt-float-100">
                  <h1
                    class="gt-fs-21 gt-lightblack gt-text-medium dcolor-primary"
                  >
                    About Gintaa
                  </h1>
                </div>
              </div>
            </div>
          </div>

          <div class="gt-float-100 gt-mt-16">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="gintaa_description">
                  <p>
                    With years of research and strict deadlines, our computer geniuses are ready with a unique concept where you can “give and take anything.”
                  </p>
                  <p>The name is gintaa, which is here to identify your real-life problems to devise the right solutions without any fail.</p>
                  <p>It is the one-stop destination for every dreamer, who wants to establish their business or merely get amazing products/services for incredible offers. </p>
                  <p>Whether it's money or barter, we have it all.   </p>
                  <p class="font-bold">Let’s take a closer look at the key features of gintaa:</p>
                  <ul class="points">
                    <li>A barter platform for both products & services</li>
                    <!-- <li>Live auctions are available for getting maximum returns for your product</li> -->
                    <li>Hassle-free doorstep assured delivery available</li>
                    <li>A platform to expand business for free</li>
                    <li>Zero commission, absolute growth</li>
                    <li>Password-less login with a magic link</li>
                    <li>Secured gintaa junction for personal transactions</li> 
                    
                  </ul>
                </div>
                
              </div>
            </div>
          </div>

         
        </div>
      </div>
    </div>
  </div>
</div>
