<div class="chat-wrapper-bg gt-pt-20 gt-pb-110 bg-change">
    <div class="container">

        <div class="gt-float-100">
            <div class="user-profile-wrapper">
                <div class="gt-float-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="gt-float-100">

                                <app-bread-crumb [breadcrumbs]="breadcrumb"> </app-bread-crumb>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-float-100 gt-mt-15">
            <div class="user-profile-wrapper">

                <div class="gt-float-100 chat-wrapper bg-change">
                    <app-chat-user-list></app-chat-user-list>
                </div>
            </div>
        </div>

    </div>
</div>