<div class="close-deal-popup">
  <div class="popup-closed close-skip">
    <h4 class="gt-fs-21" (click)="close()">Skip</h4>
  </div>
  <div class="gt-float-100 gt-mb-22">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="gt-float-100 gt-center gt-mt-95 close-cancel-top">
          <app-finish-a-deal-animation></app-finish-a-deal-animation>
        </div>

        <div
          class="gt-float-100 gt-center gt-mt-32 gt-text-center waiting-close"
        >
          <h1 class="gt-fs-18 color-partner gt-text-center">
            Your offer was successful!
          </h1>
        </div>

        <div class="gt-float-100 gt-center gt-mt-24 gt-pd-lr-27 waiting-closes">
          <h2 class="gt-fs-16 color-partner gt-text-center">
            Please, rate your partner and your gintaa experience
          </h2>
        </div>

        <div class="gt-pd-lr-24 gt-mt-80 gt-float-100 waiting-btn">
          <button class="gt-btn-primary gt-width-100" (click)="clickRate()">
            rate
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
