<div class="footer-page-bg gt-pt-20">
    <div class="container">

        <div class="gt-float-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="gt-float-100">
           
            <app-bread-crumb [breadcrumbs]="breadcrumb"> </app-bread-crumb>
           
                    </div>
                </div>
            </div>
        </div>

        <div class="gt-float-100 gt-mt-25">
            <div class="gt-float-100 gt-border-radius-12 gt-pd-lr-32 gt-pt-44 gt-pb-40 settings-wrapper bg-change">


                <section class="blog_articles_section">

                    <div class="gt-float-100">
                
                        <div class="row">
                            <div class="col-md-12">
                               
                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <h3>CONSENT TO PROCESS PERSONAL DATA & SENSITIVE PERSONAL DATA</h3>                                    
                                </div>
                
                                 <div class="gt-float-100 gintaa-privacy-policy">
                                    <h4>Dear Guest,</h4>
                                    <p>In the course of providing services on our website, we may collect and use your Personal Data and /or Sensitive Personal Data.   </p>
                                 </div>

                                 <div class="gt-float-100 gintaa-privacy-policy">                                   
                                    <ul>
                                         <li>Personal Data means data about or relating to a natural person (in this case you) who is directly or indirectly identifiable, having regard to any characteristic, trait, attribute or any other feature of the identity of such natural person, whether online or offline, or any combination of such features with any other information, and shall include any inference drawn from such data for the purpose of profiling. </li>
                                        <li>Sensitive Personal Data which may, reveal, be related to, or constitute your —</li>
                                         <ul class="gt-pl-26">
                                             <li>financial data</li>
                                             <li>health data</li>
                                             <li>official identifier</li>
                                             <li>sex life</li>
                                             <li>sexual orientation</li>
                                             <li>biometric data</li>
                                             <li>genetic data</li>
                                             <li>transgender status</li>
                                             <li>intersex status</li>
                                             <li>caste or tribe</li>
                                             <li>religious or political belief or affiliation</li>
                                         </ul>
                                           
                                        </ul>
                                 
                               </div> 


                               <div class="gt-float-100 gintaa-privacy-policy">
                                    <p>How we use or propose to use your Personal Data and / or Sensitive Personal Data and circumstances under which such data can be disclosed to a third party is detailed in our Privacy Policy which you may kindly refer to.</p>
                                    <p>In case you are not willing to disclose your Personal Data and / or Sensitive Personal Data, you are at liberty to exit from <a href="www.gintaa.com">www.gintaa.com</a> without any liability to us.</p>
                                </div>



                                <div class="gt-float-100 gintaa-privacy-policy">
                                    <p>However, in case you agree divulge and share your Personal Data and / or Sensitive Personal Data, you may continue to register with us which shall imply that:</p>
                                    <ul>
                                        <li>You are aware about our policy of usage of your Personal Data and / or Sensitive Personal Data</li>
                                        <li>You have been informed properly about the use of your Personal Data by us</li>
                                        <li>You have a clear idea about the collection and usage of personal data.</li>
                                        <li>You are freely giving this consent without any coercion or fraud</li>
                                        <li>You accept that this is specific</li>
                                     </ul>
                                 
                               </div> 

                               <div class="gt-float-100 gintaa-privacy-policy">
                                    <p>Your Personal Data and / or Sensitive Personal Data collected by us shall be processed within India and shall not leave the shores of India. </p>
                                </div>













                                





                
                                























                
                            </div>
                        </div>
                
                    </div>
                
                </section>


               


               



                



                




            </div>

        </div>

    </div>
</div>