:root {
    --animate-duration: 0.5s;
    --animate-delay: 0.5s;
    --animate-repeat: 1
}
.animate__animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}



@-webkit-keyframes flash {
    0%,
    50%,
    to {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}
@keyframes flash {
    0%,
    50%,
    to {
        opacity: 1
    }
    25%,
    75% {
        opacity: 0
    }
}
.animate__flash {
    -webkit-animation-name: flash;
    animation-name: flash
}



@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}
@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}
.animate__pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out
}


@-webkit-keyframes flash {
	0%,
	50%,
	to {
		opacity: 1
	}
	25%,
	75% {
		opacity: 0
	}
}

@keyframes flash {
	0%,
	50%,
	to {
		opacity: 1
	}
	25%,
	75% {
		opacity: 0
	}
}

.animate__flash {
	-webkit-animation-name: flash;
	animation-name: flash
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

.animate__pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out
}



@-webkit-keyframes headShake {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	6.5% {
		-webkit-transform: translateX(-6px) rotateY(-9deg);
		transform: translateX(-6px) rotateY(-9deg)
	}
	18.5% {
		-webkit-transform: translateX(5px) rotateY(7deg);
		transform: translateX(5px) rotateY(7deg)
	}
	31.5% {
		-webkit-transform: translateX(-3px) rotateY(-5deg);
		transform: translateX(-3px) rotateY(-5deg)
	}
	43.5% {
		-webkit-transform: translateX(2px) rotateY(3deg);
		transform: translateX(2px) rotateY(3deg)
	}
	50% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

@keyframes headShake {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	6.5% {
		-webkit-transform: translateX(-6px) rotateY(-9deg);
		transform: translateX(-6px) rotateY(-9deg)
	}
	18.5% {
		-webkit-transform: translateX(5px) rotateY(7deg);
		transform: translateX(5px) rotateY(7deg)
	}
	31.5% {
		-webkit-transform: translateX(-3px) rotateY(-5deg);
		transform: translateX(-3px) rotateY(-5deg)
	}
	43.5% {
		-webkit-transform: translateX(2px) rotateY(3deg);
		transform: translateX(2px) rotateY(3deg)
	}
	50% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}

.animate__headShake {
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: headShake;
	animation-name: headShake
}

@-webkit-keyframes swing {
	20% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg)
	}
	40% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg)
	}
	60% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg)
	}
	80% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}
	to {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
}

@keyframes swing {
	20% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg)
	}
	40% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg)
	}
	60% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg)
	}
	80% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}
	to {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
}

.animate__swing {
	-webkit-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing
}


@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.animate__fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}



@-webkit-keyframes rotateIn {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0
	}
	to {
		-webkit-transform: translateZ(45deg);
		transform: translateZ(45deg);
		opacity: 1
	}
}

@keyframes rotateIn {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0
	}
	to {
		-webkit-transform: translateZ(45deg);
		transform: translateZ(45deg);
		opacity: 1
	}
}

.animate__rotateIn {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn;
	-webkit-transform-origin: center;
	transform-origin: center
}

@-webkit-keyframes rotateLeft {
	0% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		opacity: 0
	}
	to {
		-webkit-transform: translateZ(0deg);
		transform: translateZ(0deg);
		opacity: 1
	}
}

@keyframes rotateLeft {
	0% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		opacity: 0
	}
	to {
		-webkit-transform: translateZ(0deg);
		transform: translateZ(0deg);
		opacity: 1
	}
}

.animate__rotateLeft {
	-webkit-animation-name: rotateLeft;
	animation-name: rotateLeft;
	-webkit-transform-origin: center;
	transform-origin: center
}


@-webkit-keyframes rotateInDownRight {
	0% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		opacity: 0
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1
	}
}

@keyframes rotateInDownRight {
	0% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		opacity: 0
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		opacity: 1
	}
}

.animate__rotateInDownRight {
	-webkit-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight;
	-webkit-transform-origin: right bottom;
	transform-origin: right bottom
}


@-webkit-keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes slideInDown {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.animate__slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown
}



@-webkit-keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		visibility: visible
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

@keyframes slideInUp {
	0% {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		visibility: visible
	}
	to {
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.animate__slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp
}



.cate-icon{
	transition: all 0.2s ease-in-out 0s;
}


.error-next{
	transition: all 0.2s ease-in-out 0s;
}

.error-next, .hide, .transition-animation  {
	
	 animation: fadeInText linear 0.6s;
	-webkit-animation: fadeInText linear 0.6s;
	-moz-animation: fadeInText linear 0.6s;
	-o-animation: fadeInText linear 0.6s;
	-ms-animation: fadeInText linear 0.6s;
  }
  .loader{
	animation: fadeInText linear 0.6s;
	-webkit-animation: fadeInText linear 0.6s;
	-moz-animation: fadeInText linear 0.6s;
	-o-animation: fadeInText linear 0.6s;
	-ms-animation: fadeInText linear 0.6s;
  }
  
  .menu-floating, .animate-transition{
	transition: all 0.2s ease-in-out 0s;
  }

  .menu-floating button, .business-color-cover.show, .gintaa_headerloc, .scrollable-dropdown, .scroll-top  {
	  animation: fadeInText linear 0.4s;
	-webkit-animation: fadeInText linear 0.4s;
	-moz-animation: fadeInText linear 0.4s;
	-o-animation: fadeInText linear 0.4s;
	-ms-animation: fadeInText linear 0.4s;
  }
  
  
  @keyframes fadeInText {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeInText {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeInText {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeInText {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeInText {
	0% {opacity:0;}
	100% {opacity:1;}
  }

 

.buprofile-sub-cover {
	transition: all 0.2s ease-in-out 0s;
  
}


@-webkit-keyframes fadeOut {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	}
  }
  @keyframes fadeOut {
	from {
	  opacity: 1;
	}
  
	to {
	  opacity: 0;
	}
  }
  .animate__fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
  }

  @-webkit-keyframes rubberBand {
	from {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
	  transform: scale3d(1.25, 0.75, 1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
	  transform: scale3d(0.75, 1.25, 1);
	}
  
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
	  transform: scale3d(1.15, 0.85, 1);
	}
  
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
	  transform: scale3d(0.95, 1.05, 1);
	}
  
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
	  transform: scale3d(1.05, 0.95, 1);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  @keyframes rubberBand {
	from {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
	  transform: scale3d(1.25, 0.75, 1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
	  transform: scale3d(0.75, 1.25, 1);
	}
  
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
	  transform: scale3d(1.15, 0.85, 1);
	}
  
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
	  transform: scale3d(0.95, 1.05, 1);
	}
  
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
	  transform: scale3d(1.05, 0.95, 1);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }
  .animate__rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
  }


  .nav-pills .gintaa_headerDrop, .nav-pills .offers_headerDrops {

	
	 
	-webkit-transform: translateY(55px);
  
	-moz-transform: translateY(55px);
  
	-o-transform: translateY(55px);
  
	-ms-transform: translateY(55px);
  
	transform: translateY(55px);
  
	opacity: 0;
  
	visibility: hidden;
  
	-webkit-transition: all .4s ease;
  
	-moz-transition: all .4s ease;
  
	-o-transition: all .43s ease;
  
	transition: all .4s ease;
  
	-webkit-animation-duration: .4s;
  
	-moz-animation-duration: .4s;
  
	-o-animation-duration: .4s;
  
	animation-duration: .4s;
  
	display: block !important;
  
  }
  
  
  
  .nav-pills .menu-curve {
  
	-webkit-transform-style: preserve-3d;
  
	-moz-transform-style: preserve-3d;
  
	-o-transform-style: preserve-3d;
  
	-ms-transform-style: preserve-3d;
  
	transform-style: preserve-3d;
  
	-webkit-transform: perspective(600);
  
	-moz-transform: perspective(600);
  
	-o-transform: perspective(600);
  
	-ms-transform: perspective(600);
  
	transform: perspective(600);
  
	
  
	list-style: none;
	position: relative;
  
  
  
  }
  
  
  
  .nav-pills .gintaa_headerDrop:not(.gintaa), .nav-pills .offers_headerDrops:not(.gintaa) {
  
	
	position: absolute;	 
	
  
	-webkit-transform: rotate3d(1, 0, 0, -90deg);
  
	-moz-transform: rotate3d(1, 0, 0, -90deg);
  
	-o-transform: rotate3d(1, 0, 0, -90deg);
  
	-ms-transform: rotate3d(1, 0, 0, -90deg);
  
	transform: rotate3d(1, 0, 0, -90deg);
  
	-webkit-transform-origin: 0 0 0;
  
	-moz-transform-origin: 0 0 0;
  
	-o-transform-origin: 0 0 0;
  
	-ms-transform-origin: 0 0 0;
  
	transform-origin: 0 0 0;
  
	margin-left: -7px;
  
	
  
  }
  
  .nav-pills .menu-curve.show .gintaa_headerDrop, .nav-pills .menu-curve.show .offers_headerDrops {
  
	-webkit-transform: rotate3d(0, 0, 0, 0deg);
  
	-moz-transform: rotate3d(0, 0, 0, 0deg);
  
	-o-transform: rotate3d(0, 0, 0, 0deg);
  
	-ms-transform: rotate3d(0, 0, 0, 0deg);
  
	transform: rotate3d(0, 0, 0, 0deg);
  
	visibility: visible;
  
	opacity: 1;
 
  
  }

  .nav-pills .menu-curve.show .gintaa_headerDrop, .nav-pills .menu-curve.show .offers_headerDrops {

	-webkit-transform: rotate3d(0, 0, 0, 0deg);
  
	-moz-transform: rotate3d(0, 0, 0, 0deg);
  
	-o-transform: rotate3d(0, 0, 0, 0deg);
  
	-ms-transform: rotate3d(0, 0, 0, 0deg);
  
	transform: rotate3d(0, 0, 0, 0deg);
  
	visibility: visible;
  
	opacity: 1;
  

  
  }




.offer-headerDrop-list .offer-list .list-name, .transcation_section, .member-tag, .scroll-top {
	transition: all 0.2s ease-in-out 0s;
}






input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="no"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder  {
    -webkit-transition: opacity 0.2s linear; 
}
input[type="text"]:focus::-webkit-input-placeholder, input[type="email"]:focus::-webkit-input-placeholder, input[type="tel"]:focus::-webkit-input-placeholder, input[type="no"]:focus::-webkit-input-placeholder, textarea::-webkit-input-placeholder  {
    opacity: 0;
}

.loader-deal .loaderouter{
	position: absolute !important;
	opacity: 0 !important;
	background: none !important;
	
}


@-webkit-keyframes heartBeat {
	0% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  
	14% {
	  -webkit-transform: scale(1.3);
	  transform: scale(1.3);
	}
  
	28% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  
	42% {
	  -webkit-transform: scale(1.3);
	  transform: scale(1.3);
	}
  
	70% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  }
  @keyframes heartBeat {
	0% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  
	14% {
	  -webkit-transform: scale(1.3);
	  transform: scale(1.3);
	}
  
	28% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  
	42% {
	  -webkit-transform: scale(1.3);
	  transform: scale(1.3);
	}
  
	70% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
  }
  .animate__heartBeat, .btn-social-right .fav-color, .fav-color-card {
	-webkit-animation-name: heartBeat;
	animation-name: heartBeat;
	-webkit-animation-duration: calc(1s * 1.3);
	animation-duration: calc(1s * 1.3);
	-webkit-animation-duration: calc(var(--animate-duration) * 1.3);
	animation-duration: calc(var(--animate-duration) * 1.3);
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
  }
span.fav-color-card{
	color: #EE2A7B!important;
}
  .animate__animated.animate__repeat-3 {
	-webkit-animation-iteration-count: calc(1 * 3);
	animation-iteration-count: calc(1 * 3);
	-webkit-animation-iteration-count: calc(var(--animate-repeat) * 3);
	animation-iteration-count: calc(var(--animate-repeat) * 3);
  }

  .animate__animated.animate__infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
  }

  
@-webkit-keyframes bounce {
	from,
	20%,
	53%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  
	40%,
	43% {
	  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
	  transform: translate3d(0, -30px, 0) scaleY(1.1);
	}
  
	70% {
	  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
	  transform: translate3d(0, -15px, 0) scaleY(1.05);
	}
  
	80% {
	  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
	  transform: translate3d(0, 0, 0) scaleY(0.95);
	}
  
	90% {
	  -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
	  transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
  }
  @keyframes bounce {
	from,
	20%,
	53%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  
	40%,
	43% {
	  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  -webkit-transform: translate3d(0, -30px, 0) scaleY(1.1);
	  transform: translate3d(0, -30px, 0) scaleY(1.1);
	}
  
	70% {
	  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	  -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
	  transform: translate3d(0, -15px, 0) scaleY(1.05);
	}
  
	80% {
	  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  -webkit-transform: translate3d(0, 0, 0) scaleY(0.95);
	  transform: translate3d(0, 0, 0) scaleY(0.95);
	}
  
	90% {
	  -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
	  transform: translate3d(0, -4px, 0) scaleY(1.02);
	}
  }
  .animate__bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
  }


.image-upload-sections .loaderouter{
	position: absolute !important;
	width: 100% !important;
	background: rgba(255,255,255, 1) !important;
	opacity: 1 !important;

}
.image-upload-sections .loaderouter .loading-message{

	color: rgba(0,0,0,0.8) !important;

}



@keyframes move {
	from {
	  transform: translateX(100%);
	}
	to {
	  transform: translateX(0);
	}
}

@keyframes slideInRight {
	from {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	  visibility: visible;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  .animate__slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight;
  }

  .sticky-gnav{
	box-shadow: 0 4px 5px 0 rgb(0 0 0 / 20%);	
  }
 


  .slideDown,  .sticky-gnav{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(0%);
	}
	65%{
		transform: translateY(0%);
	}
	80%{
		transform: translateY(0%);
	}
	95%{
		transform: translateY(0%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(0%);
	}
	65%{
		-webkit-transform: translateY(1%);
	}
	80%{
		-webkit-transform: translateY(1%);
	}
	95%{
		-webkit-transform: translateY(0%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

#navbar .my-header-avatar .avatar-container .avatar-content, #navbar .my-avatar .avatar-container .avatar-content{

	background-color: #55d2f4 !important;
  
}

.content-loading{
	min-height: calc(100vh - 70px);
  }