
.gt-primary{color: $gt-primary;}
.gt-secondary{color: $gt-secondary;}
.gt-success{color: $gt-success;}
.gt-info{color: $gt-info;}
.gt-warning{color: $gt-warning;}
.gt-danger{color: $gt-danger;}
.gt-light{color: $gt-light;}
.gt-dark{color: $gt-dark;}
.gt-white{color: $gt-white;}
.gt-sky{color: $gt-sky;}
.gt-gray{color: $gt-gray;}
.gt-black{color: $gt-black;}
.gt-lightblack{color: $gt-lightblack;}
.gt-lightgrayish{color: $gt-lightgrayish;}



.gt-primary-important{color: $gt-primary!important;}
.gt-secondary-important{color: $gt-secondary!important;}
.gt-success-important{color: $gt-success!important;}
.gt-info-important{color: $gt-info!important;}
.gt-warning-important{color: $gt-warning!important;}
.gt-danger-important{color: $gt-danger!important;}
.gt-light-important{color: $gt-light!important;}
.gt-dark-important{color: $gt-dark!important;}
.gt-white-important{color: $gt-white!important;}
.gt-sky-important{color: $gt-sky!important;}
.gt-gray-important{color: $gt-gray!important;}
.gt-black-important{color: $gt-black!important;}
.gt-lightblack-important{color: $gt-lightblack!important;}
.gt-lightgrayish-important{color: $gt-lightgrayish!important;}




