

  .sticky-gnav .icon-deal-h .path1:before {
    content: "\ee86";
    color: rgba(0, 0, 0, 0.7);
  }
  .sticky-gnav .icon-deal-h .path2:before {
    content: "\ee87";
    color: rgba(0, 0, 0, 0.7);
    margin-left: -1.5830078125em;
  }
  .sticky-gnav .icon-deal-h .path3:before {
    content: "\ee88";
    color: rgba(0, 0, 0, 0.7);
    margin-left: -1.5830078125em;
  }
  .sticky-gnav .icon-deal-h .path4:before {
    content: "\ee89";
    color: rgba(0, 0, 0, 0.7);
    margin-left: -1.5830078125em;
  }
  .sticky-gnav .icon-deal-h .path5:before {
    content: "\ee8a";
    color: rgba(0, 0, 0, 0.7);
    margin-left: -1.5830078125em;
  }
  .sticky-gnav .icon-deal-h .path6:before {
    content: "\ee8b";
    color: rgba(0, 0, 0, 0.7);
    margin-left: -1.5830078125em;
  }


  
  .my-trantions ul li a .icon-deal-h .path1:before {
    content: "\ee86";
    color: $gt-sky;
  }
  .my-trantions ul li a .icon-deal-h .path2:before {
    content: "\ee87";
    color: $gt-sky;
    margin-left: -1.5830078125em;
  }
  .my-trantions ul li a .icon-deal-h .path3:before {
    content: "\ee88";
    color: $gt-sky;
    margin-left: -1.5830078125em;
  }
  .my-trantions ul li a .icon-deal-h .path4:before {
    content: "\ee89";
    color: $gt-sky;
    margin-left: -1.5830078125em;
  }
  .my-trantions ul li a .icon-deal-h .path5:before {
    content: "\ee8a";
    color: #8ec23c;
    margin-left: -1.5830078125em;
  }
  .my-trantions ul li a .icon-deal-h .path6:before {
    content: "\ee8b";
    color: #8ec23c;
    margin-left: -1.5830078125em;
  }


 
  .deal-mobicon .icon-deal-h .path1:before {
    content: "\ee86";
    color: $gt-sky;
  }
  .deal-mobicon .icon-deal-h .path2:before {
    content: "\ee87";
    color: $gt-sky;
    margin-left: -1.5830078125em;
  }
  .deal-mobicon .icon-deal-h .path3:before {
    content: "\ee88";
    color: $gt-sky;
    margin-left: -1.5830078125em;
  }
  .deal-mobicon .icon-deal-h .path4:before {
    content: "\ee89";
    color: $gt-sky;
    margin-left: -1.5830078125em;
  }
  .deal-mobicon .icon-deal-h .path5:before {
    content: "\ee8a";
    color: #8ec23c;
    margin-left: -1.5830078125em;
  }
  .deal-mobicon .icon-deal-h .path6:before {
    content: "\ee8b";
    color: #8ec23c;
    margin-left: -1.5830078125em;
  }

.sticky-gnav .search-custom .all-btn .icon-expand_more:before {    
    color: $gt-white;
}

.sticky-gnav .search-custom .sricon-btn .icon-gt-search:before {  
  color: $gt-sky;
}