
$gt-primary: #8BC63E;
$gt-secondary:#48CEF3;
$gt-success: #CCFC9D;
$gt-info: #A4A4A4;
$gt-warning: #FFCC00;
$gt-danger: #FF0000;
$gt-light: #797C92;
$gt-dark: #6D7C97;
$gt-white: #ffffff;
$gt-sky: #48CEF3;
$gt-gray: #F8F8F8;
$gt-black: #000000;
$gt-lightblack: #121212;
$gt-lightgrayish: #4B6E82;


$gt-primary-important: #8BC63E;
$gt-secondary-important:#48CEF3;
$gt-success-important: #CCFC9D;
$gt-info-important: #A4A4A4;
$gt-warning-important: #FFCC00;
$gt-danger-important: #FF0000;
$gt-light-important: #797C92;
$gt-dark-important: #6D7C97;
$gt-white-important: #ffffff;
$gt-sky-important: #48CEF3;
$gt-gray-important: #F8F8F8;
$gt-black-important: #000000;


$gt-font-poppins: 'Poppins', sans-serif;
$gt-font-dmSans: 'DM Sans', sans-serif;
$gt-font-gilroy: 'Gilroy', sans-serif;
$roboto: 'Roboto';

$gt-valign-baseline: baseline; 
$gt-valign-top: top; 
$gt-valign-middle: middle; 
$gt-valign-bottom: bottom; 
$gt-valign-bottom: text-bottom; 
$gt-valign-top: text-top; 
$gt-valign-inherit: inherit; 
$gt-valign-initial: initial; 
$gt-valign-revert: revert; 
$gt-valign-sub: sub; 
$gt-valign-super: super; 
$gt-valign-unset: unset; 
$gt-valign-webkit-middle: -webkit-baseline-middle; 


$gt-float-left: left; 
$gt-float-right: right; 
$gt-float-none: none; 

$gt-display-inline: inline; 
$gt-display-inline-block: inline-block; 
$gt-display-block: block; 
$gt-display-grid: grid; 
$gt-display-table: table; 
$gt-display-table-row: table-row; 
$gt-display-table-cell: table-cell; 
$gt-display-flex: flex; 
$gt-display-inline-flex: inline-flex; 
$gt-display-none: none; 

$gt-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$gt-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$gt-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175); 
$gt-shadow-none: none; 

$gt-position-static: static; 
$gt-position-relative: relative; 
$gt-position-absolute: absolute; 
$gt-position-fixed: fixed; 
$gt-position-sticky: sticky; 

$gt-top-zero: 0; 
$gt-bottom-zero: 0; 
$gt-left-zero: 0; 
$gt-right-zero: 0; 

$gt-border: 1px solid #dee2e6; 
$gt-border-zero: 0em; 
$gt-border-top: 1px solid #dee2e6; 
$gt-border-top-zero: 0em; 
$gt-border-right: 1px solid #dee2e6; 
$gt-border-right-zero: 0em; 
$gt-border-bottom: 1px solid #dee2e6; 
$gt-border-bottom-zero: 0em; 
$gt-border-left: 1px solid #dee2e6; 
$gt-border-left-zero: 0em; 
$gt-border-primary:  #8BC63E; 
$gt-border-secondary: #48CEF3; 
$gt-border-success: #CCFC9D; 
$gt-border-info: #A4A4A4; 
$gt-border-warning: #FFCC00; 
$gt-border-danger:  #FF0000; 
$gt-border-light: #797C92; 
$gt-border-dark: #6D7C97; 
$gt-border-white: #ffffff; 
$gt-border-sky: #48CEF3;
$gt-border-gray:  #F8F8F8;
$gt-border-0: 0em; 
$gt-border-1: 0.063em; 
$gt-border-2: 0.125em; 
$gt-border-3: 0.188em; 
$gt-border-4: 0.250em; 
$gt-border-5: 0.313em; 





$gt-border-none: none; 
$gt-border-top-none: none; 
$gt-border-right-none: none; 
$gt-border-bottom-none: none; 
$gt-border-left-none: none; 
$gt-outline: none; 


$gt-width-100: 100%; 
$gt-width-auto: auto; 
$gt-mwidth-100: 100%; 
$gt-vwidth-100: 100vw; 
$gt-min-vwidth-100: 100vw; 
$gt-height-100: 100%; 
$gt-height-auto: auto; 
$gt-mheight-100: 100%; 
$gt-vheight-100: 100vh; 
$gt-min-vheight-100: 100vh; 
$gt-flex-fill: 1 1 auto; 
$gt-flex-row: row; 
$gt-flex-column: column; 
$gt-flex-row-reverse: row-reverse; 
$gt-flex-column-reverse: column-reverse; 
$gt-flex-grow-zero: 0; 
$gt-flex-grow-1: 1; 
$gt-flex-shrink-zero: 0; 
$gt-flex-shrink-1: 1; 
$gt-flex-wrap: wrap; 
$gt-flex-nowrap: nowrap; 
$gt-flex-wrap-reverse: wrap-reverse; 



$gt-justify-content-start: flex-start; 
$gt-justify-content-end: flex-end; 
$gt-justify-content-center: center; 
$gt-justify-content-between: space-between; 
$gt-justify-content-around: space-around; 
$gt-justify-content-evenly: space-evenly; 
$gt-align-items-start: flex-start; 
$gt-align-items-end: flex-end; 
$gt-align-items-center: center; 
$gt-align-items-baseline: baseline; 
$gt-align-items-stretch: stretch; 
$gt-align-content-start: flex-start; 
$gt-align-content-end: flex-end; 
$gt-align-content-center: center; 
$gt-align-content-between: space-between; 
$gt-align-content-around: space-around; 
$gt-align-content-stretch: stretch; 
$gt-align-self-auto: auto; 
$gt-align-self-start: flex-start; 
$gt-align-self-end: flex-end; 
$gt-align-self-center: center; 
$gt-align-self-baseline: baseline; 
$gt-align-self-stretch: stretch; 




$gt-mg-zero: 0em; 
$gt-mg-auto: auto; 
$gt-mt-zero: 0em; 
$gt-mt-auto: auto; 
$gt-mr-zero: 0em; 
$gt-mr-auto: auto; 
$gt-mb-zero: 0em; 
$gt-mb-auto: auto; 
$gt-ml-zero: 0em; 
$gt-ml-auto: auto; 

$gt-pd-zero: 0em; 
$gt-pt-zero: 0em; 
$gt-pr-zero: 0em; 
$gt-pb-zero: 0em; 
$gt-pl-zero: 0em; 


$gt-text-italic: italic; 
$gt-text-normal: normal; 
$gt-text-lighter: lighter; 
$gt-text-light: 300; 
$gt-text-regular: 400; 
$gt-text-medium: 500; 
$gt-text-semi-bold: 600; 
$gt-text-bold: 700; 
$gt-text-lowercase: lowercase; 
$gt-text-uppercase: uppercase; 
$gt-text-capitalize: capitalize; 
$gt-text-left: left; 
$gt-text-right: right; 
$gt-text-center: center; 
$gt-text-wrap: normal; 
$gt-text-nowrap: nowrap; 
$gt-text-decoration-none: none; 
$gt-text-decoration-underline: underline; 
$gt-text-decoration-line-through: line-through; 
$gt-text-break: break-word; 


$gt-bg-primary: #8BC63E; 
$gt-bg-secondary: #48CEF3; 
$gt-bg-success: #CCFC9D; 
$gt-bg-info: #A4A4A4; 
$gt-bg-warning: #FFCC00; 
$gt-bg-danger: #FF0000; 
$gt-bg-light: #797C92; 
$gt-bg-dark: #6D7C97; 
$gt-bg-body: #ffffff; 
$gt-bg-white: #ffffff;
$gt-bg-sky: #48CEF3;
$gt-bg-gray: #F8F8F8; 
$gt-bg-transparent: transparent; 
$gt-bg-input: #F8F8F8;



$gt-border-radius: 0.438em; 
$gt-border-radius-zero: 0em; 
$gt-border-radius-1: 0.063em;
$gt-border-radius-2: 0.125em;
$gt-border-radius-3: 0.188em;
$gt-border-radius-4: 0.250em; 
$gt-border-radius-5: 0.313em; 
$gt-border-radius-6: 0.375em;
$gt-border-radius-7: 0.438em;
$gt-border-radius-8: 0.500em;
$gt-border-radius-9: 0.563em;
$gt-border-radius-10: 0.625em;
$gt-border-radius-11: 0.688em;
$gt-border-radius-12: 0.750em;
$gt-border-radius-13: 0.813em;
$gt-border-radius-14: 0.875em;
$gt-border-radius-15: 0.938em;
$gt-border-radius-16: 1.000em;
$gt-border-radius-17: 1.063em;
$gt-border-radius-18: 1.125em;
$gt-border-radius-19: 1.188em;
$gt-border-radius-20: 1.250em;
$gt-border-radius-21: 1.313em;
$gt-border-radius-22: 1.375em;
$gt-border-radius-circle: 50%; 
$gt-border-radius-pill: 3.125em; 
$gt-border-radius-top-left: 0.438em;
$gt-border-radius-top-right: 0.438em;
$gt-border-radius-bottom-right: 0.438em; 
$gt-border-radius-left-left: 0.438em; 

$gt-visible: visible; 
$gt-invisible: hidden; 
$gt-overflow-auto: auto; 
$gt-overflow-hidden: hidden; 
$gt-overflow-inherit: inherit; 
$gt-overflow-overlay: overlay; 
$gt-overflow-scroll: scroll; 

$gt-cursor-pointer: pointer;

$gt-fs-10: 0.625em;
$gt-fs-11: 0.688em;
$gt-fs-12: 0.750em;
$gt-fs-13: 0.813em;
$gt-fs-14: 0.875em;
$gt-fs-15: 0.938em;
$gt-fs-16: 1.000em;
$gt-fs-17: 1.063em;
$gt-fs-18: 1.125em;
$gt-fs-19: 1.188em;
$gt-fs-20: 1.250em;
$gt-fs-21: 1.313em;
$gt-fs-22: 1.375em;
$gt-fs-23: 1.438em;
$gt-fs-24: 1.500em;
$gt-fs-25: 1.563em;
$gt-fs-26: 1.625em;
$gt-fs-27: 1.688em;
$gt-fs-28: 1.750em;
$gt-fs-29: 1.813em;
$gt-fs-30: 1.875em;
$gt-fs-31: 1.938em;
$gt-fs-32: 2.000em;
$gt-fs-33: 2.063em;
$gt-fs-34: 2.125em;
$gt-fs-35: 2.188em;
$gt-fs-36: 2.250em;
$gt-fs-37: 2.313em;
$gt-fs-38: 2.375em;
$gt-fs-39: 2.438em;
$gt-fs-40: 2.500em;
$gt-fs-41: 2.563em;
$gt-fs-42: 2.625em;
$gt-fs-43: 2.688em;
$gt-fs-44: 2.750em;
$gt-fs-45: 2.813em;
$gt-fs-46: 2.875em;
$gt-fs-47: 2.938em;
$gt-fs-48: 3.000em;
$gt-fs-49: 3.063em;
$gt-fs-50: 3.125em;
$gt-fs-51: 3.188em;
$gt-fs-52: 3.250em;
$gt-fs-53: 3.313em;
$gt-fs-54: 3.375em;
$gt-fs-55: 3.438em;
$gt-fs-56: 3.500em;
$gt-fs-57: 3.563em;
$gt-fs-58: 3.625em;
$gt-fs-59: 3.688em;
$gt-fs-60: 3.750em;



$gt-mg-zero: 0px;
$gt-mg-1: 1px;
$gt-mg-2: 2px;
$gt-mg-3: 3px;
$gt-mg-4: 4px;
$gt-mg-5: 5px;
$gt-mg-6: 6px;
$gt-mg-7: 7px;
$gt-mg-8: 8px;
$gt-mg-9: 9px;
$gt-mg-10: 10px;
$gt-mg-11: 11px;
$gt-mg-12: 12px;
$gt-mg-13: 13px;
$gt-mg-14: 14px;
$gt-mg-15: 15px;
$gt-mg-16: 16px;
$gt-mg-17: 17px;
$gt-mg-18: 18px;
$gt-mg-19: 19px;
$gt-mg-20: 20px;
$gt-mg-21: 21px;
$gt-mg-22: 22px;
$gt-mg-23: 23px;
$gt-mg-24: 24px;
$gt-mg-25: 25px;
$gt-mg-26: 26px;
$gt-mg-27: 27px;
$gt-mg-28: 28px;
$gt-mg-29: 29px;
$gt-mg-30: 30px;

$gt-mt-zero: 0px;
$gt-mt-1: 1px;
$gt-mt-2: 2px;
$gt-mt-3: 3px;
$gt-mt-4: 4px;
$gt-mt-5: 5px;
$gt-mt-6: 6px;
$gt-mt-7: 7px;
$gt-mt-8: 8px;
$gt-mt-9: 9px;
$gt-mt-10: 10px;
$gt-mt-11: 11px;
$gt-mt-12: 12px;
$gt-mt-13: 13px;
$gt-mt-14: 14px;
$gt-mt-15: 15px;
$gt-mt-16: 16px;
$gt-mt-17: 17px;
$gt-mt-18: 18px;
$gt-mt-19: 19px;
$gt-mt-20: 20px;
$gt-mt-21: 21px;
$gt-mt-22: 22px;
$gt-mt-23: 23px;
$gt-mt-24: 24px;
$gt-mt-25: 25px;
$gt-mt-26: 26px;
$gt-mt-27: 27px;
$gt-mt-28: 28px;
$gt-mt-29: 29px;
$gt-mt-30: 30px;
$gt-mt-31: 31px;
$gt-mt-32: 32px;
$gt-mt-33: 33px;
$gt-mt-34: 34px;
$gt-mt-35: 35px;
$gt-mt-36: 36px;
$gt-mt-37: 37px;
$gt-mt-38: 38px;
$gt-mt-39: 39px;
$gt-mt-40: 40px;
$gt-mt-41: 41px;
$gt-mt-42: 42px;
$gt-mt-43: 43px;
$gt-mt-44: 44px;
$gt-mt-45: 45px;
$gt-mt-46: 46px;
$gt-mt-47: 47px;
$gt-mt-48: 48px;
$gt-mt-49: 49px;
$gt-mt-50: 50px;
$gt-mt-51: 51px;
$gt-mt-52: 52px;
$gt-mt-53: 53px;
$gt-mt-54: 54px;
$gt-mt-55: 55px;
$gt-mt-56: 56px;
$gt-mt-57: 57px;
$gt-mt-58: 58px;
$gt-mt-59: 59px;
$gt-mt-60: 60px;
$gt-mt-61: 61px;
$gt-mt-62: 62px;
$gt-mt-63: 63px;
$gt-mt-64: 64px;
$gt-mt-65: 65px;
$gt-mt-66: 66px;
$gt-mt-67: 67px;
$gt-mt-68: 68px;
$gt-mt-69: 69px;
$gt-mt-70: 70px;
$gt-mt-71: 71px;
$gt-mt-72: 72px;
$gt-mt-73: 73px;
$gt-mt-74: 74px;
$gt-mt-75: 75px;
$gt-mt-76: 76px;
$gt-mt-77: 77px;
$gt-mt-78: 78px;
$gt-mt-79: 79px;
$gt-mt-80: 80px;
$gt-mt-81: 81px;
$gt-mt-82: 82px;
$gt-mt-83: 83px;
$gt-mt-84: 84px;
$gt-mt-85: 85px;
$gt-mt-86: 86px;
$gt-mt-87: 87px;
$gt-mt-88: 88px;
$gt-mt-89: 89px;
$gt-mt-90: 90px;
$gt-mt-91: 91px;
$gt-mt-92: 92px;
$gt-mt-93: 93px;
$gt-mt-94: 94px;
$gt-mt-95: 95px;
$gt-mt-96: 96px;
$gt-mt-97: 97px;
$gt-mt-98: 98px;
$gt-mt-99: 99px;
$gt-mt-100: 100px;
$gt-mt-101: 101px;
$gt-mt-102: 102px;
$gt-mt-103: 103px;
$gt-mt-104: 104px;
$gt-mt-105: 105px;
$gt-mt-106: 106px;
$gt-mt-107: 107px;
$gt-mt-108: 108px;
$gt-mt-109: 109px;
$gt-mt-110: 110px;
$gt-mt-111: 111px;
$gt-mt-112: 112px;
$gt-mt-113: 113px;
$gt-mt-114: 114px;
$gt-mt-115: 115px;
$gt-mt-116: 116px;
$gt-mt-117: 117px;
$gt-mt-118: 118px;
$gt-mt-119: 119px;
$gt-mt-120: 120px;
$gt-mt-121: 121px;
$gt-mt-122: 122px;
$gt-mt-123: 123px;
$gt-mt-124: 124px;
$gt-mt-125: 125px;
$gt-mt-126: 126px;
$gt-mt-127: 127px;
$gt-mt-128: 128px;
$gt-mt-129: 129px;
$gt-mt-130: 130px;
$gt-mt-131: 131px;
$gt-mt-132: 132px;
$gt-mt-133: 133px;
$gt-mt-134: 134px;
$gt-mt-135: 135px;
$gt-mt-136: 136px;
$gt-mt-137: 137px;
$gt-mt-138: 138px;
$gt-mt-139: 139px;
$gt-mt-140: 140px;
$gt-mt-141: 141px;
$gt-mt-142: 142px;
$gt-mt-143: 143px;
$gt-mt-144: 144px;
$gt-mt-145: 145px;
$gt-mt-146: 146px;
$gt-mt-147: 147px;
$gt-mt-148: 148px;
$gt-mt-149: 149px;
$gt-mt-150: 150px;
$gt-mt-151: 151px;
$gt-mt-152: 152px;
$gt-mt-153: 153px;
$gt-mt-154: 154px;
$gt-mt-155: 155px;
$gt-mt-156: 156px;
$gt-mt-157: 157px;
$gt-mt-158: 158px;
$gt-mt-159: 159px;
$gt-mt-160: 160px;
$gt-mt-161: 161px;
$gt-mt-162: 162px;
$gt-mt-163: 163px;
$gt-mt-164: 164px;
$gt-mt-165: 165px;
$gt-mt-166: 166px;
$gt-mt-167: 167px;
$gt-mt-168: 168px;
$gt-mt-169: 169px;
$gt-mt-170: 170px;
$gt-mt-171: 171px;
$gt-mt-172: 172px;
$gt-mt-173: 173px;
$gt-mt-174: 174px;
$gt-mt-175: 175px;
$gt-mt-176: 176px;
$gt-mt-177: 177px;
$gt-mt-178: 178px;
$gt-mt-179: 179px;
$gt-mt-180: 180px;
$gt-mt-181: 181px;
$gt-mt-182: 182px;
$gt-mt-183: 183px;
$gt-mt-184: 184px;
$gt-mt-185: 185px;
$gt-mt-186: 186px;
$gt-mt-187: 187px;
$gt-mt-188: 188px;
$gt-mt-189: 189px;
$gt-mt-190: 190px;
$gt-mt-191: 191px;
$gt-mt-192: 192px;
$gt-mt-193: 193px;
$gt-mt-194: 194px;
$gt-mt-195: 195px;
$gt-mt-196: 196px;
$gt-mt-197: 197px;
$gt-mt-198: 198px;
$gt-mt-199: 199px;
$gt-mt-200: 200px;
$gt-mt-244: 244px;


$gt-mr-zero: 0px;
$gt-mr-1: 1px;
$gt-mr-2: 2px;
$gt-mr-3: 3px;
$gt-mr-4: 4px;
$gt-mr-5: 5px;
$gt-mr-6: 6px;
$gt-mr-7: 7px;
$gt-mr-8: 8px;
$gt-mr-9: 9px;
$gt-mr-10: 10px;
$gt-mr-11: 11px;
$gt-mr-12: 12px;
$gt-mr-13: 13px;
$gt-mr-14: 14px;
$gt-mr-15: 15px;
$gt-mr-16: 16px;
$gt-mr-17: 17px;
$gt-mr-18: 18px;
$gt-mr-19: 19px;
$gt-mr-20: 20px;
$gt-mr-21: 21px;
$gt-mr-22: 22px;
$gt-mr-23: 23px;
$gt-mr-24: 24px;
$gt-mr-25: 25px;
$gt-mr-26: 26px;
$gt-mr-27: 27px;
$gt-mr-28: 28px;
$gt-mr-29: 29px;
$gt-mr-30: 30px;
$gt-mr-31: 31px;
$gt-mr-32: 32px;
$gt-mr-33: 33px;
$gt-mr-34: 34px;
$gt-mr-35: 35px;
$gt-mr-36: 36px;
$gt-mr-37: 37px;
$gt-mr-38: 38px;
$gt-mr-39: 39px;
$gt-mr-40: 40px;
$gt-mr-41: 41px;
$gt-mr-42: 42px;
$gt-mr-43: 43px;
$gt-mr-44: 44px;
$gt-mr-45: 45px;
$gt-mr-46: 46px;
$gt-mr-47: 47px;
$gt-mr-48: 48px;
$gt-mr-49: 49px;
$gt-mr-50: 50px;
$gt-mr-51: 51px;
$gt-mr-52: 52px;
$gt-mr-53: 53px;
$gt-mr-54: 54px;
$gt-mr-55: 55px;
$gt-mr-56: 56px;
$gt-mr-57: 57px;
$gt-mr-58: 58px;
$gt-mr-59: 59px;
$gt-mr-60: 60px;
$gt-mr-61: 61px;
$gt-mr-62: 62px;
$gt-mr-63: 63px;
$gt-mr-64: 64px;
$gt-mr-65: 65px;
$gt-mr-66: 66px;
$gt-mr-67: 67px;
$gt-mr-68: 68px;
$gt-mr-69: 69px;
$gt-mr-70: 70px;
$gt-mr-71: 71px;
$gt-mr-72: 72px;
$gt-mr-73: 73px;
$gt-mr-74: 74px;
$gt-mr-75: 75px;
$gt-mr-76: 76px;
$gt-mr-77: 77px;
$gt-mr-78: 78px;
$gt-mr-79: 79px;
$gt-mr-80: 80px;
$gt-mr-81: 81px;
$gt-mr-82: 82px;
$gt-mr-83: 83px;
$gt-mr-84: 84px;
$gt-mr-85: 85px;
$gt-mr-86: 86px;
$gt-mr-87: 87px;
$gt-mr-88: 88px;
$gt-mr-89: 89px;
$gt-mr-90: 90px;
$gt-mr-91: 91px;
$gt-mr-92: 92px;
$gt-mr-93: 93px;
$gt-mr-94: 94px;
$gt-mr-95: 95px;
$gt-mr-96: 96px;
$gt-mr-97: 97px;
$gt-mr-98: 98px;
$gt-mr-99: 99px;
$gt-mr-100: 100px;
$gt-mr-101: 101px;
$gt-mr-102: 102px;
$gt-mr-103: 103px;
$gt-mr-104: 104px;
$gt-mr-105: 105px;
$gt-mr-106: 106px;
$gt-mr-107: 107px;
$gt-mr-108: 108px;
$gt-mr-109: 109px;
$gt-mr-110: 110px;
$gt-mr-111: 111px;
$gt-mr-112: 112px;
$gt-mr-113: 113px;
$gt-mr-114: 114px;
$gt-mr-115: 115px;
$gt-mr-116: 116px;
$gt-mr-117: 117px;
$gt-mr-118: 118px;
$gt-mr-119: 119px;
$gt-mr-120: 120px;
$gt-mr-121: 121px;
$gt-mr-122: 122px;
$gt-mr-123: 123px;
$gt-mr-124: 124px;
$gt-mr-125: 125px;
$gt-mr-126: 126px;
$gt-mr-127: 127px;
$gt-mr-128: 128px;
$gt-mr-129: 129px;
$gt-mr-130: 130px;
$gt-mr-131: 131px;
$gt-mr-132: 132px;
$gt-mr-133: 133px;
$gt-mr-134: 134px;
$gt-mr-135: 135px;
$gt-mr-136: 136px;
$gt-mr-137: 137px;
$gt-mr-138: 138px;
$gt-mr-139: 139px;
$gt-mr-140: 140px;
$gt-mr-141: 141px;
$gt-mr-142: 142px;
$gt-mr-143: 143px;
$gt-mr-144: 144px;
$gt-mr-145: 145px;
$gt-mr-146: 146px;
$gt-mr-147: 147px;
$gt-mr-148: 148px;
$gt-mr-149: 149px;
$gt-mr-150: 150px;
$gt-mr-151: 151px;
$gt-mr-152: 152px;
$gt-mr-153: 153px;
$gt-mr-154: 154px;
$gt-mr-155: 155px;
$gt-mr-156: 156px;
$gt-mr-157: 157px;
$gt-mr-158: 158px;
$gt-mr-159: 159px;
$gt-mr-160: 160px;
$gt-mr-161: 161px;
$gt-mr-162: 162px;
$gt-mr-163: 163px;
$gt-mr-164: 164px;
$gt-mr-165: 165px;
$gt-mr-166: 166px;
$gt-mr-167: 167px;
$gt-mr-168: 168px;
$gt-mr-169: 169px;
$gt-mr-170: 170px;
$gt-mr-171: 171px;
$gt-mr-172: 172px;
$gt-mr-173: 173px;
$gt-mr-174: 174px;
$gt-mr-175: 175px;
$gt-mr-176: 176px;
$gt-mr-177: 177px;
$gt-mr-178: 178px;
$gt-mr-179: 179px;
$gt-mr-180: 180px;
$gt-mr-181: 181px;
$gt-mr-182: 182px;
$gt-mr-183: 183px;
$gt-mr-184: 184px;
$gt-mr-185: 185px;
$gt-mr-186: 186px;
$gt-mr-187: 187px;
$gt-mr-188: 188px;
$gt-mr-189: 189px;
$gt-mr-190: 190px;
$gt-mr-191: 191px;
$gt-mr-192: 192px;
$gt-mr-193: 193px;
$gt-mr-194: 194px;
$gt-mr-195: 195px;
$gt-mr-196: 196px;
$gt-mr-197: 197px;
$gt-mr-198: 198px;
$gt-mr-199: 199px;
$gt-mr-200: 200px;


$gt-mb-zero: 0px;
$gt-mb-1: 1px;
$gt-mb-2: 2px;
$gt-mb-3: 3px;
$gt-mb-4: 4px;
$gt-mb-5: 5px;
$gt-mb-6: 6px;
$gt-mb-7: 7px;
$gt-mb-8: 8px;
$gt-mb-9: 9px;
$gt-mb-10: 10px;
$gt-mb-11: 11px;
$gt-mb-12: 12px;
$gt-mb-13: 13px;
$gt-mb-14: 14px;
$gt-mb-15: 15px;
$gt-mb-16: 16px;
$gt-mb-17: 17px;
$gt-mb-18: 18px;
$gt-mb-19: 19px;
$gt-mb-20: 20px;
$gt-mb-21: 21px;
$gt-mb-22: 22px;
$gt-mb-23: 23px;
$gt-mb-24: 24px;
$gt-mb-25: 25px;
$gt-mb-26: 26px;
$gt-mb-27: 27px;
$gt-mb-28: 28px;
$gt-mb-29: 29px;
$gt-mb-30: 30px;
$gt-mb-31: 31px;
$gt-mb-32: 32px;
$gt-mb-33: 33px;
$gt-mb-34: 34px;
$gt-mb-35: 35px;
$gt-mb-36: 36px;
$gt-mb-37: 37px;
$gt-mb-38: 38px;
$gt-mb-39: 39px;
$gt-mb-40: 40px;
$gt-mb-41: 41px;
$gt-mb-42: 42px;
$gt-mb-43: 43px;
$gt-mb-44: 44px;
$gt-mb-45: 45px;
$gt-mb-46: 46px;
$gt-mb-47: 47px;
$gt-mb-48: 48px;
$gt-mb-49: 49px;
$gt-mb-50: 50px;
$gt-mb-51: 51px;
$gt-mb-52: 52px;
$gt-mb-53: 53px;
$gt-mb-54: 54px;
$gt-mb-55: 55px;
$gt-mb-56: 56px;
$gt-mb-57: 57px;
$gt-mb-58: 58px;
$gt-mb-59: 59px;
$gt-mb-60: 60px;
$gt-mb-61: 61px;
$gt-mb-62: 62px;
$gt-mb-63: 63px;
$gt-mb-64: 64px;
$gt-mb-65: 65px;
$gt-mb-66: 66px;
$gt-mb-67: 67px;
$gt-mb-68: 68px;
$gt-mb-69: 69px;
$gt-mb-70: 70px;
$gt-mb-71: 71px;
$gt-mb-72: 72px;
$gt-mb-73: 73px;
$gt-mb-74: 74px;
$gt-mb-75: 75px;
$gt-mb-76: 76px;
$gt-mb-77: 77px;
$gt-mb-78: 78px;
$gt-mb-79: 79px;
$gt-mb-80: 80px;
$gt-mb-81: 81px;
$gt-mb-82: 82px;
$gt-mb-83: 83px;
$gt-mb-84: 84px;
$gt-mb-85: 85px;
$gt-mb-86: 86px;
$gt-mb-87: 87px;
$gt-mb-88: 88px;
$gt-mb-89: 89px;
$gt-mb-90: 90px;
$gt-mb-91: 91px;
$gt-mb-92: 92px;
$gt-mb-93: 93px;
$gt-mb-94: 94px;
$gt-mb-95: 95px;
$gt-mb-96: 96px;
$gt-mb-97: 97px;
$gt-mb-98: 98px;
$gt-mb-99: 99px;
$gt-mb-100: 100px;
$gt-mb-101: 101px;
$gt-mb-102: 102px;
$gt-mb-103: 103px;
$gt-mb-104: 104px;
$gt-mb-105: 105px;
$gt-mb-106: 106px;
$gt-mb-107: 107px;
$gt-mb-108: 108px;
$gt-mb-109: 109px;
$gt-mb-110: 110px;
$gt-mb-111: 111px;
$gt-mb-112: 112px;
$gt-mb-113: 113px;
$gt-mb-114: 114px;
$gt-mb-115: 115px;
$gt-mb-116: 116px;
$gt-mb-117: 117px;
$gt-mb-118: 118px;
$gt-mb-119: 119px;
$gt-mb-120: 120px;
$gt-mb-121: 121px;
$gt-mb-122: 122px;
$gt-mb-123: 123px;
$gt-mb-124: 124px;
$gt-mb-125: 125px;
$gt-mb-126: 126px;
$gt-mb-127: 127px;
$gt-mb-128: 128px;
$gt-mb-129: 129px;
$gt-mb-130: 130px;
$gt-mb-131: 131px;
$gt-mb-132: 132px;
$gt-mb-133: 133px;
$gt-mb-134: 134px;
$gt-mb-135: 135px;
$gt-mb-136: 136px;
$gt-mb-137: 137px;
$gt-mb-138: 138px;
$gt-mb-139: 139px;
$gt-mb-140: 140px;
$gt-mb-141: 141px;
$gt-mb-142: 142px;
$gt-mb-143: 143px;
$gt-mb-144: 144px;
$gt-mb-145: 145px;
$gt-mb-146: 146px;
$gt-mb-147: 147px;
$gt-mb-148: 148px;
$gt-mb-149: 149px;
$gt-mb-150: 150px;
$gt-mb-151: 151px;
$gt-mb-152: 152px;
$gt-mb-153: 153px;
$gt-mb-154: 154px;
$gt-mb-155: 155px;
$gt-mb-156: 156px;
$gt-mb-157: 157px;
$gt-mb-158: 158px;
$gt-mb-159: 159px;
$gt-mb-160: 160px;
$gt-mb-161: 161px;
$gt-mb-162: 162px;
$gt-mb-163: 163px;
$gt-mb-164: 164px;
$gt-mb-165: 165px;
$gt-mb-166: 166px;
$gt-mb-167: 167px;
$gt-mb-168: 168px;
$gt-mb-169: 169px;
$gt-mb-170: 170px;
$gt-mb-171: 171px;
$gt-mb-172: 172px;
$gt-mb-173: 173px;
$gt-mb-174: 174px;
$gt-mb-175: 175px;
$gt-mb-176: 176px;
$gt-mb-177: 177px;
$gt-mb-178: 178px;
$gt-mb-179: 179px;
$gt-mb-180: 180px;
$gt-mb-181: 181px;
$gt-mb-182: 182px;
$gt-mb-183: 183px;
$gt-mb-184: 184px;
$gt-mb-185: 185px;
$gt-mb-186: 186px;
$gt-mb-187: 187px;
$gt-mb-188: 188px;
$gt-mb-189: 189px;
$gt-mb-190: 190px;
$gt-mb-191: 191px;
$gt-mb-192: 192px;
$gt-mb-193: 193px;
$gt-mb-194: 194px;
$gt-mb-195: 195px;
$gt-mb-196: 196px;
$gt-mb-197: 197px;
$gt-mb-198: 198px;
$gt-mb-199: 199px;
$gt-mb-200: 200px;

$gt-ml-zero: 0px;
$gt-ml-1: 1px;
$gt-ml-2: 2px;
$gt-ml-3: 3px;
$gt-ml-4: 4px;
$gt-ml-5: 5px;
$gt-ml-6: 6px;
$gt-ml-7: 7px;
$gt-ml-8: 8px;
$gt-ml-9: 9px;
$gt-ml-10: 10px;
$gt-ml-11: 11px;
$gt-ml-12: 12px;
$gt-ml-13: 13px;
$gt-ml-14: 14px;
$gt-ml-15: 15px;
$gt-ml-16: 16px;
$gt-ml-17: 17px;
$gt-ml-18: 18px;
$gt-ml-19: 19px;
$gt-ml-20: 20px;
$gt-ml-21: 21px;
$gt-ml-22: 22px;
$gt-ml-23: 23px;
$gt-ml-24: 24px;
$gt-ml-25: 25px;
$gt-ml-26: 26px;
$gt-ml-27: 27px;
$gt-ml-28: 28px;
$gt-ml-29: 29px;
$gt-ml-30: 30px;
$gt-ml-31: 31px;
$gt-ml-32: 32px;
$gt-ml-33: 33px;
$gt-ml-34: 34px;
$gt-ml-35: 35px;
$gt-ml-36: 36px;
$gt-ml-37: 37px;
$gt-ml-38: 38px;
$gt-ml-39: 39px;
$gt-ml-40: 40px;
$gt-ml-41: 41px;
$gt-ml-42: 42px;
$gt-ml-43: 43px;
$gt-ml-44: 44px;
$gt-ml-45: 45px;
$gt-ml-46: 46px;
$gt-ml-47: 47px;
$gt-ml-48: 48px;
$gt-ml-49: 49px;
$gt-ml-50: 50px;
$gt-ml-51: 51px;
$gt-ml-52: 52px;
$gt-ml-53: 53px;
$gt-ml-54: 54px;
$gt-ml-55: 55px;
$gt-ml-56: 56px;
$gt-ml-57: 57px;
$gt-ml-58: 58px;
$gt-ml-59: 59px;
$gt-ml-60: 60px;
$gt-ml-61: 61px;
$gt-ml-62: 62px;
$gt-ml-63: 63px;
$gt-ml-64: 64px;
$gt-ml-65: 65px;
$gt-ml-66: 66px;
$gt-ml-67: 67px;
$gt-ml-68: 68px;
$gt-ml-69: 69px;
$gt-ml-70: 70px;
$gt-ml-71: 71px;
$gt-ml-72: 72px;
$gt-ml-73: 73px;
$gt-ml-74: 74px;
$gt-ml-75: 75px;
$gt-ml-76: 76px;
$gt-ml-77: 77px;
$gt-ml-78: 78px;
$gt-ml-79: 79px;
$gt-ml-80: 80px;
$gt-ml-81: 81px;
$gt-ml-82: 82px;
$gt-ml-83: 83px;
$gt-ml-84: 84px;
$gt-ml-85: 85px;
$gt-ml-86: 86px;
$gt-ml-87: 87px;
$gt-ml-88: 88px;
$gt-ml-89: 89px;
$gt-ml-90: 90px;
$gt-ml-91: 91px;
$gt-ml-92: 92px;
$gt-ml-93: 93px;
$gt-ml-94: 94px;
$gt-ml-95: 95px;
$gt-ml-96: 96px;
$gt-ml-97: 97px;
$gt-ml-98: 98px;
$gt-ml-99: 99px;
$gt-ml-100: 100px;
$gt-ml-101: 101px;
$gt-ml-102: 102px;
$gt-ml-103: 103px;
$gt-ml-104: 104px;
$gt-ml-105: 105px;
$gt-ml-106: 106px;
$gt-ml-107: 107px;
$gt-ml-108: 108px;
$gt-ml-109: 109px;
$gt-ml-110: 110px;
$gt-ml-111: 111px;
$gt-ml-112: 112px;
$gt-ml-113: 113px;
$gt-ml-114: 114px;
$gt-ml-115: 115px;
$gt-ml-116: 116px;
$gt-ml-117: 117px;
$gt-ml-118: 118px;
$gt-ml-119: 119px;
$gt-ml-120: 120px;
$gt-ml-121: 121px;
$gt-ml-122: 122px;
$gt-ml-123: 123px;
$gt-ml-124: 124px;
$gt-ml-125: 125px;
$gt-ml-126: 126px;
$gt-ml-127: 127px;
$gt-ml-128: 128px;
$gt-ml-129: 129px;
$gt-ml-130: 130px;
$gt-ml-131: 131px;
$gt-ml-132: 132px;
$gt-ml-133: 133px;
$gt-ml-134: 134px;
$gt-ml-135: 135px;
$gt-ml-136: 136px;
$gt-ml-137: 137px;
$gt-ml-138: 138px;
$gt-ml-139: 139px;
$gt-ml-140: 140px;
$gt-ml-141: 141px;
$gt-ml-142: 142px;
$gt-ml-143: 143px;
$gt-ml-144: 144px;
$gt-ml-145: 145px;
$gt-ml-146: 146px;
$gt-ml-147: 147px;
$gt-ml-148: 148px;
$gt-ml-149: 149px;
$gt-ml-150: 150px;
$gt-ml-151: 151px;
$gt-ml-152: 152px;
$gt-ml-153: 153px;
$gt-ml-154: 154px;
$gt-ml-155: 155px;
$gt-ml-156: 156px;
$gt-ml-157: 157px;
$gt-ml-158: 158px;
$gt-ml-159: 159px;
$gt-ml-160: 160px;
$gt-ml-161: 161px;
$gt-ml-162: 162px;
$gt-ml-163: 163px;
$gt-ml-164: 164px;
$gt-ml-165: 165px;
$gt-ml-166: 166px;
$gt-ml-167: 167px;
$gt-ml-168: 168px;
$gt-ml-169: 169px;
$gt-ml-170: 170px;
$gt-ml-171: 171px;
$gt-ml-172: 172px;
$gt-ml-173: 173px;
$gt-ml-174: 174px;
$gt-ml-175: 175px;
$gt-ml-176: 176px;
$gt-ml-177: 177px;
$gt-ml-178: 178px;
$gt-ml-179: 179px;
$gt-ml-180: 180px;
$gt-ml-181: 181px;
$gt-ml-182: 182px;
$gt-ml-183: 183px;
$gt-ml-184: 184px;
$gt-ml-185: 185px;
$gt-ml-186: 186px;
$gt-ml-187: 187px;
$gt-ml-188: 188px;
$gt-ml-189: 189px;
$gt-ml-190: 190px;
$gt-ml-191: 191px;
$gt-ml-192: 192px;
$gt-ml-193: 193px;
$gt-ml-194: 194px;
$gt-ml-195: 195px;
$gt-ml-196: 196px;
$gt-ml-197: 197px;
$gt-ml-198: 198px;
$gt-ml-199: 199px;
$gt-ml-200: 200px;




$gt-pd-zero: 0px;
$gt-pd-1: 1px;
$gt-pd-2: 2px;
$gt-pd-3: 3px;
$gt-pd-4: 4px;
$gt-pd-5: 5px;
$gt-pd-6: 6px;
$gt-pd-7: 7px;
$gt-pd-8: 8px;
$gt-pd-9: 9px;
$gt-pd-10: 10px;
$gt-pd-11: 11px;
$gt-pd-12: 12px;
$gt-pd-13: 13px;
$gt-pd-14: 14px;
$gt-pd-15: 15px;
$gt-pd-16: 16px;
$gt-pd-17: 17px;
$gt-pd-18: 18px;
$gt-pd-19: 19px;
$gt-pd-20: 20px;
$gt-pd-21: 21px;
$gt-pd-22: 22px;
$gt-pd-23: 23px;
$gt-pd-24: 24px;
$gt-pd-25: 25px;
$gt-pd-26: 26px;
$gt-pd-27: 27px;
$gt-pd-28: 28px;
$gt-pd-29: 29px;
$gt-pd-30: 30px;


$gt-pt-zero: 0px;
$gt-pt-1: 1px;
$gt-pt-2: 2px;
$gt-pt-3: 3px;
$gt-pt-4: 4px;
$gt-pt-5: 5px;
$gt-pt-6: 6px;
$gt-pt-7: 7px;
$gt-pt-8: 8px;
$gt-pt-9: 9px;
$gt-pt-10: 10px;
$gt-pt-11: 11px;
$gt-pt-12: 12px;
$gt-pt-13: 13px;
$gt-pt-14: 14px;
$gt-pt-15: 15px;
$gt-pt-16: 16px;
$gt-pt-17: 17px;
$gt-pt-18: 18px;
$gt-pt-19: 19px;
$gt-pt-20: 20px;
$gt-pt-21: 21px;
$gt-pt-22: 22px;
$gt-pt-23: 23px;
$gt-pt-24: 24px;
$gt-pt-25: 25px;
$gt-pt-26: 26px;
$gt-pt-27: 27px;
$gt-pt-28: 28px;
$gt-pt-29: 29px;
$gt-pt-30: 30px;
$gt-pt-31: 31px;
$gt-pt-32: 32px;
$gt-pt-33: 33px;
$gt-pt-34: 34px;
$gt-pt-35: 35px;
$gt-pt-36: 36px;
$gt-pt-37: 37px;
$gt-pt-38: 38px;
$gt-pt-39: 39px;
$gt-pt-40: 40px;
$gt-pt-41: 41px;
$gt-pt-42: 42px;
$gt-pt-43: 43px;
$gt-pt-44: 44px;
$gt-pt-45: 45px;
$gt-pt-46: 46px;
$gt-pt-47: 47px;
$gt-pt-48: 48px;
$gt-pt-49: 49px;
$gt-pt-50: 50px;
$gt-pt-51: 51px;
$gt-pt-52: 52px;
$gt-pt-53: 53px;
$gt-pt-54: 54px;
$gt-pt-55: 55px;
$gt-pt-56: 56px;
$gt-pt-57: 57px;
$gt-pt-58: 58px;
$gt-pt-59: 59px;
$gt-pt-60: 60px;
$gt-pt-61: 61px;
$gt-pt-62: 62px;
$gt-pt-63: 63px;
$gt-pt-64: 64px;
$gt-pt-65: 65px;
$gt-pt-66: 66px;
$gt-pt-67: 67px;
$gt-pt-68: 68px;
$gt-pt-69: 69px;
$gt-pt-70: 70px;
$gt-pt-71: 71px;
$gt-pt-72: 72px;
$gt-pt-73: 73px;
$gt-pt-74: 74px;
$gt-pt-75: 75px;
$gt-pt-76: 76px;
$gt-pt-77: 77px;
$gt-pt-78: 78px;
$gt-pt-79: 79px;
$gt-pt-80: 80px;
$gt-pt-81: 81px;
$gt-pt-82: 82px;
$gt-pt-83: 83px;
$gt-pt-84: 84px;
$gt-pt-85: 85px;
$gt-pt-86: 86px;
$gt-pt-87: 87px;
$gt-pt-88: 88px;
$gt-pt-89: 89px;
$gt-pt-90: 90px;
$gt-pt-91: 91px;
$gt-pt-92: 92px;
$gt-pt-93: 93px;
$gt-pt-94: 94px;
$gt-pt-95: 95px;
$gt-pt-96: 96px;
$gt-pt-97: 97px;
$gt-pt-98: 98px;
$gt-pt-99: 99px;
$gt-pt-100: 100px;
$gt-pt-101: 101px;
$gt-pt-102: 102px;
$gt-pt-103: 103px;
$gt-pt-104: 104px;
$gt-pt-105: 105px;
$gt-pt-106: 106px;
$gt-pt-107: 107px;
$gt-pt-108: 108px;
$gt-pt-109: 109px;
$gt-pt-110: 110px;
$gt-pt-111: 111px;
$gt-pt-112: 112px;
$gt-pt-113: 113px;
$gt-pt-114: 114px;
$gt-pt-115: 115px;
$gt-pt-116: 116px;
$gt-pt-117: 117px;
$gt-pt-118: 118px;
$gt-pt-119: 119px;
$gt-pt-120: 120px;
$gt-pt-121: 121px;
$gt-pt-122: 122px;
$gt-pt-123: 123px;
$gt-pt-124: 124px;
$gt-pt-125: 125px;
$gt-pt-126: 126px;
$gt-pt-127: 127px;
$gt-pt-128: 128px;
$gt-pt-129: 129px;
$gt-pt-130: 130px;
$gt-pt-131: 131px;
$gt-pt-132: 132px;
$gt-pt-133: 133px;
$gt-pt-134: 134px;
$gt-pt-135: 135px;
$gt-pt-136: 136px;
$gt-pt-137: 137px;
$gt-pt-138: 138px;
$gt-pt-139: 139px;
$gt-pt-140: 140px;
$gt-pt-141: 141px;
$gt-pt-142: 142px;
$gt-pt-143: 143px;
$gt-pt-144: 144px;
$gt-pt-145: 145px;
$gt-pt-146: 146px;
$gt-pt-147: 147px;
$gt-pt-148: 148px;
$gt-pt-149: 149px;
$gt-pt-150: 150px;
$gt-pt-151: 151px;
$gt-pt-152: 152px;
$gt-pt-153: 153px;
$gt-pt-154: 154px;
$gt-pt-155: 155px;
$gt-pt-156: 156px;
$gt-pt-157: 157px;
$gt-pt-158: 158px;
$gt-pt-159: 159px;
$gt-pt-160: 160px;
$gt-pt-161: 161px;
$gt-pt-162: 162px;
$gt-pt-163: 163px;
$gt-pt-164: 164px;
$gt-pt-165: 165px;
$gt-pt-166: 166px;
$gt-pt-167: 167px;
$gt-pt-168: 168px;
$gt-pt-169: 169px;
$gt-pt-170: 170px;
$gt-pt-171: 171px;
$gt-pt-172: 172px;
$gt-pt-173: 173px;
$gt-pt-174: 174px;
$gt-pt-175: 175px;
$gt-pt-176: 176px;
$gt-pt-177: 177px;
$gt-pt-178: 178px;
$gt-pt-179: 179px;
$gt-pt-180: 180px;
$gt-pt-181: 181px;
$gt-pt-182: 182px;
$gt-pt-183: 183px;
$gt-pt-184: 184px;
$gt-pt-185: 185px;
$gt-pt-186: 186px;
$gt-pt-187: 187px;
$gt-pt-188: 188px;
$gt-pt-189: 189px;
$gt-pt-190: 190px;
$gt-pt-191: 191px;
$gt-pt-192: 192px;
$gt-pt-193: 193px;
$gt-pt-194: 194px;
$gt-pt-195: 195px;
$gt-pt-196: 196px;
$gt-pt-197: 197px;
$gt-pt-198: 198px;
$gt-pt-199: 199px;
$gt-pt-200: 200px;

$gt-pr-zero: 0px;
$gt-pr-1: 1px;
$gt-pr-2: 2px;
$gt-pr-3: 3px;
$gt-pr-4: 4px;
$gt-pr-5: 5px;
$gt-pr-6: 6px;
$gt-pr-7: 7px;
$gt-pr-8: 8px;
$gt-pr-9: 9px;
$gt-pr-10: 10px;
$gt-pr-11: 11px;
$gt-pr-12: 12px;
$gt-pr-13: 13px;
$gt-pr-14: 14px;
$gt-pr-15: 15px;
$gt-pr-16: 16px;
$gt-pr-17: 17px;
$gt-pr-18: 18px;
$gt-pr-19: 19px;
$gt-pr-20: 20px;
$gt-pr-21: 21px;
$gt-pr-22: 22px;
$gt-pr-23: 23px;
$gt-pr-24: 24px;
$gt-pr-25: 25px;
$gt-pr-26: 26px;
$gt-pr-27: 27px;
$gt-pr-28: 28px;
$gt-pr-29: 29px;
$gt-pr-30: 30px;
$gt-pr-31: 31px;
$gt-pr-32: 32px;
$gt-pr-33: 33px;
$gt-pr-34: 34px;
$gt-pr-35: 35px;
$gt-pr-36: 36px;
$gt-pr-37: 37px;
$gt-pr-38: 38px;
$gt-pr-39: 39px;
$gt-pr-40: 40px;
$gt-pr-41: 41px;
$gt-pr-42: 42px;
$gt-pr-43: 43px;
$gt-pr-44: 44px;
$gt-pr-45: 55px;
$gt-pr-46: 46px;
$gt-pr-47: 47px;
$gt-pr-48: 48px;
$gt-pr-49: 49px;
$gt-pr-50: 50px;
$gt-pr-51: 51px;
$gt-pr-52: 52px;
$gt-pr-53: 53px;
$gt-pr-54: 54px;
$gt-pr-55: 55px;
$gt-pr-56: 56px;
$gt-pr-57: 57px;
$gt-pr-58: 58px;
$gt-pr-59: 59px;
$gt-pr-60: 60px;
$gt-pr-61: 61px;
$gt-pr-62: 62px;
$gt-pr-63: 63px;
$gt-pr-64: 64px;
$gt-pr-65: 65px;
$gt-pr-66: 66px;
$gt-pr-67: 67px;
$gt-pr-68: 68px;
$gt-pr-69: 69px;
$gt-pr-70: 70px;
$gt-pr-71: 71px;
$gt-pr-72: 72px;
$gt-pr-73: 73px;
$gt-pr-74: 74px;
$gt-pr-75: 75px;
$gt-pr-76: 76px;
$gt-pr-77: 77px;
$gt-pr-78: 78px;
$gt-pr-79: 79px;
$gt-pr-80: 80px;
$gt-pr-81: 81px;
$gt-pr-82: 82px;
$gt-pr-83: 83px;
$gt-pr-84: 84px;
$gt-pr-85: 85px;
$gt-pr-86: 86px;
$gt-pr-87: 87px;
$gt-pr-88: 88px;
$gt-pr-89: 89px;
$gt-pr-90: 90px;
$gt-pr-91: 91px;
$gt-pr-92: 92px;
$gt-pr-93: 93px;
$gt-pr-94: 94px;
$gt-pr-95: 95px;
$gt-pr-96: 96px;
$gt-pr-97: 97px;
$gt-pr-98: 98px;
$gt-pr-99: 99px;
$gt-pr-100: 100px;
$gt-pr-101: 101px;
$gt-pr-102: 102px;
$gt-pr-103: 103px;
$gt-pr-104: 104px;
$gt-pr-105: 105px;
$gt-pr-106: 106px;
$gt-pr-107: 107px;
$gt-pr-108: 108px;
$gt-pr-109: 109px;
$gt-pr-110: 110px;
$gt-pr-111: 111px;
$gt-pr-112: 112px;
$gt-pr-113: 113px;
$gt-pr-114: 114px;
$gt-pr-115: 115px;
$gt-pr-116: 116px;
$gt-pr-117: 117px;
$gt-pr-118: 118px;
$gt-pr-119: 119px;
$gt-pr-120: 120px;
$gt-pr-121: 121px;
$gt-pr-122: 122px;
$gt-pr-123: 123px;
$gt-pr-124: 124px;
$gt-pr-125: 125px;
$gt-pr-126: 126px;
$gt-pr-127: 127px;
$gt-pr-128: 128px;
$gt-pr-129: 129px;
$gt-pr-130: 130px;
$gt-pr-131: 131px;
$gt-pr-132: 132px;
$gt-pr-133: 133px;
$gt-pr-134: 134px;
$gt-pr-135: 135px;
$gt-pr-136: 136px;
$gt-pr-137: 137px;
$gt-pr-138: 138px;
$gt-pr-139: 139px;
$gt-pr-140: 140px;
$gt-pr-141: 141px;
$gt-pr-142: 142px;
$gt-pr-143: 143px;
$gt-pr-144: 144px;
$gt-pr-145: 145px;
$gt-pr-146: 146px;
$gt-pr-147: 147px;
$gt-pr-148: 148px;
$gt-pr-149: 149px;
$gt-pr-150: 150px;
$gt-pr-151: 151px;
$gt-pr-152: 152px;
$gt-pr-153: 153px;
$gt-pr-154: 154px;
$gt-pr-155: 155px;
$gt-pr-156: 156px;
$gt-pr-157: 157px;
$gt-pr-158: 158px;
$gt-pr-159: 159px;
$gt-pr-160: 160px;
$gt-pr-161: 161px;
$gt-pr-162: 162px;
$gt-pr-163: 163px;
$gt-pr-164: 164px;
$gt-pr-165: 165px;
$gt-pr-166: 166px;
$gt-pr-167: 167px;
$gt-pr-168: 168px;
$gt-pr-169: 169px;
$gt-pr-170: 170px;
$gt-pr-171: 171px;
$gt-pr-172: 172px;
$gt-pr-173: 173px;
$gt-pr-174: 174px;
$gt-pr-175: 175px;
$gt-pr-176: 176px;
$gt-pr-177: 177px;
$gt-pr-178: 178px;
$gt-pr-179: 179px;
$gt-pr-180: 180px;
$gt-pr-181: 181px;
$gt-pr-182: 182px;
$gt-pr-183: 183px;
$gt-pr-184: 184px;
$gt-pr-185: 185px;
$gt-pr-186: 186px;
$gt-pr-187: 187px;
$gt-pr-188: 188px;
$gt-pr-189: 189px;
$gt-pr-190: 190px;
$gt-pr-191: 191px;
$gt-pr-192: 192px;
$gt-pr-193: 193px;
$gt-pr-194: 194px;
$gt-pr-195: 195px;
$gt-pr-196: 196px;
$gt-pr-197: 197px;
$gt-pr-198: 198px;
$gt-pr-199: 199px;
$gt-pr-200: 200px;

$gt-pb-zero: 0px;
$gt-pb-1: 1px;
$gt-pb-2: 2px;
$gt-pb-3: 3px;
$gt-pb-4: 4px;
$gt-pb-5: 5px;
$gt-pb-6: 6px;
$gt-pb-7: 7px;
$gt-pb-8: 8px;
$gt-pb-9: 9px;
$gt-pb-10: 10px;
$gt-pb-11: 11px;
$gt-pb-12: 12px;
$gt-pb-13: 13px;
$gt-pb-14: 14px;
$gt-pb-15: 15px;
$gt-pb-16: 16px;
$gt-pb-17: 17px;
$gt-pb-18: 18px;
$gt-pb-19: 19px;
$gt-pb-20: 20px;
$gt-pb-21: 21px;
$gt-pb-22: 22px;
$gt-pb-23: 23px;
$gt-pb-24: 24px;
$gt-pb-25: 25px;
$gt-pb-26: 26px;
$gt-pb-27: 27px;
$gt-pb-28: 28px;
$gt-pb-29: 29px;
$gt-pb-30: 30px;
$gt-pb-31: 31px;
$gt-pb-32: 32px;
$gt-pb-33: 33px;
$gt-pb-34: 34px;
$gt-pb-35: 35px;
$gt-pb-36: 36px;
$gt-pb-37: 37px;
$gt-pb-38: 38px;
$gt-pb-39: 39px;
$gt-pb-40: 40px;
$gt-pb-41: 41px;
$gt-pb-42: 42px;
$gt-pb-43: 43px;
$gt-pb-44: 44px;
$gt-pb-45: 45px;
$gt-pb-46: 46px;
$gt-pb-47: 47px;
$gt-pb-48: 48px;
$gt-pb-49: 49px;
$gt-pb-50: 50px;
$gt-pb-51: 51px;
$gt-pb-52: 52px;
$gt-pb-53: 53px;
$gt-pb-54: 54px;
$gt-pb-55: 55px;
$gt-pb-56: 56px;
$gt-pb-57: 57px;
$gt-pb-58: 58px;
$gt-pb-59: 59px;
$gt-pb-60: 60px;
$gt-pb-61: 61px;
$gt-pb-62: 62px;
$gt-pb-63: 63px;
$gt-pb-64: 64px;
$gt-pb-65: 65px;
$gt-pb-66: 66px;
$gt-pb-67: 67px;
$gt-pb-68: 68px;
$gt-pb-69: 69px;
$gt-pb-70: 70px;
$gt-pb-71: 71px;
$gt-pb-72: 72px;
$gt-pb-73: 73px;
$gt-pb-74: 74px;
$gt-pb-75: 75px;
$gt-pb-76: 76px;
$gt-pb-77: 77px;
$gt-pb-78: 78px;
$gt-pb-79: 79px;
$gt-pb-80: 80px;
$gt-pb-81: 81px;
$gt-pb-82: 82px;
$gt-pb-83: 83px;
$gt-pb-84: 84px;
$gt-pb-85: 85px;
$gt-pb-86: 86px;
$gt-pb-87: 87px;
$gt-pb-88: 88px;
$gt-pb-89: 89px;
$gt-pb-90: 90px;
$gt-pb-91: 91px;
$gt-pb-92: 92px;
$gt-pb-93: 93px;
$gt-pb-94: 94px;
$gt-pb-95: 95px;
$gt-pb-96: 96px;
$gt-pb-97: 97px;
$gt-pb-98: 98px;
$gt-pb-99: 99px;
$gt-pb-100: 100px;
$gt-pb-101: 101px;
$gt-pb-102: 102px;
$gt-pb-103: 103px;
$gt-pb-104: 104px;
$gt-pb-105: 105px;
$gt-pb-106: 106px;
$gt-pb-107: 107px;
$gt-pb-108: 108px;
$gt-pb-109: 109px;
$gt-pb-110: 110px;
$gt-pb-111: 111px;
$gt-pb-112: 112px;
$gt-pb-113: 113px;
$gt-pb-114: 114px;
$gt-pb-115: 115px;
$gt-pb-116: 116px;
$gt-pb-117: 117px;
$gt-pb-118: 118px;
$gt-pb-119: 119px;
$gt-pb-120: 120px;
$gt-pb-121: 121px;
$gt-pb-122: 122px;
$gt-pb-123: 123px;
$gt-pb-124: 124px;
$gt-pb-125: 125px;
$gt-pb-126: 126px;
$gt-pb-127: 127px;
$gt-pb-128: 128px;
$gt-pb-129: 129px;
$gt-pb-130: 130px;
$gt-pb-131: 131px;
$gt-pb-132: 132px;
$gt-pb-133: 133px;
$gt-pb-134: 134px;
$gt-pb-135: 135px;
$gt-pb-136: 136px;
$gt-pb-137: 137px;
$gt-pb-138: 138px;
$gt-pb-139: 139px;
$gt-pb-140: 140px;
$gt-pb-141: 141px;
$gt-pb-142: 142px;
$gt-pb-143: 143px;
$gt-pb-144: 144px;
$gt-pb-145: 145px;
$gt-pb-146: 146px;
$gt-pb-147: 147px;
$gt-pb-148: 148px;
$gt-pb-149: 149px;
$gt-pb-150: 150px;
$gt-pb-151: 151px;
$gt-pb-152: 152px;
$gt-pb-153: 153px;
$gt-pb-154: 154px;
$gt-pb-155: 155px;
$gt-pb-156: 156px;
$gt-pb-157: 157px;
$gt-pb-158: 158px;
$gt-pb-159: 159px;
$gt-pb-160: 160px;
$gt-pb-161: 161px;
$gt-pb-162: 162px;
$gt-pb-163: 163px;
$gt-pb-164: 164px;
$gt-pb-165: 165px;
$gt-pb-166: 166px;
$gt-pb-167: 167px;
$gt-pb-168: 168px;
$gt-pb-169: 169px;
$gt-pb-170: 170px;
$gt-pb-171: 171px;
$gt-pb-172: 172px;
$gt-pb-173: 173px;
$gt-pb-174: 174px;
$gt-pb-175: 175px;
$gt-pb-176: 176px;
$gt-pb-177: 177px;
$gt-pb-178: 178px;
$gt-pb-179: 179px;
$gt-pb-180: 180px;
$gt-pb-181: 181px;
$gt-pb-182: 182px;
$gt-pb-183: 183px;
$gt-pb-184: 184px;
$gt-pb-185: 185px;
$gt-pb-186: 186px;
$gt-pb-187: 187px;
$gt-pb-188: 188px;
$gt-pb-189: 189px;
$gt-pb-190: 190px;
$gt-pb-191: 191px;
$gt-pb-192: 192px;
$gt-pb-193: 193px;
$gt-pb-194: 194px;
$gt-pb-195: 195px;
$gt-pb-196: 196px;
$gt-pb-197: 197px;
$gt-pb-198: 198px;
$gt-pb-199: 199px;
$gt-pb-200: 200px;


$gt-pl-zero: 0px;
$gt-pl-1: 1px;
$gt-pl-2: 2px;
$gt-pl-3: 3px;
$gt-pl-4: 4px;
$gt-pl-5: 5px;
$gt-pl-6: 6px;
$gt-pl-7: 7px;
$gt-pl-8: 8px;
$gt-pl-9: 9px;
$gt-pl-10: 10px;
$gt-pl-11: 11px;
$gt-pl-12: 12px;
$gt-pl-13: 13px;
$gt-pl-14: 14px;
$gt-pl-15: 15px;
$gt-pl-16: 16px;
$gt-pl-17: 17px;
$gt-pl-18: 18px;
$gt-pl-19: 19px;
$gt-pl-20: 20px;
$gt-pl-21: 21px;
$gt-pl-22: 22px;
$gt-pl-23: 23px;
$gt-pl-24: 24px;
$gt-pl-25: 25px;
$gt-pl-26: 26px;
$gt-pl-27: 27px;
$gt-pl-28: 28px;
$gt-pl-29: 29px;
$gt-pl-30: 30px;
$gt-pl-31: 31px;
$gt-pl-32: 32px;
$gt-pl-33: 33px;
$gt-pl-34: 34px;
$gt-pl-35: 35px;
$gt-pl-36: 36px;
$gt-pl-37: 37px;
$gt-pl-38: 38px;
$gt-pl-39: 39px;
$gt-pl-40: 40px;
$gt-pl-41: 41px;
$gt-pl-42: 42px;
$gt-pl-43: 43px;
$gt-pl-44: 44px;
$gt-pl-45: 45px;
$gt-pl-46: 46px;
$gt-pl-47: 47px;
$gt-pl-48: 48px;
$gt-pl-49: 49px;
$gt-pl-50: 50px;
$gt-pl-51: 51px;
$gt-pl-52: 52px;
$gt-pl-53: 53px;
$gt-pl-54: 54px;
$gt-pl-55: 55px;
$gt-pl-56: 56px;
$gt-pl-57: 57px;
$gt-pl-58: 58px;
$gt-pl-59: 59px;
$gt-pl-60: 60px;
$gt-pl-61: 61px;
$gt-pl-62: 62px;
$gt-pl-63: 63px;
$gt-pl-64: 64px;
$gt-pl-65: 65px;
$gt-pl-66: 66px;
$gt-pl-67: 67px;
$gt-pl-68: 68px;
$gt-pl-69: 69px;
$gt-pl-70: 70px;
$gt-pl-71: 71px;
$gt-pl-72: 72px;
$gt-pl-73: 73px;
$gt-pl-74: 74px;
$gt-pl-75: 75px;
$gt-pl-76: 76px;
$gt-pl-77: 77px;
$gt-pl-78: 78px;
$gt-pl-79: 79px;
$gt-pl-80: 80px;
$gt-pl-81: 81px;
$gt-pl-82: 82px;
$gt-pl-83: 83px;
$gt-pl-84: 84px;
$gt-pl-85: 85px;
$gt-pl-86: 86px;
$gt-pl-87: 87px;
$gt-pl-88: 88px;
$gt-pl-89: 89px;
$gt-pl-90: 90px;
$gt-pl-91: 91px;
$gt-pl-92: 92px;
$gt-pl-93: 93px;
$gt-pl-94: 94px;
$gt-pl-95: 95px;
$gt-pl-96: 96px;
$gt-pl-97: 97px;
$gt-pl-98: 98px;
$gt-pl-99: 99px;
$gt-pl-100: 100px;
$gt-pl-101: 101px;
$gt-pl-102: 102px;
$gt-pl-103: 103px;
$gt-pl-104: 104px;
$gt-pl-105: 105px;
$gt-pl-106: 106px;
$gt-pl-107: 107px;
$gt-pl-108: 108px;
$gt-pl-109: 109px;
$gt-pl-110: 110px;
$gt-pl-111: 111px;
$gt-pl-112: 112px;
$gt-pl-113: 113px;
$gt-pl-114: 114px;
$gt-pl-115: 115px;
$gt-pl-116: 116px;
$gt-pl-117: 117px;
$gt-pl-118: 118px;
$gt-pl-119: 119px;
$gt-pl-120: 120px;
$gt-pl-121: 121px;
$gt-pl-122: 122px;
$gt-pl-123: 123px;
$gt-pl-124: 124px;
$gt-pl-125: 125px;
$gt-pl-126: 126px;
$gt-pl-127: 127px;
$gt-pl-128: 128px;
$gt-pl-129: 129px;
$gt-pl-130: 130px;
$gt-pl-131: 131px;
$gt-pl-132: 132px;
$gt-pl-133: 133px;
$gt-pl-134: 134px;
$gt-pl-135: 135px;
$gt-pl-136: 136px;
$gt-pl-137: 137px;
$gt-pl-138: 138px;
$gt-pl-139: 139px;
$gt-pl-140: 140px;
$gt-pl-141: 141px;
$gt-pl-142: 142px;
$gt-pl-143: 143px;
$gt-pl-144: 144px;
$gt-pl-145: 145px;
$gt-pl-146: 146px;
$gt-pl-147: 147px;
$gt-pl-148: 148px;
$gt-pl-149: 149px;
$gt-pl-150: 150px;
$gt-pl-151: 151px;
$gt-pl-152: 152px;
$gt-pl-153: 153px;
$gt-pl-154: 154px;
$gt-pl-155: 155px;
$gt-pl-156: 156px;
$gt-pl-157: 157px;
$gt-pl-158: 158px;
$gt-pl-159: 159px;
$gt-pl-160: 160px;
$gt-pl-161: 161px;
$gt-pl-162: 162px;
$gt-pl-163: 163px;
$gt-pl-164: 164px;
$gt-pl-165: 165px;
$gt-pl-166: 166px;
$gt-pl-167: 167px;
$gt-pl-168: 168px;
$gt-pl-169: 169px;
$gt-pl-170: 170px;
$gt-pl-171: 171px;
$gt-pl-172: 172px;
$gt-pl-173: 173px;
$gt-pl-174: 174px;
$gt-pl-175: 175px;
$gt-pl-176: 176px;
$gt-pl-177: 177px;
$gt-pl-178: 178px;
$gt-pl-179: 179px;
$gt-pl-180: 180px;
$gt-pl-181: 181px;
$gt-pl-182: 182px;
$gt-pl-183: 183px;
$gt-pl-184: 184px;
$gt-pl-185: 185px;
$gt-pl-186: 186px;
$gt-pl-187: 187px;
$gt-pl-188: 188px;
$gt-pl-189: 189px;
$gt-pl-190: 190px;
$gt-pl-191: 191px;
$gt-pl-192: 192px;
$gt-pl-193: 193px;
$gt-pl-194: 194px;
$gt-pl-195: 195px;
$gt-pl-196: 196px;
$gt-pl-197: 197px;
$gt-pl-198: 198px;
$gt-pl-199: 199px;
$gt-pl-200: 200px;


$gt-line-height-1: 1px;
$gt-line-height-2: 2px;
$gt-line-height-3: 3px;
$gt-line-height-4: 4px;
$gt-line-height-5: 5px;
$gt-line-height-6: 6px;
$gt-line-height-7: 7px;
$gt-line-height-8: 8px;
$gt-line-height-9: 9px;
$gt-line-height-10: 10px;
$gt-line-height-11: 11px;
$gt-line-height-12: 12px;
$gt-line-height-13: 13px;
$gt-line-height-14: 14px;
$gt-line-height-15: 15px;
$gt-line-height-16: 16px;
$gt-line-height-17: 17px;
$gt-line-height-18: 18px;
$gt-line-height-19: 19px;
$gt-line-height-20: 20px;
$gt-line-height-21: 21px;
$gt-line-height-22: 22px;
$gt-line-height-23: 23px;
$gt-line-height-24: 24px;
$gt-line-height-25: 25px;
$gt-line-height-26: 26px;
$gt-line-height-27: 27px;
$gt-line-height-28: 28px;
$gt-line-height-29: 29px;
$gt-line-height-30: 30px;
$gt-line-height-31: 31px;
$gt-line-height-32: 32px;
$gt-line-height-33: 33px;
$gt-line-height-34: 34px;
$gt-line-height-35: 35px;
$gt-line-height-36: 36px;
$gt-line-height-37: 37px;
$gt-line-height-38: 38px;
$gt-line-height-39: 39px;
$gt-line-height-40: 40px;
$gt-line-height-41: 41px;
$gt-line-height-42: 42px;
$gt-line-height-43: 43px;
$gt-line-height-44: 44px;
$gt-line-height-45: 45px;
$gt-line-height-46: 46px;
$gt-line-height-47: 47px;
$gt-line-height-48: 48px;
$gt-line-height-49: 49px;
$gt-line-height-50: 50px;
$gt-line-height-51: 51px;
$gt-line-height-52: 52px;
$gt-line-height-53: 53px;
$gt-line-height-54: 54px;
$gt-line-height-55: 55px;
$gt-line-height-56: 56px;
$gt-line-height-57: 57px;
$gt-line-height-58: 58px;
$gt-line-height-59: 59px;
$gt-line-height-60: 60px;


$gt-opacity-1: 10%;
$gt-opacity-2: 20%;
$gt-opacity-3: 30%;
$gt-opacity-4: 40%;
$gt-opacity-5: 50%;
$gt-opacity-6: 60%;
$gt-opacity-7: 70%;
$gt-opacity-8: 80%;
$gt-opacity-9: 90%;
$gt-opacity-10: 100%;


$gt-width-10: 10%; 
$gt-width-20: 20%; 
$gt-width-30: 30%; 
$gt-width-40: 40%; 
$gt-width-50: 50%; 
$gt-width-60: 60%; 
$gt-width-70: 70%; 
$gt-width-80: 80%; 
$gt-width-90: 90%; 

$gt-height-10: 10%; 
$gt-height-20: 20%; 
$gt-height-30: 30%; 
$gt-height-40: 40%; 
$gt-height-50: 50%; 
$gt-height-60: 60%; 
$gt-height-70: 70%; 
$gt-height-80: 80%; 
$gt-height-90: 90%; 