
@media only screen and (min-device-width: 0px) and (max-device-width: 320px){
    .business-color-cover { width: 279px; left: -15px !important;}
    .report-you { left: 35px; }
} 
@media only screen and (min-device-width: 321px) and (max-device-width: 360px){
    .business-color-cover { width: 279px; left: -15px !important;}
    .report-you { left: 35px; }
    .feature-tittle { margin-right: 0px; width: 50% !important; }
    .feature-tittle-name { float: left;  width: 50%; }
    .ghyf-upkj { display: block; }
    .ghyf-upkj h2 { width: 100%; margin-bottom: 10px; }
    .eryu-phk { padding-left: 10px; padding-right: 0px; }
    .addh-width { width: 230px; }
    .btn-social .image-width-48, .btn-social-mail, .btn-social-mail .image-width-48 { width: 35px; height: 35px; }
    
} 
@media only screen and (min-device-width: 361px) and (max-device-width: 480px){
    .user_notification, .header-massenger { margin-right: 8px; }    
    .gt-navbar-main .gt-nav-middle { padding-left: 2px; padding-right: 2px; }
    .gt-custom-nav .trade-select { width: auto; } 
    .gintaa_headerloc { width: 317px; margin-top: 10px; } 
    .gintaa_headerDrops { width: 326px; margin-top: 20px;}   
    .business-color-cover { width: 279px; left: -15px !important;}    
    .gintaa_language{ margin-top: 8px; }    
    .select-junctions { padding-right: 30px; } 
    .app-btn-banners { margin-top: 50px; }
    .app-btn-banners img{ width: 90px; }
    .offer-dstepper .stepper-header .steps .step { font-size: 12px !important; }
    .feature-tittle { margin-right: 0px; width: 165px !important; }
    .feature-tittle-name { float: left;  width: 50%; }
    //  new responsive 
    .slider-heiyu { float: left; height: 300px; }
    .swiper-primary .swiper-container { height: 200px; }
    .swiper-wrapper { height: 200px; }
    .swiper-primary .swiper-container .swiper-wrapper .swiper-slide { height: 200px; }
    .swiper-primary .swiper-container .swiper-wrapper .swiper-slide img { height: 200px; }
    .addh-width { width: 230px; }
    .btn-social .image-width-48, .btn-social-mail, .btn-social-mail .image-width-48 { width: 40px; height: 40px; }
} 
@media only screen and (min-device-width: 481px) and (max-device-width: 575px){    
    .business-color-cover { width: 279px; left: -37px !important;}
    .app-btn-banners { margin-top: 55px; }
    .left-banner-image-three, .left-banner-image-two, .left-banner-image { padding: 0px 40px!important; }
    .search-offer .search-col-50 { flex: 0 0 50%; max-width: 50%; }
    .published-offers .search-col-50 { flex: 0 0 50%; max-width: 50%; }

    // new responsive
    .list-view-card .list-view-left .loffer-card-img { width: 100px; height: 100px; }
    .list-view-card .list-view-left .loffer-card-img .loffer-img { height: 100px; }
    .list-view-card .list-view-middle .list-view-scondary .offer-lvcount { display: none!important; }
    .list-view-card .list-view-left .loffer-card-img .offerl-location{ display: none; }    
    .list-view-card .list-view-middle .list-view-scondary .offers-favview{ padding-top: 5px!important; }
    .offerl-details .loffer-desire { margin-top: 5px!important; }
    .offerl-details .offerl-des { margin-top: 5px!important; } 

    .user-matches .rp-match-col{ flex: 0 0 50%; max-width: 50%; }
    .fav-offer-wcol .fav-col-50{ flex: 0 0 50%; max-width: 50%; }
    .offer-dstepper .stepper-header .steps .step { font-size: 12px !important; }
    .brp-col-50{ flex: 0 0 50%; max-width: 50%; }
    .rp-offerby-50 { flex: 0 0 50%; max-width: 50%; }
    
    .slider-heiyu { float: left; height: 350px; }
    .swiper-primary .swiper-container { height: 250px; }
    .swiper-wrapper { height: 250px; }
    .swiper-primary .swiper-container .swiper-wrapper .swiper-slide { height: 250px; }
    .swiper-primary .swiper-container .swiper-wrapper .swiper-slide img { height: 250px; }
    .listing-price-50 { flex: 0 0 50%; max-width: 50%; }
    .addh-width { width: 360px; }
    .lwh-col-30 { flex: 0 0 33.333333%; max-width: 33.333333%; }
} 
@media only screen and (min-device-width: 576px) and (max-device-width: 640px){
    .business-color-cover { width: 279px; left: -67px !important;}
    .offer-dstepper .stepper-header .steps .step { font-size: 12px !important; }
} 

@media only screen and (min-device-width: 641px) and (max-device-width: 767px){
    .business-color-cover { width: 279px; left: -130px !important;}
    .offer-dstepper .stepper-header .steps .step { font-size: 12px !important; }
} 

@media only screen and (min-device-width: 0px) and (max-device-width: 375px){
    .video-attach { width: 230px; height: 180px; }
    .chat-header-top, .select-wrapper {padding-left: 10px; padding-right: 10px; }
} 

// col custom start
@media only screen and (min-device-width: 361px) and (max-device-width: 459px){
    .myoffers-lidting .single-arrivals-products .arrivals-products-image .max-height-img-241 {
        height: 242px;
    }
} 

@media only screen and (min-device-width: 460px) and (max-device-width: 480px){
    .published-offers .search-col-50 { flex: 0 0 50%; max-width: 50%; }
    .user-matches .rp-match-col{ flex: 0 0 50%; max-width: 50%; }
    .fav-offer-wcol .fav-col-50{ flex: 0 0 50%; max-width: 50%; }
} 

@media only screen and (min-device-width: 700px) and (max-device-width: 767px){    
    .published-offers .search-col-50 { flex: 0 0 33.333333%; max-width: 33.333333%; }  
    .fav-offer-wcol .fav-col-50{ flex: 0 0 33.333333%; max-width: 33.333333%; }      
} 

// col custom end


@media only screen and (min-device-width: 0px) and (max-device-width: 480px){    
    .copy-right, .user-feedback, .offer-attach, .deal-title, .outgoing-deal-title, .got-sms, .chatoffer-card, .cdeal-card, 
    .ublock-primary, .unlock-right, .store-date-time, .bac-rp, .bacp-rp{ display: block; }
    .ft-logo{ display: flex; justify-content: center; align-items: center;}
    .copy-right-text { line-height: 20px; margin-left: 0px; text-align: center; margin-top: 20px; }     
    .banner-primary { width: 80%!important; }
    .jun-two-banner { width: 70%!important; }
    .right-banner-image .app-store-ab { width: 75%!important; }
    .carousel-control-prev, .carousel-control-next { width: 17%!important; }    
    .user-feedback-secondary { float: left; width: 100%; margin-top: 10px;}    
    .certificate-quality, .certificate-guarantee{ display: block; float: left; width: 100%; margin-right: 0px; margin-bottom: 20px; padding: 20px 10px; }
    .cert-check, .guar-check{ float: left; }
    .certificate-quality h2, .certificate-guarantee h3 { width: auto; float: left; }
    .certificate-quality .gt-ml-30, .certificate-guarantee .gt-ml-30{ float: right; margin-left: 0px;}   
    .deal-user .feed-back-cards .feed-rating{ text-align: center; }
    .deal-accepts { width: 226px; padding: 10px; }
    .deal-accept-btn { width: 154px; font-size: 18px; padding: 0px 5px; }    
    .will-pay-rp, .price-pay-rp { width: 100%!important; }
    .gt-mt-rp{ margin-top: 20px; }
    .preview-deal{ width: 250px; }    
    .choose-offer h3 { line-height: 30px; }    
    .acc-deal-rp .deal-accept-btn{ width: 100%; }    
    .deal-price-primary, .deal-price-secondary{ width: 100%; }    
    .arrow-forward{ padding: 50px 0px 30px 0px; display: block; text-align: center;}
    .arrow-forward span{ transform: rotate(90deg); font-size: 30px; }    
    .store-date, .store-time { float: left; width: 100%; margin-left: 0px;}
    .time-list-primarys .time-picker-custom, .time-list-primarys{ width: 100%!important; }
    .setting-rppd{ padding: 40px 15px; }      
    .user-cred h2{ font-size: 16px; }
    .cpw-rp{ padding: 24px 10px; }
    .opt-text-st{ font-size: 16px; }     
    .user-list-rp { padding-left: 10px; padding-right: 10px; }    
    .chat-odate-rp, .oc-date{ display: flex; align-items: center; justify-content: space-between; margin-top: 10px; }
    .chat-odate-rp .gt-mt-5, .oc-date .gt-mt-25 { margin-top: 0px; }    
    .unlock-right{ float: right; margin-top: 10px; }
    .trade-notiwrapper { padding-left: 8px; padding-right: 8px; }
    .noti-tags{ padding-left: 0px; }
    .pd-lr-0 { padding-left: 0px; padding-right: 0px; }
    .noti-user-seting .mat-slide-toggle-content { white-space: break-spaces; overflow: unset; }
    .wk-width-328, .refer-left, .refer-right, .user-cred, .preview-deal .deal-accept-btn, .left-excell, 
    .match-search-input, .match-box-select, .chat-offer-update, .acc-deal-rp, 
    .got-sms h3, .got-sms .st-resend-otp { width: 100%; }       
    .search-sorting { width: 100%; margin-top: 20px;}
    .deal-price-box img{ width: 20px; height: auto;}
    .deal-price-box .gt-fs-22 { font-size: 18px; }    
    .refer-gift { width: 80px!important; margin: 0 auto; display: flex; justify-content: center; padding-top: 20px; }
    .reward-wrapper { height: auto; }
    .cb-account { width: 210px; }
    .wish-main, .remove-save{ display: block; }
    .wish-secondary{ margin-top: 10px; }
    .remove-wish{ text-align: center; margin-bottom: 20px; }
    .edwh-save{ width: 100%!important; margin-bottom: 20px; }
    .make-payment { width: 200px; }
    .refers-box { width: 100%; padding: 0px 25px; }
    .earn-secondary{ padding-left: 10px; }    
    .bprofile-bred{ display: block; }
    .back-bg{ width: 100%; }
    .edit-cover-btn{ float: left; margin-top: 20px; }
    .feward-btn{ margin-bottom: 10px; padding-left: 12px;}    
    .bae-rp{ margin-right: 0px; margin-top: 20px;}
    .sin-rp { text-align: left; }
    .bottom-chat-wrapper { width: 100%; right: 0px;}
    .frd-rp { padding-left: 10px; padding-right: 10px; }
    .refer-left{ display: flex; justify-content: center; align-items: center; }
    .notification-user { margin: 0px!important; float: right; }
    .gt-custom-nav .loc-select { margin-right: 0px; margin-top: 6px; width: 45%; }
    .unread-icon{ margin-bottom: 0px;  margin-top: -5px; }
    .confirm-bpop { width: 100%; }
    .chat-offer-update .deal-accept-btn{ width: 100%!important; }
    .modal.modal-bottom .modal-dialog { width: 100%; right: 0px; padding: 0px 10px; }

    // new responsive
    .list-view-card .list-view-left .loffer-card-img { width: 100px; height: 100px; }
    .list-view-card .list-view-left .loffer-card-img .loffer-img { height: 100px; }
    .list-view-card .list-view-middle .list-view-scondary .offer-lvcount { display: none!important; }
    .list-view-card .list-view-left .loffer-card-img .offerl-location{ display: none; }    
    .list-view-card .list-view-middle .list-view-scondary .offers-favview{ padding-top: 5px!important; }
    .offerl-details .loffer-desire { margin-top: 5px!important; }
    .offerl-details .offerl-des { margin-top: 5px!important; }
    .offer-user, .offer-user-profile { width: 100%; }
    .cuser-profile { display: block; width: 100%; }
    .user-names { width: auto; }
    .cuser-profile .user-rating { width: 100%; justify-content: flex-end; padding-left: 50px; }
    .deal-allbtn { display: block; }
    .dall-btn-1, .dall-btn-2, .dall-btn-3, .dall-btn-4, .dall-btn-5, .dall-btn-6, .dall-btn-7, .dall-btn-8{ width: 100%; 
    margin-right: 0px; margin-bottom: 5px; margin-top: 5px; }
    .member-tag { margin-right: 10px; font-size: 13px; padding: 0px 10px; height: 30px; }
    .phone-group1, .phone-group2, .phone-group3{ display:block; }
    .use-cinfo-1, .use-cinfo-2, .use-cinfo-3{ width: 100%; margin-left: 0px; margin-top: 10px; }
    .hauction-hpd { display: block; }
    .gretd-plu { width: 100%; margin-right: 0px; margin-bottom: 10px; }

    .offer-all-counts { display: block; }
    .offer-all-counts .fav-btn-counts { display: block; float: left; margin-bottom: 10px;}
    .rp-deal-slist { padding-left: 0px; padding-right: 0px; }
    .rp-ghy { margin-bottom: 10px; }
    .userh-otp-wrapper .otp_box .wrapper .otp-input { margin-right: 10px !important; }
    .audio-right .asend-attach { height: 40px; width: 185px; }
    .chat-input-msg .currency-form-control { font-size: 13px; }
    .lwh-col-30 { flex: 0 0 50%; max-width: 50%; }
    .social-wrapper { width: 100%; }
    .stepk-delivery { padding-left: 10px; }
 }
@media only screen and (min-device-width: 0px) and (max-device-width: 575px){
    .gt-rp-menu{ width: 100%; height: auto; margin-top: 0px; }
    .count-payreed, .ocu-rp{ display: block; }
    .recom-offer-primary { width: 100%; justify-content: normal; }
    .recom-offer-secondary{ width: 100%; }
    .recom-offer-secondary .gt-wh-btn{ float: right;}    
    .recom-offer-secondary { margin-top: 0px!important; }  
    .profile-offer-secondary { margin-top: 20px; }      
    .respon-top{ margin-bottom: 20px;}
    .gt-pd-next { width: 100%; }
    .date-list-box { margin-bottom: 10px; }
    .deal-price-slide { margin-bottom: 32px; }    
    .form-time, .to-time { width: 50%; }
    .time-list .gt-mr-32 { margin-right: 5px; }
    .offer-form-start .gt-pd-lr-32, .offer-form-start .gt-pd-lr-24 { padding-left: 10px; padding-right: 10px; }
    .btn-group-wants, .all-cat-plus, .item-selected{ display: block; }
    .gt-pd-back{ width: 100%; margin-right: 0px; margin-bottom: 20px; }
    .gt-width-344 { width: 200px; }
    .item-selected .choose-offer{ margin-bottom: 20px; text-align: center; }
    .all-cat-filter, .filter-price-deal{ margin-right: 0px!important; margin-bottom: 15px;}
    .close-deal-popup { width: 100%; }     
    .user-otp-wrapper { margin-top: 10px; padding-left: 10px; padding-right: 10px; }    
    .fdback-next, .back-finish{ margin-bottom: 20px; }    
    .text-con{ font-size: 23px; }
    .text-succs{ font-size: 18px; }
    .review-deal { display: block; margin-top: 20px; }
    .review-btn{ margin-right: 0px; margin-bottom: 20px;}
    .match-images { width: 100%; height: 199px; float: left; margin-right: 0px !important; margin-right: 0px !important; margin-bottom: 20px; } 
    .match-mainwrapper{ display: block; }     
    .offer-redeem-payment, .offer-chat-btn{ margin-top: 20px; }  
    .trade-rp .banner-trade{ width: 280px; height: auto;} 
    .gj-rp .bgintaa-junction{ width: 250px; height: auto;  }  
    .business-brp .banner-business{ width: 250px; height: auto;}
    .reward-rp .brefer-reward{ width: 150px; margin-top: 10px; height: auto; }
    .reff-rp .banner-animation { width: 200px; height: auto; margin-top: 30px; }
    .insur-rp .banner-insurance { width: 200px; height: auto; margin-top: 30px; }
    .inchk-rp .binsurance-check  { width: 250px; height: auto; margin-top: 10px; }
    .mem-rp .banner-membership { width: 280px; height: auto; margin-top: 50px;}
    
    // new responsive
    .section-1 { width: 100%; }
    .section-2 { width: 100%; margin-top: 20px;}
    .section-3 { width: 100%; margin-top: 20px;}
    .section-4 { width: 100%; margin-top: 20px; }
    .section-5 { width: 100%; margin-top: 20px; }
    .section-6 { width: 100%; margin-top: 20px; }
    .sort-bys { display: block; }
    .offer-search { width: 100%; margin-bottom: 15px; }
    .rpgrid-list { width: 100%; justify-content: space-between; border-bottom: 1px solid #ddd; padding-bottom: 10px; }

    .list-view-scondary { display: block; }
    .list-view-card .list-view-middle .list-view-scondary .offerl-details { width: 100%; padding-left: 10px;
          padding-right: 5px;} 
    .list-view-card .list-view-middle .list-view-scondary .offer-lvcount { width: 100%; float: left;
        padding-top: 10px; padding-left: 10px; padding-right: 5px; display: flex;}
    .list-view-card .list-view-middle .list-view-scondary .offers-favview { width: 100%; width: 100%;
        float: left; padding-top: 10px; padding-left: 10px; padding-right: 5px;}
    .offerl-details .offrel-name { margin-top: 0px; font-size: 13px; }
    .offerl-details .loffer-desire{ margin-top: 10px; }
    .offerl-details .offerl-des{ margin-top: 10px; }
    .offerl-des h4{ font-size: 12px!important; }
    .list-view-card .list-view-middle .list-view-scondary .offer-lvcount .offer-value { width: 100%; }
    .list-view-card .list-view-middle .list-view-scondary .offer-lvcount .offer-quantity { width: 100%; padding-top: 0px; }
    .offers-favview { padding-top: 15px; }
    .offers-favview .offer-status{ margin-top: 0px; font-size: 13px;}
    .ak-col-6 { padding-right: 15px; padding-left: 15px; }
    .ak-col-7, .ak-col-5, .ak-col-3 { padding-left: 15px; }
    .ak-col-4, .ak-col-2 { padding-right: 15px; }
    .ak-col-7, .ak-col-5, .ak-col-3, .ak-col-4, .ak-col-2 { flex: 0 0 50%; max-width: 50%;  }
    .listing-gliv { display: block; }
    .hgyp-sew { width: 100%; }
    .gl-bth { float: left;  width: 100%; justify-content: end; margin-top: 15px; }
    .gtfy-opt { padding-left: 0px; }  



} 

@media only screen and (min-device-width: 576px) and (max-device-width: 767px){
   .gt-rp-menu{ width: 50%; margin-top: 0px;}   
   .gt-width-344 { width: 100%; }
   .trade-rp .banner-trade{ width: 280px; height: auto;}
   .gj-rp .bgintaa-junction{ width: 280px; height: auto;  }
   .business-brp .banner-business{ width: 260px; height: auto;}
   .reward-rp .brefer-reward{ width: 180px; margin-top: 10px; height: auto; }
   .reff-rp .banner-animation { width: 250px; height: auto; margin-top: 30px; }
   .insur-rp .banner-insurance { width: 250px; height: auto; margin-top: 30px; }
    .inchk-rp .binsurance-check  { width: 300px; height: auto; margin-top: 10px; }
    .mem-rp .banner-membership { width: 350px; height: auto; margin-top: 50px;}
    .app-btn-banners { margin-top: 40px; }
    .section-1 { width: 50%; }
    .section-2 { width: 50%; }
    .section-3 { width: 50%; margin-top: 20px; }
    .section-4 { width: 50%; margin-top: 20px; }
    .section-5 { width: 50%; margin-top: 20px; }
    .section-6 { width: 50%; margin-top: 20px; margin-bottom: 20px; }

    .ft-social-icon{ align-items: center; display: flex; justify-content: center; margin-top: 15px;}
    .list-location{ display: none!important; }
    .form-time, .to-time { width: 220px; }

    .slider-heiyu { float: left; height: 400px; }
    .swiper-primary .swiper-container { height: 300px; }
    .swiper-wrapper { height: 300px; }
    .swiper-primary .swiper-container .swiper-wrapper .swiper-slide { height: 300px; }
    .swiper-primary .swiper-container .swiper-wrapper .swiper-slide img { height: 300px; }
    .lwh-col-30 { flex: 0 0 33.333333%; max-width: 33.333333%; } 
} 

@media only screen and (min-device-width: 0px) and (max-device-width: 360px){
    [gt-rp-view] app-profile-user-address .mat-radio-button ~ .mat-radio-button { margin-left: 10px!important; } 
    .info-title h2.gt-fs-18 { font-size: 17px; }
    .gt-mr-mi { margin-left: -7px; }
    .gt-custom-nav .login-user{ float: left; padding: 10px 0px 5px 0px; }   
    .gt-custom-nav .loc-select .gt-form-primary { width: 100%; padding-left: 8px; }
    .gt-custom-nav .loc-select .gt-secodary-select { width: 100%; }    
    .gt-custom-nav .offers-select .gt-form-primary { width: 100%; }
    .gt-custom-nav .offers-select .gt-secodary-select { width: 100%; background-color: #F6F8FC; padding: 9px 5px 9px 11px; background-size: 13px 14px !important; border-radius: 8px;}    
    .gt-custom-nav .trade-select .gt-form-primary { width: 100%; }
    .gintaa_headerloc { margin-top: 10px!important; }
    .gt-custom-nav .lan-select .gt-form-primary { width: 100%; }
    .gt-custom-nav .lan-select .gt-secodary-select { width: 100%; }
    .gt-navbar-main .gt-nav-middle { margin-bottom: 10px!important;}    
    .cate-list { margin-right: 13px!important; }
    .personal-information{ display: flex; justify-content: space-between; align-items: center; }
    .personal-information .gt-ml-55 { margin-left: 0px; }    
    .deal-user .feed-back-cards{ padding-top: 15px; }    
    mat-timepicker-dialog .root { min-width: 258px!important; }
    mat-timepicker-dialog .root .header{ font-size: 45px!important;}    
    .st-security, .st-notis{ font-size: 20px; }
    .display-block-rp, .my-deal-aucton{ display: block; }
    .offer-date-rp{ display: flex; align-items: center; justify-content: space-between; margin-top: 10px; }
    .msg-send-user{ padding-left: 10px; padding-right: 10px; }
    .offer-date-rp .gt-mt-5 { margin-top: 0px; }
    .deal-soffer .gt-fs-21 { font-size: 16px; }
    .pb-wrapper, .pb-wrapper .mat-radio-button, .pb-wrapper .mat-radio-label-content, .pb-wrapper .packing-card{ 
        width: 100%; margin-left: 0px; }  
    .select-junctions { width: 100%!important; padding-right: 30px; }   
    .gt-custom-nav .trade-select { width: 109px; padding-left: 5px; padding-right: 0px; } 
    .gintaa-trade .gt-mr-19 { margin-right: 5px; } 
    .gintaa_headerloc { width: 273px; margin-top: 0px; }  
    .gintaa_headerDrops { width: 290px; margin-top: 10px; }
    .gintaa_headerDrop { margin-top: 10px; }    
    .choose-box{ width: 90px; height: 90px; }
    .wallet-primary { padding: 0px 5px!important; }
    .redeem-btn{ width: 93%;}
    .waleet-tran, .wtran-details{ padding-left: 10px; padding-right: 10px; }
    .review-aucton, .go-auction{ margin: 0 auto; width: 95%; }
    .go-auction { margin-top: 20px; } 
    .business-block-display, .myo-rp{ display: block; }
    .bep-rp{ margin-left: -40px; }    
    .sub-admin-wrapper .gt-pd-lr-32 { padding-left: 5px; padding-right: 5px; }
    .image-crop-section { height: 300px; }
    .rpre-rp { width: 100%; }
    .ofo-rp { top: 5px !important; }
    .app-title, .gt-junction, .title-trade { font-size: 22px!important; }
    .app-btn-banners { margin-top: 30px; }
    .app-btn-banners img{ width: 80px; }
    .get-image .gt-yut { width: 60px; height: 60px; }
    .offer-dstepper .stepper-header .steps .step { font-size: 10px !important; }
    .my-baccount-add { display: block; }
    .hfb-account { margin-top: 20px; }
    .new-offerstbd .custom-ltabs { width: 280px; }
    .new-offerstbd .nav-tabs .nav-link.active { padding: 5px 11px; }
    .new-offerstbd .custom-ltabs .nav-item { padding: 5px 11px; }
     
    // new responsive
    .slider-heiyu { float: left; height: 250px; }
    .swiper-primary .swiper-container { height: 150px; }
    .swiper-wrapper { height: 150px; }
    .swiper-primary .swiper-container .swiper-wrapper .swiper-slide { height: 150px; }
    .swiper-primary .swiper-container .swiper-wrapper .swiper-slide img { height: 150px; }
    .rp-ghyw { font-size: 15px; }
    .rp-ghwa { font-size: 11px; font-weight: normal; }
    .rp-dfrt { font-size: 10px; }
    .rp-gpux { font-size: 11px; }
    .rp-dkhp { width: 14px; height: auto; }

}

@media only screen and (min-device-width: 361px) and (max-device-width: 576px){
    .carousel-control-prev, .carousel-control-next { width: 17%!important; }
} 




@media only screen and (min-device-width: 0px) and (max-device-width: 991px) {
    .enter-password-title .gt-pr-155, .enter-location-title .gt-pr-215, .date-birth-title .gt-pr-210, 
    .user-register, .user-policy, .check-email-title .gt-plr-135, .enter-password-title .gt-pr-185,
    .behalf-title .gt-pr-115, .behalf-title .gt-pr-110, .hup-title .gt-pr-170 { padding-right: 0px; }
    .check-email-title .gt-plr-135, .nomatch-rp { padding: 0px; }    
    .match-box-select{ margin-left: 0px; margin-top: 20px; }
    .cate-list { margin-right: 18px; margin-left: 0px !important; }
    .viewed-mb-32{ margin-bottom: 32px; }      
    .gog-btn { margin-left: 0px; margin-top: 15px; }
    .gt-service-bg { margin-top: 0px; }
    .product-des-desire .h6 { padding-right: 0px; }
    .others-profile-left { height: auto; background-size: 100% 30%; padding-bottom: 40px; border-radius: 16px; -webkit-border-radius: 16px; -moz-border-radius: 16px;}
    .gt-feedback-user{ margin-top: 33px; }
    .block-user-wrapper, .hide-offer-wrapper { width: 100%; }
    .new-address { width: 100%; max-height: 95vh; min-height: 80vh; overflow-y: auto; overflow-x: hidden;}
    .new-address .loc-map agm-map{ height: 420px; }
    .incoming-deals-wrapper { width: 100%; }    
    .close-offer-clone .gt-clone-btn { position: relative; right: 0; top: 0px; height: 27px; width: 71px; margin: 10px 0px; float: right; }
    .list-offer { height: auto; }
    .choose-offer-popup { width: 100%; }
    .select-save { margin-bottom: 20px; }
    .all-cat-filter, .filter-price-deal{ width: 100%; margin-right: 10px;}
   .all-cat-filter .gt-deal-283 { width: 100%; }
   .filter-price-deal .gt-deal-325 { width: 100%; }
   .close-cancel-top, .waiting-btn { margin-top: 40px;}
   .waiting-close, .waiting-btn { padding-left: 10px; padding-right: 10px; }
   .close-cancel-top .close-responsive{ max-width: 100%; height: auto; }
   .user-fdback-image, .fdback-user-name{ margin-top: 5px; }
   .fdback-rating, .fdback-commt { margin-top: 10px; }
   .fdback-qua{ margin-top: 15px; }
   .feed-tag{ font-size: 14px; }   
   .comments-wrapper{ padding-left: 0px; }
   .gt-custom-nav .loc-select { margin-left: 0px; }
   .gintaa_headerloc { left: 0px; } 
   .redeem-pyment{ padding-right: 0px;}
   .gt-wh-btn{ width: auto; }   
   .offers-topbs{ margin-top: 40px; }
   .addcomy-wrapper { padding-left: 0px; padding-right: 0px; }
   .comments-input{ padding-right: 0px; }
   .benss-scroll { max-height: 480px; }
   .na-rp { right: 10px !important; top: 6px !important; }
   .na-rp span{ font-weight: 700; font-size: 18px; }
   .notification-user{ margin: 0px 15px; }
   .offers_headerDrops{ left: 0; margin-top: 20px; }
   .ctab-rp .nav-link.active, .ctab-rp .nav-item.show .nav-link, .ctab-rp .nav-item { margin-right: 10px; margin-bottom: 10px; }
   .new-address-create { height: 90vh; min-height:85vh; overflow-y: auto; overflow-x: hidden;}   
   .hfn-rp{ margin-top: 10px; } 
   .gintaa_language, .gintaa_headerDrop{ right: 0px;}
   .auc-shadow{ margin-bottom: 10px;}
   .auction-timing { padding: 0px 12px; }

//    new-responsive
   .list-menub{ display: none; }
   .user-caros-slider .carousel-indicators { bottom: 10px; }
   .user-caros-slider .carousel-indicators li { width: 10px; height: 4px; margin-right: 5px; margin-left: 0px; text-indent: 0px;
    background-color: rgba(193, 193, 193, 0.8); border: 0px solid transparent; cursor: pointer; opacity: 1; }
    .app-dlink, .create-olink{ width: 49%; margin-top: 20px; }
    .app-dlink { margin-right: 13px; }
    .trcard-cate { margin-top: 20px; }    
    .search-texth { margin-left: 0px; }
    .myoffer-list { padding-left: 10px; padding-right: 10px; }
    .second-popup { width: 100%; padding: 12px; }
    
    .rp-mb-10{ margin-bottom: 10px; }
    .offer-details-wcol { margin-top: 30px; display: block;}
    .drift-zoom-pane, .drift-open { display: none!important; }
     
    .offerd-left { padding-right: 0px; }
    .add-oofersetails { display: none!important;}
   
    .close-deal-scroll{ min-height: 75vh; overflow-y: auto; overflow-x: hidden; max-height: 75vh; }
    .add-bankh-account{ min-height: 54vh; overflow-y: auto; overflow-x: hidden; max-height: 90vh; }  
    .inactive-swascroll{ min-height: 64vh; overflow-y: auto; overflow-x: hidden; max-height: 64vh; }
    .business-scroll{ min-height: 78vh; overflow-y: auto; overflow-x: hidden; max-height: 78vh; }
    .bswitch-auto{ min-height: 75vh; overflow-y: auto; overflow-x: hidden; max-height: 75vh; }
    .croph-wrapper{ min-height: 84vh; overflow-y: auto; overflow-x: hidden; max-height: 84vh; }
    .hide-offer-wrapper{ min-height: 65vh; overflow-y: auto; overflow-x: hidden; max-height: 65vh; }
    .hide-offerh-wrapper{ min-height: 65vh; overflow-y: auto; overflow-x: hidden; max-height: 65vh; }
    .auction-popup{ min-height: 60vh; overflow-y: auto; overflow-x: hidden; max-height: 65vh; }
    .price-details-rph { margin-top: 20px; }
    .revire-paynowk { margin-top: 40px; }
    .mobile-menu .container-fluid { flex-wrap: nowrap!important;}
    .gift-hp { padding-right: 0px; }
    .rp-trackh { display: block; }
    .change-addg { float: left;  width: 100%; }
    .poffer-card .poffer-des { padding-right: 0px; }
    .rp-aname { margin-bottom: 10px; }
    .business-list-switch { width: 100%; }
}  

@media only screen and (min-device-width: 0px) and (max-device-width: 767px){
    .login-left-wrapper { min-height: auto; border-radius: 16px 16px 0px 0px; -webkit-border-radius: 16px 16px 0px 0px; -moz-border-radius: 16px 16px 0px 0px; }
    .user-login{ background-color: #ffffff; border-radius: 16px; -webkit-border-radius: 16px; -moz-border-radius: 16px;}
    .login-right-rp { margin-top: 10px; padding: 20px 15px 10px 15px; }
    .new-user-email-rp, .eupv-rp, .nuov-rp, .profile-phone-rp, .prol-rp, .prdg-rp, .prua-rp, .profile-name-rp{ padding: 0px 15px 30px 15px; }     
    .mail-details .gt-fs-19 { font-size: 17px; }
    .husl-rp{ padding: 100px 15px 100px 15px; }
    .fgpu-rp{ padding: 85px 15px 115px 15px; margin: 0px; }
    .next-rp{ margin-top: 60px; }    
    .pru-rp{ margin-top: 100px; padding: 0px 15px 110px 15px; }        
    .pu-zero-rp{ padding-right: 15px; margin-bottom: 10px;}    
    .gt-social-ft{ float: none;justify-content: center; align-items: center; margin-top: 20px; }
    .add-wpmt-30{ margin-top: 30px; }
    .left-banner-image-three, .left-banner-image-two, .left-banner-image{ margin-top: 10px; align-items: center; text-align: center; padding: 0px 30px;}
    .profile-address { margin-top: 20px; }
    .app-title, .gt-junction, .title-trade{ font-size: 25px; }
    .app-titles, .app-para, .junction-title, .para-ones, .can-get{ font-size: 16px; }
    .app-btn-banner{ margin-top: 20px; }
    .app-btn-banner img { width: 250px; display: flex; justify-content: center; align-items: center; margin: 0 auto; }
    .gog-btn{ margin-top: 0px!important; margin-left: 10px;}
    .right-banner-image{ margin-top: 10px; }
    .right-banner-image .app-store-ab { height: auto; width: 55%; display: flex; justify-content: center; align-items: center; margin: 0 auto; }
    .jn-banner{ margin-top: 10px; } 
    .jn-banner img{ width: 40%; margin: 0 auto; display: flex; justify-content: center; align-items: center; } 
    .jun-two-banner{ width: 50%; margin: 0 auto; display: flex; justify-content: center; align-items: center; margin-top: 20px; }
    .can-get{ margin: 20px 0px; }
    .get-image, .con-rp, .psg-rp, .prol-rp { margin-top: 0px; }    
    .get-image .gt-ml-48 { margin-left: 10px; }
    .and-others{ padding: 0px; font-size: 16px; margin-top: 10px; }
    .banner-primary{ width: 70%; margin: 0 auto; display: flex; justify-content: center; align-items: center; margin-top: 20px;}
    .match-search-input, .match-box-select { width: 100%; }
    .unauth-match{ margin-top: 110px; }    
    .gt-wh-btn { font-size: 16px; padding: 10px 20px; }      
    .auctions-prenext a.arrow_left{ left: 10px!important;}
    .auctions-prenext a.arrow_right{ right: 10px!important; } 
    .wants-return-desire ul li { margin-bottom: 16px; }
    .product-plt{ display: block; float: left; width: 100%; }    
    .login-connect .btn-contact { white-space: normal; word-wrap: break-word; }
    .user-profile-wrapper { width: 100%; }
    .play-lavel, .watch-subs, .information-personal, .profile-address, .pr-email, .pr-phone{ padding: 0px 10px; }
    .information-personal{ margin-top: 30px; }
    .recom-offer-secondary{ margin-top: 20px; }
    .pro-gd-group .mat-radio-button { margin-right: 15px; margin-bottom: 15px;}
    .date-birth-custom{ margin-top: 10px; }
    .section-height{ height: auto; }
    .block-user-wrapper { width: 100%; display: block;}
    .gt-subkit-cancel{ padding-bottom: 20px; }
    .will-pay, .trading-offer { display: block;}
    .will-pay-rp, .price-pay-rp { width: 250px; }
    .price-pay-rp{ margin-left: 0px; margin-top: 20px; }
    .choose-delivery-options h3 { word-wrap: break-word; }
    .examp-radio-button .mat-radio-label { white-space: break-spaces; }
    .deal-edit-preview{ display: block; }
    .back-edits{ margin-right: 0px; width: 100%; }
    .make-coffer{ margin-top: 20px; width: 100%; }
    .deal-fclose{ margin-bottom: 30px; }
    .deal-fclose img, .deal-fclose h4{ display: flex; justify-content: center; align-content: center;  margin: 0 auto; width: 100%; text-align: center; }
    .deal-fclose h4 { margin-top: 20px; }
    .closed-box { width: 100%; margin-top: 0px; }
    .closed-box-deal { width: 40%; height: auto; flex-direction: column; padding-top: 10px; }
    .closed-box-deal .gt-ml-9 { margin-left: 0px; }
    .closed-box-deal .deal-oimg{ margin-bottom: 10px; }
    .title-accrp, .incoming-wrapper-rp{ margin-top: 20px; }
    .deal-close-date{ margin-bottom: 20px; }
    .sugg-slider{ margin-top: 80px; }
    .condition-btn-primary { margin-bottom: 12px; }
    .upload-text .gt-pd-lr-120 { padding-left: 10px; padding-right: 10px; }
    .user-feedback-wrapper { width: 100%; padding: 24px 10px; }
    .change-popup-wrapper, .wish-list-rp { width: 100%; }
    .cp-image{ width: 100%; height: auto; }
    .msg-reply-group { max-width: 100%; }
    .chat-deal-nav, .chat-offer-search, .chat-offer-card, .deal-wrapper-rp, .srts-primary, .offer-search-chat{ padding-left: 8px; padding-right: 8px; }
    .third-perty-wrapper{ padding-left: 32px; }    
    .packing-card{ margin-bottom: 20px; }
    .tpd-card { margin-left: 0px; margin-bottom: 20px;}
    .delivery-company{ margin-top: 40px;}
    .select-junctions { width: 260px; }
    .junctions-delplace { margin-left: 0px; margin-top: 40px; }
    .match-main{ display: block; }
    .match-secondary { margin-top: 20px;}
    .refer-gift{ width: 100%; height: auto; }  
    .refer-btn { width: 96%; }
    .refer-left { padding-left: 10px; }
    .quantity-input{ margin-top: 24px; }     
    .time-list-delete{ margin-left: 15px; }              
    .header-deal-status { padding-right: 0px; padding-left: 0px;}
    .gt-custom-nav .trade-select { margin-right: 10px; }
    .cb-account{ margin: 0 auto; }
    .search-filter, .vl-rp { margin-top: 24px; }   
    .wish-showall-rp{ width: 85px; } 
    .add-wish-btn { width: 140px; }
    .wallet-primary { padding: 0px 24px; justify-content: space-between; }
    .wallet-choose{ margin: 0px; }
    .auction-popup{ width: 100%; }
    .closeauction-primary, .closeauction-secondary{ padding: 0px 10px;}
    .bids-box{ margin-bottom: 20px; }
    .empty-offer{ width: 100%; height: auto; }      
    .width-160 { width: 100%; margin-bottom: 20px; }
    .color-select { right: 22px; }
    .category-tabs .nav-link { margin-right: 15px; display: flex; width: 28%; }
    .tl-width-475 { width: 100%; margin-top: 20px; float: left; }
    .admin-business-wrapper, .product-title-tranding { width: 100%; }
    .open-business-admin { width: 90px; }
    .lw-rp{ padding-top: 0px; }
    .lpc-rp{ right: 6px; top: 7px; }
    .login-with-mt { margin-top: 35px; }
    .trade-title { padding-top: 40px; }
    .wel-rp { margin-top: 35px; }
    .pn-rp, .prdg-rp { margin-top: 30px; }
    .skp-rp { right: 10px; top: 6px; }
    .gb-rp { left: 10px; top: 7px; }
    .pmc-rp{ margin-bottom: 20px; padding-left: 0px; padding-right: 0px; }    
    .em-rp, .lc-rp, .upn-rp{ margin-top: 20px; }    
    .paf-rp, .psf-rp { margin-bottom: 20px; }
    .profile-phone-rp, .prol-rp { margin-bottom: 0px; }
    .enter-location-title { margin-top: 15px; }
    .vyo-rp{ padding-top: 8px; padding-bottom: 30px; }
    .unc-rp{ padding-bottom: 10px; }
    .vlu-rp { margin-top: 0px; }
    .pls-rp, .paf-rp, .dos-rp, .dop-rp, .wd-rp { padding: 0px; }
    .image-crop-section { height: 400px; }
    .trade-rp, .gj-rp, .business-brp, .reward-rp, .reff-rp, .insur-rp, .inchk-rp, .mem-rp, .right-banner-image, 
    .jn-banners, .jn-banner{ display: none;}
    .bredcum-title{ align-items: flex-start; width: 100%; }
    .bredcum-title ul.bredcum-nav, ul.bredcum-nav li { display: block; }
    .brdcum-icon { margin-top: 4px; }
    .dop-rp, .csb-rp, .hoc-rp{ margin-top: 30px; }
    .db-cancel, .bg-dsubmit{ height: 48px; }
    .login-wrapper{ max-height: 95vh; min-height: 65vh; overflow-x: hidden; overflow-y: auto; width: 100%; float: left;}
    .login-left-wrapper { background: #fff; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }
    .lwra-rp { margin-top: 30px; }
    .log-logo{ width: 150px; }    
    .login-usrer{ margin-top: 00px; }
    .tranding-list{ float: left; margin-top: 30px; } 
    .frd-rp, .pls-rp { margin-top: 0px; }
    .hyu-rp { margin-top: 15px; margin-bottom: 5px; }
    .gyu-rp { margin-top: 15px; margin-bottom: 0; font-size: 16px;}
    .prua-rp { margin-top: 15px; }    
    .cay-rp .nav-link { width: auto; }
    .cay-rp .nav-link.active{ background-color: #48CEF3 !important; color: #fff !important; font-size: 13px !important; padding: 5px 10px !important; margin-left: 0px!important; }
    .cay-rp .nav-link{ margin-left: 0px!important; }
    .whc-rp { height: 250px; }    
     
    // new responsive
    .sear-customh{ display: none; }
    .wel-trade { color: #121212;}  
    .welcome-to { margin-top: 15px; padding-left: 10px; padding-right: 10px;}  
    .loggin-rp{ margin-top: 0px; }
    .login-start { margin-top: 0px; }
    .mob-rowrp .row-custom .col-left-custom { display: none; }
    .mobh-filter-deal{ min-height: 100vh; overflow-y: auto; overflow-x: hidden; max-height: 100vh; }
    .ft-social-icon{ align-items: center; display: flex; justify-content: center; margin-top: 15px;}
    .copy-right { display: block; }
    .ft-logo{ width: 158px; margin: 0 auto; }
    .copy-right-text { line-height: 20px; text-align: center; margin-top: 15px; }
    .rp-mtja{ margin-top: 10px; }
    .rp-ndg { margin-top: 20px; }
    .add-oofersetails { display: none; }
    .offerd-left { padding-right: 0px; }
    .offerd-right { max-width: 100%; width: 100%; float: left; margin-top: 20px; }
    .deal-offer-wrapperh, .deal-offer-wrapperk{ display: block; }
    .deal-offer-primary-left { float: left;}
    .rp-deal-arrow { display: block; float: left; width: 100%; margin-top: 30px; margin-bottom: 30px; padding-left: 100px; }
    .deal-offer-secondary-right { float: left; }
    .rp-deal-arrow .image-arrow { transform: rotate(90deg); }
    .rk-col-3, .rk-col-1 { padding-right: 15px; }
    .rk-col-4, .rk-col-2 { padding-left: 15px; }
    .offer-dstepper .stepper .stepper-body { height: 50px; }
    .offer-dstepper .stepper .stepper-body .content { height: 50px; }
    .business-account-wrapper { width: 100%; }
    .add-bankh-account { width: 100%; }
    .add-member-wrapper { width: 100%; }
    .rp-lr-12{ padding-left: 12px; padding-right: 12px; }
    .business-compny h2{ font-size: 14px; }
    .tilist-2{ padding-right: 20px; padding-left: 0px; }
    .height-details { height: auto; }
    .rpmem-1, .rpmem-2 { width: 100%; padding: 0px 10px 10px 10px;  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-right: none;  margin-bottom: 10px; }
    .rpmem-3 { width: 100%;  padding-top: 0px; }
    .boffgt-yu { display: block; }
    .offersh-topbs { margin-top: 40px; }
    .lserch-hash { margin-left: 0px; width: 100%; float: left; margin-top: 15px; }
    .ldris-serch { width: 100%; }
    .hyr-eps, .hyup-gh, .ghjgt-ry { float: left; margin-top: 20px;}
    .hyr-eps { margin-left: 0px; }


    .list-hpyu{ display: block; }
    .rph-odrh{ padding-left: 10px; padding-right: 0px; }
    .ghyp-rg { font-size: 14px; } 
    .ght-ry { font-size: 13px; }
    .rp-lvrih { display: block!important; float: left!important; width: 100%!important; }
    .rp-dgry { width: 100%!important; padding: 0px 10px!important; border: none!important; }
    .hrgy-ndh { margin-top: 10px; }
    .werct-putn { margin-top: 5px; padding-left: 40px; }
    .list-view-card .list-view-right .offer-right .offer-lcount .tag-offer { height: 25px; }
    .list-view-card .list-view-right .offer-right .offer-lcount .tag-offer .tag-imgoff {
        width: 15px; height: 15px; margin-right: 10px; }
    .list-view-card .list-view-right .offer-right .offer-lcount .tag-offer span {
         font-weight: 400; font-size: 13px; }
     .rp-dleiu { margin-top: 10px; } 
     .wecf-mghb { font-size: 12px; font-weight: 400; } 
     .copy_right_section { padding: 54px 0; }  
     .hyoffer-name { font-size: 17px; }

     ul.bredcum-nav li .brelink .link-rh, ul.bredcum-nav li .brelink .no-link, ul.bredcum-nav li .brelink .link-ph { font-size: 12px; }
     .gl-grouph { display: block; float: left; width: 100%; }
     .add-timd-hyu { margin-top: 20px; }
     .search-loctions { width: auto; margin-right: 10px; }
     .deal-filter-scroll{ min-height: 100vh; overflow-y: auto; overflow-x: hidden; max-height: 100vh; }
     .rp-nuov, .rp-slogin, .next-btn-phkl { margin-top: 20px; }
     .rp-uflogin { margin-top: 0px; } 
     .rp-elsu { margin-top: 40px; }
     .pae-rp, .profile-loader-content, .pho-next { margin-top: 0px; }
     

}

     

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {        
    .para-ones, .can-get{ font-size: 19px; }
    .get-image .gt-ml-48 { margin-left: 10px; }    
    .title-trade, .gt-junction { font-size: 35px; }
    .app-title{ font-size: 27px; }
    .app-titles{ font-size: 17px; }    
    .right-banner-image .app-store-ab { height: auto; }
    .gt-deal-325 { width: 260px; }
    .gt-deal-283 { width: 200px; }
    .tl-width-475 { width: 50%; }
    .gb-rp { left: 4px; top: 5px; }
    .lpc-rp, .skp-rp { right: 4px; top: 3px; }    
    .paf-rp{ padding: 0px; margin-bottom: 20px; }
    .prua-rp, .wel-rp { margin-top: 40px; }
    .psf-rp { margin-top: 5px; margin-bottom: 5px; }
    .em-rp, .prol-rp, .pae-rp { margin-top: 20px; }
    
    .pmc-rp, .frd-rp, .pls-rp { padding: 0px; }    
    .prdg-rp { margin-top: 50px; }
    .vyo-rp { padding-top: 10px; }
    .vlu-rp { margin-top: 0px; }
    .trade-rp .banner-trade{ width: 300px; height: auto; margin-top: 60px; }
    .gj-rp .bgintaa-junction{ width: 300px; height: auto; margin-top: 200px; }
    .business-brp .banner-business{ width: 280px; height: auto; margin-top: 50px; }
    .insur-rp, .inchk-rp{ display: flex; justify-content: center; align-items: center; float: none;}
    .insur-rp .banner-insurance { width: 250px; height: auto; margin-top: 30px; }
    .inchk-rp .binsurance-check  { width: 300px; height: auto; margin-top: 100px; }
    .mem-rp .banner-membership { width: 350px; height: auto; }

    .mat-dialog-container { overflow-x: hidden !important; overflow-y: auto !important; }    
    .mat-dialog-container::-webkit-scrollbar { display: none!important; }
    .cdk-overlay-pane { overflow-x: hidden !important; overflow-y: auto !important; } 
    .cdk-overlay-pane::-webkit-scrollbar { display: none!important; } 

    // new responsive
    .login-wrapper{ width: 100%; float: left; }
    .row-custom .deal-col-left { flex: 0 0 200px; max-width: 200px; padding: 0px 10px 0px 0px; }
    .section-1 { width: 20%; }
    .section-2 { width: 20%; }
    .section-3 { width: 25%; }
    .section-4 { width: 50%; margin-top: 20px;}
    .section-5 { width: 50%; margin-top: 20px; }
    .section-6 { width: 30%; }
    .ft-social-icon{ align-items: center; display: flex; justify-content: center; margin-top: 15px;}
    .offerd-right { max-width: 50%; width: 50%; float: left; margin-top: 20px; }
    .rk-col-3, .rk-col-1 { padding-right: 15px; }
    .rk-col-4, .rk-col-2 { padding-left: 15px; }
    .rpmem-1, .rpmem-2 { padding: 0px 10px; }
    .offersh-topbs { margin-top: 40px; }
    .lserch-hash { margin-left: 25px;  width: 350px; }
    .ldris-serch { width: 100%; }

    .slider-heiyu { float: left; height: 500px; }
    .swiper-primary .swiper-container { height: 400px; }
    .swiper-wrapper { height: 400px; }
    .swiper-primary .swiper-container .swiper-wrapper .swiper-slide { height: 400px; }
    .swiper-primary .swiper-container .swiper-wrapper .swiper-slide img { height: 400px; } 

    .search-loctions { width: auto; margin-right: 10px; }
    .login-left-wrapper{ min-height: 450px; }
    .rp-uflogin { margin-top: 0px; }
    .rp-uloginh { margin-top: 75px; }
    .ghy-rp { margin-bottom: 35px; }
    .rp-fpemail { font-size: 12px; }
    .yrt-iop { margin-bottom: 0px; }
    .pho-next { margin-top: 0px; }
    .upn-rp { margin-top: 25px; }
    .frd-rp { margin-top: 0px; }
    .hyu-rp { margin-top: 20px; margin-bottom: 10px; }

    
}


@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {  
    .tl-width-475 { width: 50%; }  
    .trade-rp .banner-trade{ width: 400px; height: auto; margin-top: 60px; }
    .gj-rp .bgintaa-junction{ width: 350px; height: auto; margin-top: 115px; }
    .insur-rp, .inchk-rp{ display: flex; justify-content: center; align-items: center; float: none;}
    .insur-rp .banner-insurance { width: 250px; height: auto; margin-top: 30px; }
    .inchk-rp .binsurance-check  { width: 300px; height: auto; margin-top: 100px; }
    .mem-rp .banner-membership { width: 400px; height: auto; }
    .search-offer .col-lg-4 { flex: 0 0 50%; max-width: 50%; } 
    .published-offers .col-lg-4 { flex: 0 0 50%; max-width: 50%; } 
    .row-custom .deal-col-left { flex: 0 0 200px; max-width: 200px; padding: 0px 10px 0px 0px; }
    .header-offer-status { margin-left: 30px; }
    .user-hwidth { margin-left: 40px; }
    .search-loctions { width: 140px; }

}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1199px) {
    .trade-rp .banner-trade{ width: 400px; height: auto; margin-top: 60px; }
    .gj-rp .bgintaa-junction{ width: 350px; height: auto; margin-top: 115px; }
    .insur-rp, .inchk-rp{ display: flex; justify-content: center; align-items: center; float: none;}
    .insur-rp .banner-insurance { width: 250px; height: auto; margin-top: 30px; }
    .inchk-rp .binsurance-check  { width: 300px; height: auto; margin-top: 100px; }
    .mem-rp .banner-membership { width: 400px; height: auto; }
    .row-custom .deal-col-left { flex: 0 0 200px; max-width: 200px; padding: 0px 10px 0px 0px; }
    .search-loctions { width: 140px; }        
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1279px) {
    .product-des-desire .h6 { padding-right: 0px; }
    .ctab-rp .nav-link.active, .ctab-rp .nav-item.show .nav-link, .ctab-rp .nav-item { padding: 5px 12px; }
    .search-loctions { width: 140px; }
}
@media only screen and (min-device-width: 1280px) and (max-device-width: 1920px) {



}

@media only screen and (min-device-width: 576px) and (max-device-width: 1024px) {  
    .list-view-scondary { display: block; }
    .list-view-card .list-view-middle .list-view-scondary .offerl-details { width: 100%; padding-left: 10px;
          padding-right: 5px;} 
    .list-view-card .list-view-middle .list-view-scondary .offer-lvcount { width: 100%; float: left;
        padding-top: 10px; padding-left: 10px; padding-right: 5px; display: flex;}
    .list-view-card .list-view-middle .list-view-scondary .offers-favview { width: 100%; width: 100%;
        float: left; padding-top: 10px; padding-left: 10px; padding-right: 5px;}
    .offerl-details .offrel-name { margin-top: 0px; }
    .offerl-details .loffer-desire{ margin-top: 10px; }
    .offerl-details .offerl-des{ margin-top: 10px; }
    .list-view-card .list-view-middle .list-view-scondary .offer-lvcount .offer-value { width: 100%; }
    .list-view-card .list-view-middle .list-view-scondary .offer-lvcount .offer-quantity { width: 100%; padding-top: 0px; }
    .offers-favview { padding-top: 15px; }
    .offers-favview .offer-status{ margin-top: 0px;}

}

@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {    
    .product-plt{ display: block; float: left; width: 100%; } 
    .offer-money, .offer-locs { float: left; width: 100%; margin-right: 0px;}
    .offer-money, .offer-locs{ margin-bottom: 20px; }
    .login-connect .btn-contact { white-space: normal; word-wrap: break-word; }
    .product-des-desire .h6 { padding-right: 0px; }
    .get-image .gt-ml-48 { margin-left: 15px; }
    .and-others { padding-right: 55px; } 
    .app-title { font-size: 38px; }
    .app-btn-banner img { width: 210px; height: 62px; }
    .app-btn-banner{ display: flex; }    
    .gintaa-trade .gt-mr-19 { margin-right: 5px; }
    .gt-custom-nav .trade-select { width: 110px; margin-right: 10px; padding-left: 5px; padding-right: 0px; }    
    .gt-custom-nav .loc-select { margin: 0px 10px; }
    .gt-custom-nav .login-user { margin-left: 10px; }
    .search-autocom{ min-width: 500px!important; margin-left: -102px; }    
    .open-business-admin { width: 90px; }    
    .notification-user{ margin: 0px 15px; }
    .gintaa_headerloc { right: -140px; }
    .ctab-rp .nav-link.active, .ctab-rp .nav-item.show .nav-link, .ctab-rp .nav-item { font-size: 16px; padding: 5px 12px; margin-right: 10px; }
    .gintaa_headerDrops { right: -55px; }
    .auction-timing { padding: 0px 12px; }
    .offer-details-wcol { display: block; width: 100%; }
    .offerd-left { padding-right: 0px; }
    .offerd-right { float: left; width: 100%; max-width: 100%; margin-top: 30px; }
    .lserch-hash { margin-left: 30px; }
    .lshow-all { width: auto; }

    //new responsive
    .section-1 .gt-fs-16, .section-2 .gt-fs-16, .section-3 .gt-fs-16, .section-4 .gt-fs-16, .section-5 .gt-fs-16, .section-6 .gt-fs-16 { font-size: 14px; }
    .fm-color, .fadd-color, .vh-color { font-size: 12px; }
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1120px) {
    .enter-password-title .gt-pr-155, .enter-location-title .gt-pr-215, .date-birth-title .gt-pr-210, 
    .user-register, .user-policy, .check-email-title .gt-plr-135, .enter-password-title .gt-pr-185,
    .behalf-title .gt-pr-115, .behalf-title .gt-pr-110, .hup-title .gt-pr-170 { padding-right: 0px; }
    .check-email-title .gt-plr-135 { padding: 0px; }

}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1301px) {
    // slider arrow responsive problem
}


@media only screen and (min-device-width: 768px) and (max-device-width: 3000px) {
    .mob-filter{ display: none; }
    .mob-search{ display: none; }
    .showh-on-mobile {display: none;}
    .mobh-offer-scroll { display: none; }
    .list-location{ display: none!important; }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 991px) {
    .header-secondary { display: none; }
    .user-caros-slider .carousel-control-next-icon{ display: block!important; }
    .user-caros-slider .carousel-control-prev-icon{ display: block!important; }
    body{ padding-top: 60px; }    
}

@media only screen and (min-device-width: 992px) and (max-device-width: 3000px) {
    .mobile-menu { display: none; }    
    
}


@media only screen and (min-device-width: 768px) and (max-device-width: 800px) {
    .row-custom .col-left-custom { flex: 0 0 200px; max-width: 200px; padding: 0px 10px 0px 0px; }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1199px) {
    // .item-wrapper .rp-col-fluid{ max-width: 100%; width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto;
    //     margin-left: auto; }
    // .offer-create-custom .rp-col-fluid{ max-width: 100%; width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto;
    //         margin-left: auto; }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
    // .new-deal-wrapper .rp-col-fluid{ max-width: 100%; width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto;
    //     margin-left: auto; }
   .rk-col-3, .rk-col-1 { padding-right: 15px; }
   .rk-col-4, .rk-col-2 { padding-left: 15px; }

}

















// home page responsive start


@media only screen and (min-device-width: 0px) and (max-device-width: 320px){
    
} 
@media only screen and (min-device-width: 321px) and (max-device-width: 360px){
    

} 
@media only screen and (min-device-width: 361px) and (max-device-width: 480px){
    .essential-service-col-50 { flex: 0 0 50%; max-width: 50%; } 
    .eservice-imgrp { height: auto; }  
    
} 


@media only screen and (min-device-width: 481px) and (max-device-width: 575px){    
   .essential-service-col-50 { flex: 0 0 50%; max-width: 50%; } 
   .eservice-imgrp { height: auto; }
 } 


@media only screen and (min-device-width: 576px) and (max-device-width: 640px){
    .eservice-imgrp { height: auto; }
} 

@media only screen and (min-device-width: 641px) and (max-device-width: 767px){
    .eservice-imgrp { height: auto; }
} 

@media only screen and (min-device-width: 0px) and (max-device-width: 767px){
    
    .step-5 img, .step-6 img, .step-7 img, .step-8 img { max-width: 100%; height: auto; }
    .castep-1, .castep-2, .castep-3 { margin-bottom: 30px; }
    .chat-container-content{
        height: calc(100vh - 285px);
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 991px){
    .addh-wrapperu { padding: 0px; } 
    .he-banner-4 { width: 100%; height: auto; margin-bottom: 20px; } 
    .he-bannerh-4 { width: 100%; height: auto; margin-bottom: 20px; }
    .hmyu-up .bannetrh-video video { width: 100%; height: auto; }
    .crelisting-rp .bannetrh-video video { width: 100%; height: auto; }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {        
    .eservice-imgrp { height: auto; }
    .castep-1, .castep-2 { margin-bottom: 30px; }
}


@media only screen and (min-device-width: 992px) and (max-device-width: 1024px) {  
    .he-banner-4 { height: auto;  width: 100%; }
    .step-group-h1 { height: 200px; }
    .step-5 img { width: 156px; height: auto; }
    .step-img-rp { max-width: 100%; height: auto; }
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1199px) {
    .he-banner-4 { height: auto;  width: 100%; } 
    .step-group-h1 { height: 200px; }
    .step-5 img { width: 156px; height: auto; }
    .step-img-rp { max-width: 100%; height: auto; }   
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1279px) {
    .he-banner-4 { height: auto;  width: 100%; }
    .step-group-h1 { height: 165px; }
    .step-5 img { width: 190px; height: auto; }
    .step-img-rp { max-width: 100%; height: auto; }  
}

@media only screen and (min-device-width: 1280px) and (max-device-width: 1920px) {



}






@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .step-img:after{
        display: none;
    }
}

// home page responsive end
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .img-section {
        margin-top: 15px !important;
    }
    .step-img:after{
        display: none !important;
    }
}

/*---------------------css added by Abhaya---------------------------------------*/
@media only screen and (max-width: 767px) {
    .step-img:after{
        display: none;
    }
    .list-create-video{
        margin-bottom: 15px;
    }
    .gintaa-works {
        font-size: 18px;
        font-weight: 500;
    }
    .step-content-home h2 {
        font-size: 16px;
    }
    .mb-5{
        margin-bottom: 2rem !important;

    }
    .step-content-description{
        min-height: 50px !important;
        margin-bottom: 15px !important;

    }
    .video-introduction-gintaa, .video-cretae {

        height: auto !important;

    }
    .play-btn {
        width: 50px;
    }
    .step-content-home .mb-4 {
        margin-bottom: 12px !important;
    }
    .step-img {
        margin-bottom: 20px !important;
    }
    .how-gintaa-works-sec .col-xs-12:nth-child(4) .step-content-home {
        margin-bottom: 0px !important;

    }
    .live-oct {
        position: absolute;
        right: 20px;
        top: 140px;
        z-index: 99;
    }
    .step-home-2 .live-oct {
        top: 120px;
    }
    .mobile-fluid {
        width: 290px !important;
}
.mobile-fluid .otp_box .otp-input{

    width: 24px !important;

}
.mobile-fluid .otp_form{
    padding: 0 1em !important;

}
.covid-banner-mob{
    padding-top: 10px !important;
}
.userh-otp-wrapper .otp_box .wrapper .otp-input {
    width: 24px !important;
}

}