<div class="login-right-wrapper gt-float-100 gt-pr-25 gt-pb-25 gt-mt-155 pru-rp">
  <div class="gt-float-100">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="password-for gt-float-100">
          <div class="enter-password-title gt-mb-5">
            <h2 class="gt-text-medium gt-fs-16 gt-dark">Enter a new password for</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gt-float-100">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="user-mail gt-float-100">
          <div class="mail-details gt-display-flex">
            <h2 class="gt-text-bold gt-fs-19 gt-light">username@gmail.com </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gt-float-100">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="money gt-float-100 gt-pt-100">
          <div class="currency-group">
            <label class="currency-sr-only">Password</label>
            <div class="currency-input-group gt-input-shadow gt-pt-15 gt-pb-15">
              <div class="currency-input-group-prepend">
                <div class="currency-input-group-text">
                  <span class="material-icons gt-fs-22 gt-light">lock_open</span>
                </div>
              </div>
              <input type="text" class="currency-form-control" placeholder="Fill in your password">
              <div class="currency-input-group-append">
                <div class="currency-input-group-text visib-cursor">
                  <span class="material-icons gt-fs-22 gt-info">visibility</span>
                </div>
              </div>
            </div>

            <div class="password-strength gt-float-100 gt-pt-15">
              <h3 class="gt-text-regular gt-fs-14 gt-dark">Password strength : <span>very week</span></h3>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gt-float-100">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button class="gt-btn-primary gt-width-100 gt-btn-shadow gt-border-radius-2 gt-mt-87">verify</button>
      </div>
    </div>
  </div>
</div>