
    <div class="gt-float-100 gt-mb-15">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="gt-float-100 gt-center gt-mt-30 close-cancel-top">
                    <img src="assets/images/deal/counteroffer-success.svg" alt="image" class="close-responsive" />           
               </div>
               
               <div class="gt-float-100 gt-center gt-mt-50 gt-text-center waiting-close">
                   <h1 class="gt-fs-20 gt-lightblack gt-text-center text-con dcolor-primary">Congratulations !</h1>       
              </div>

               <div class="gt-float-100 gt-center gt-mt-12 waiting-closes">
                   <h2 class="gt-fs-14 gt-text-medium gt-lightblack gt-text-center dcolor-secondary">You have own this auction</h2>       
              </div>

              <div class="gt-float-100 gt-center gt-mt-2 waiting-closes">
                   <h3 class="gt-fs-16 gt-text-medium gt-primary gt-text-center text-succs">SUCCESSFULLY ! </h3>       
              </div> 
              <div class="gt-mt-40 gt-float-100 gt-center my-deal-aucton">               
                <button type="button" (click)="suggestDeal(offerId)" class="gt-btn-primary gt-height-48 gt-center gt-fs-16 gt-text-medium gt-border-radius-2 go-auction bg-change-secondary dark-shadow border-none">proceed</button>
            </div>  
            </div>
        </div>
    </div>
    



